<%#= javascript_include_tag "grade_books.js" %>
<%= javascript_include_tag "jquery.tablesorter.js" %>
<script>
  var changed_grades = {}
  $(document).ready(function() { 
    // call the tablesorter plugin 
    $(".sortable").tablesorter({ 
      // define a custom text extraction function 
      textExtraction: function(node) { 
        // extract data from markup and return it 
        if ($(node.childNodes[0]).is("input")) return $(node.childNodes[0]).val();
        return $(node).text();
      } 
    });
  });
  function change_grade(event){
    var grade_attrs = parse_id($(event.target).attr('id'));
    var score = $(event.target).val();
    var previousValue = $(event.target)[0].defaultValue;
    if(previousValue != score)
    {
      $(event.target).addClass("changedScore");
      changed_grades[grade_attrs.assignment_id+"_"+grade_attrs.student_id] = {
        course_id: grade_attrs.course_id,
        assignment_id: grade_attrs.assignment_id,
        student_id: grade_attrs.student_id,
        score: parseFloat(score)
      };
    }
    else{
      $(event.target).removeClass("changedScore");
      delete changed_grades[grade_attrs.assignment_id+"_"+grade_attrs.student_id];
    }
  }
  function parse_id(idAttr){
      return {"course_id": parseInt(idAttr.split("_")[0]), "assignment_id": parseInt(idAttr.split("_")[1]), "student_id": parseInt(idAttr.split("_")[2])};
  }
  function postAll() {
      var data = {};
      data.grades = Object.keys(changed_grades).map(function(key){return changed_grades[key];});
      $.ajax({
          contentType: "application/json;",
          url: '<%=post_all_grades_path(@course)%>',
          type: "POST",
          data: JSON.stringify(data, null, 1),
          dataType: "json",
          success:function(data){
              if(data["message"] == "true"){
                location.reload(false);
              }
              changed_grades = {};
          },
          error: function(jqXHR, textStatus, errorThrown){
              console.log("Unalbe to submit the record");
              changed_grades = {};
          }

      })
  }


  function saveAsDraft() {

  }
</script>
<style>
  .changedScore{
    border: thin solid;
    border-color: red;
  }
</style>
<h1><%=@course.name %></h1>
  <div style='width:100%;overflow:scroll'>


    <div id="result"></div>
    <div class="score">
      <table class="cmu_table sortable">
        <thead>
          <tr>
            <th style='max-width:78px; word-wrap:break-word;'> First Name
            </th>
            <th style='max-width:78px; word-wrap:break-word;'> Last Name </th>
            <% @assignments.each do |assignment| %>
              <th style='max-width:78px; word-wrap:break-word;'><%="#{assignment.name} (#{assignment.maximum_score})"%></th>
            <%end %>
          </tr>

        </thead>

        <input type="hidden" id="course_id" value=<%=@course.id%> />
        <% @grades.each do |student, grade_entries| %>
          <tr class="<%= cycle('cmu_table_odd', 'cmu_table_even') %>">
            <td><%=student.first_name%>
            </td>
            <td><%=student.last_name%></td>
            <% @assignments.each do |assignment|%>
              <td><input id="<%= @course.id %>_<%=assignment.id%>_<%=student.id%>" value='<%=(grade_entries.has_key?(assignment.id))?(grade_entries[assignment.id].score):""%>' type="text" size="4" onchange="change_grade(event);" /></td>
            <% end %>
          </tr>
        <%end%>
      </table>

      <div style='padding-top:20px;margin-bottom: 40px;'>
        <button type="button" id="gradebook_submit" onclick="postAll()">Submit</button>
        <button type="button" id="gradebook_save_draft" onclick="saveAsDraft()">Save as Draft</button>
      </div>

    </div>
  </div>

