<% reset_cycle %>
<%= javascript_include_tag "tablesorter" %>
<script>
    $(document).ready(function(){
        $(".sortable").tablesorter();
    });
</script>
<table class="twikiTable sortable cmu_table" cellpadding="0" cellspacing="0" width="685">
  <thead>
  <tr>
    <% unless skip_course_column %>
        <th>Course</th>
    <% end %>
    <th>Task</th>
    <th><%=get_customised_name%> Name</th>
    <th>Type</th>
    <th>Grade</th>
    <th>Actions</th>
  </tr>
  </thead>

  <% assignments.each do |assignment| %>
      <tr class=<%= cycle('twikiTableOdd', 'twikiTableEven') %>>
        <% unless skip_course_column %>
            <% if assignment.course %>
                <td><%= h assignment.course.try(:short_name) || assignment.course.name[0..4] %></td>
            <% else %>
                <td>&nbsp;</td>
            <% end %>
        <% end %>
        <td><%= h assignment.task_number %></td>
        <td><%= assignment.name %></td>
        <% deliverable = assignment.get_student_deliverable(current_user.id) %>
        <td>
            <%if assignment.is_team_deliverable? %>
                Team
            <% else  %>
                Individual
            <% end %>
        </td>
        <% grade = assignment.get_student_grade(current_user.id)  %>
        <td>
          <% if grade.nil? || !grade.is_student_visible %>
              Not graded
          <% else %>
              <%= grade.score %>
          <% end  %>
        </td>
        <td>
            <% if assignment.is_submittable?%>
              <% if deliverable.nil? %>
                  <%= link_to 'Submit deliverable', new_deliverable_path %>
              <% else %>
                  <% if grade.nil? || !grade.is_student_visible %>
                      <%= link_to 'Resubmit deliverable', deliverable %>
                  <% else  %>
                      <%= link_to 'View History and Feedback', deliverable %>
                  <%end%>
              <% end %>
            <% end %>
        </td>


      </tr>
  <% end %>
</table>
