<style>
    #deliverables {
        width: 668px;
        padding: 0;
        margin-top: 0;
        list-style: none;
        border: 1px solid #ccc;
        position: relative;
    }

    .deliverable {
        list-style: none;
        border-bottom: 1px solid #ccc;
        background-color: white;
    }

    .deliverable .summary {
        line-height: 26px;
        height: 26px;
        cursor: pointer;
    }

    .deliverable .summary:hover {
        background-color: #fffdd6;
    }

    .deliverable .summary .name {
        width: 200px;
        display: inline-block;
        border-right: 1px solid #ccc;
        padding-left: 5px;
    }

    .deliverable .summary .assignment {
        width: 300px;
        display: inline-block;
        border-right: 1px solid #ccc;
    }

    .deliverable .summary .status {
        width: 100px;
        display: inline-block;
    }

    .deliverable .dropdown {
        height: 0;
        overflow: hidden;
    }

    .deliverable .dropdown .dropdown-main {
        padding: 15px;
        border-top: 1px solid #ccc;
    }

    .deliverable .dropdown-loader {
        text-align: center;
        border-top: 1px solid #ccc;
    }

    #deliverable-header {
        background-color: #CDE8F5;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin-top: 67px;
        line-height: 30px;
        height: 30px;
        width: 668px;
        cursor: pointer;
    }

    #deliverable-header .name {
        width: 200px;
        display: inline-block;
        border-right: 1px solid #ccc;
        padding-left: 5px;
    }

    #deliverable-header .assignment {
        width: 300px;
        display: inline-block;
        border-right: 1px solid #ccc;
    }

    #deliverable-header .status {
        width: 100px;
        display: inline-block;
    }
</style>

<div id="deliverable-header">
    <div class="name">Name</div>
    <div class="assignment">Assignment</div>
    <div class="status">Status</div>
</div>
<ul id="deliverables">
    <% deliverables.each do |deliverable| %>
        <li class="deliverable" id="deliverable-<%= deliverable.id %>">
            <div class="summary">
                <div class="name">
                    <%= 'Team' if deliverable.is_team_deliverable? %>
                    <%= deliverable.owner_name %>
                </div>
                <div class="assignment">
                    <% if deliverable.assignment.task_number %>
                        <%= deliverable.assignment.task_number %>:
                    <% end %>

                    <% latest_attachment = deliverable.attachment_versions.first %>
                    <% unless latest_attachment.attachment_file_name.nil? %>
                        <%= deliverable.assignment_name%> (<% link_to 'download', latest_attachment.attachment.url %>)
                    <% else %>
                        <%= deliverable.assignment_name %>
                    <% end %>
                </div>
                <div class="status">
                    <% if deliverable.get_grade_status == :ungraded %>
                        Ungraded
                    <% elsif deliverable.get_grade_status == :drafted %>
                        Drafted
                    <% else %>
                        Graded
                    <% end %>
                </div>
            </div>
            <div class="dropdown-loader" style="display: none;">
                <img src="/images/ajax-loader2.gif" alt="">
            </div>
            <div class="dropdown">
            </div>
        </li>
    <% end %>
</ul>


<script type="text/javascript">
    var $deliverables = $('.deliverable');

    $('#deliverables').on('click', '.deliverable .summary', function () {
        var $deliverable = $(this).parent();
        var $deliverableDropdown = $deliverable.find('.dropdown');
        var $dropdownLoader = $deliverable.find('.dropdown-loader');
        var deliverableId = $deliverable.attr('id').split('-')[1];

        if ($deliverable.data('expanded')) {
            $deliverable.data('expanded', false);
            $deliverableDropdown.animate({
                height: 0
            });
        } else {
            $dropdownLoader.show();
            $.ajax({
                url: '/deliverables/' + deliverableId + '/dropdown',
                type: 'GET',
                success: function (data) {
                    $deliverableDropdown.html(data);
                    var $dropdownMain = $deliverableDropdown.find('.dropdown-main');
                    $deliverableDropdown.animate({
                        height: $dropdownMain.height() + 50
                    });
                    $deliverable.data('expanded', true);
                    $dropdownLoader.hide();
                }
            });
        }
    });

    function strcmp(a, b) {
        if (a > b) {
            return 1;
        }
        if (a < b) {
            return -1;
        }
        return 0;
    }

    $('#deliverable-header').on('click', 'div', function () {
        var $header = $(this);
        var orderBy = $header.attr('class');
        var order;

        $('#deliverable-header>div').each(function () {
            var $this = $(this);
            var text = $this.text();
            var endChar = text.substr(-1);
            if (endChar === '▲' || endChar === '▼') {
                $this.text(text.slice(0, -2));
            }
        });

        var text = $header.text();
        // 1 for ascending, -1 for descending
        switch ($header.data('order')) {
            case 1:
                order = -1;
                $header.text(text + ' ▲');
                break;
            case -1:
                order = 1;
                $header.text(text + ' ▼');
                break;
            default:
                order = 1;
                $header.text(text + ' ▼');
        }
        $header.data('order', order);

        $deliverables.sort(function (a, b) {
            var $a = $(a);
            var $b = $(b);
            var textA = $a.find('.' + orderBy).text();
            var textB = $b.find('.' + orderBy).text();
            return strcmp(textA, textB) * order;
        });
        $('#deliverables').empty().html($deliverables);

        return false;
    });

    

</script>
