<style>
.panel-default .panel-body {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}
.panel-default .panel-body:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.loading_indicator {
    margin-top: 18px;
    margin-left: 4px;
}
.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px; /* -1 * image width/2 */
    margin-top: -16px;  /* -1 * image height/2 */
    display: block;
}
#loading_ajax_request {
    position:fixed;
    top:40%;  /* 50% - height/2 */
    left:42%; /* 50% - width/2 */
    width:15%;
    height:20%;
    z-index:1000;
    background-color: white;
    opacity: .7;
}
</style>

<div id="grading_queue">
<% reset_cycle %>
<% customised_name= nomenclature_assignment_or_deliverable %>
<% if deliverables.empty? %>
  <p style="text-align: center;">Hurray, nothing to do here!</p> <br/><br/><br/><br/><br/><br/>
<% end %>
<% deliverables.each do |deliverable| %>
    <div>
     <div class="panel panel-default" style="margin-bottom: 10px;">
       <div class="panel-body deliverable ajax" id="deliverable_<%= deliverable.id %>" style="padding-top: 6px; padding-bottom: 6px;">

         <div class="col-sm-1" style="padding-top: 16px; margin-left: 0;">
           <%= image_tag("/images/show_deliverable_detail.png", :style => 'margin-left: -6px', :alt => 'View details') %>
         </div>

         <div class="col-md-9" style="padding-top: 7px; border-right:thin solid #eee; border-left:thin solid #eee;">
           <% latest_version = deliverable.attachment_versions.first %>
           <p style="margin-bottom: 0; font-size:17px;">
            <span>Task <%= deliverable.assignment.task_number %>: </span>
            <span style="color:#666">
              <%= (deliverable.is_team_deliverable ? 'Team ' : '') %><%= deliverable.owner_name %>
            </span>
           </p>
           <p style="font-size:15px; margin-bottom:0; color:#d17702;">
               <%= deliverable.assignment.name %>
               <% unless latest_version.attachment_file_name.nil? %>
                   <%= link_to image_tag("/images/download_deliverable.png", :size => '16x16', :alt => 'Download'), latest_version.attachment.url %>
               <% end %>
           </p>
           <p id="deliverable_id" style="display: none"><%= deliverable.id %></p>
         </div>

         <!--<div class="col-md-2">
           <div class="loading_indicator">
             <%#= image_tag("/images/ajax-loader.gif", :id => "loading_indicator", :style => "display:none") %>
           </div>
         </div>-->

         <div class="col-md-2" style="padding-top: 2px;">
           <% if deliverable.get_grade_status == :graded %>
             <%= image_tag("/images/deliverables_graded.png", :alt => 'Graded', :size => '54x54', :class => 'pull-right') %>
           <% elsif deliverable.get_grade_status == :drafted %>
             <%= image_tag("/images/deliverables_drafted.png", :alt => 'Drafted', :size => '54x54', :class => 'pull-right') %>
           <% elsif deliverable.get_grade_status == :ungraded %>
               <%= image_tag("/images/deliverables_ungraded.png", :alt => 'Ungraded', :size => '54x54', :class => 'pull-right') %>
           <% end %>
         </div>
       </div>
       <div class="deliverable_detail" id="deliverable_detail_<%= deliverable.id %>" style="display: none">
       </div>
     </div>
    </div>
<% end %>
</div>