<table id="sortable">
    <thead>
        <tr>
          <th>Name</th>
          <th>Task Number</th>
          <th><%= nomenclature_assignment_or_deliverable %></th>
          <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <% deliverables.each do |deliverable| %>
            <tr>
                <td>
                    <%= 'Team' if deliverable.is_team_deliverable? %>
                    <%= deliverable.owner_name %>
                </td>
                <td><%= deliverable.assignment.task_number %></td>
                <td>
                    <% latest_attachment = deliverable.attachment_versions.first %>
                    <% unless latest_attachment.attachment_file_name.nil? %>
                        <%= deliverable.assignment_name%> (<% link_to 'download', latest_attachment.attachment.url %>)
                    <% else %>
                        <%= deliverable.assignment_name %>
                    <% end %>
                </td>
                <td>
                      <% if deliverable.get_grade_status == :ungraded %>
                          <%= link_to 'Give Grade', deliverable %>
                      <% else %>
                          <%= link_to 'Review Grade', deliverable %>
                      <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<script type="text/javascript">
  $('#sortable').tablesorter();
</script>
