<% reset_cycle %>
<div id="noIndiDelDiv" hidden="hidden">
  No Individual deliverables match the selected filter criteria.
</div>
<% if @deliverables.empty? %>
    <script>$("#noIndiDelDiv").show();</script>
<% else %>
<div id="indiDelDiv">
<% customised_name= nomenclature_assignment_or_deliverable %>
<table class="twikiTable sortable cmu_table" cellpadding="0" cellspacing="0" width="100%">
  <thead>
  <tr>
    <% unless skip_course_column %>
        <th>Course</th>
    <% end %>
    <% if customised_name=="Deliverable" %>
        <th>Task Number</th>
    <% end %>
    <th><%= nomenclature_assignment_or_deliverable %></th>
    <th>Advisor</th>
    <th>Owner</th>
    <th>Indicator</th>
    <th>Actions</th>
  </tr>
  </thead>

  <% deliverables.each do |deliverable| %>
      <% grade_status = deliverable['grading_status'] %>
      <tr class="<%= cycle('twikiTableOdd', 'twikiTableEven') %> <%= grade_status %> <%= deliverable['assignment_id']%> grade_row">
        <% unless skip_course_column %>
            <td><%= deliverable['course_name'] %></td>
        <% end %>

        <% if customised_name=="Deliverable" %>
            <td><%= deliverable['task_number'] %></td>
        <% end %>

        <td><%= deliverable['deliverable_name'] %></td>

        <td><%= deliverable['advisor_name']%></td>

        <td><%= deliverable['owner_name'] %></td>

        <td>
          <div id="<%=grade_status%>">&nbsp;</div>
        </td>

        <td>
          <% if  grade_status=='graded' %>
              <%= link_to 'Review Grade', '/deliverables/' + deliverable['deliverable_id'], {:class => 'grading_action', :disabled => 'disabled'} %>
          <% else %>
              <%= link_to 'Give Grade', '/deliverables/' + deliverable['deliverable_id'], {:class => 'grading_action', :disabled => 'disabled'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
</div>
<% end %>
