<% reset_cycle %>
<% customised_name= nomenclature_assignment_or_deliverable %>

<% deliverables.each do |deliverable| %>
    <div class="row">
     <div class="panel panel-default">
       <div class="panel-body deliverable ajax" style="background-color: #f5f5f5;border-radius: 5px;padding: 10px">
         <div class="col-md-10">
           <p>Task <%= deliverable.attributes['task_number'] %>: Team <%= deliverable.attributes['owner_name'] %></p>
           <p><%= deliverable.attributes['assignment_name'] %></p>
           <p><%= deliverable.attributes['updated_at'] %></p>
           <p id="deliverable_id"><%= deliverable.attributes['deliverable_id'] %></p>
         </div>
         <div class="col-md-2">
           <% if deliverable.get_grade_status == :graded %>
             <%= image_tag("/images/deliverables_graded.png") %>
           <% elsif deliverable.get_grade_status == :drafted %>
             <%= image_tag("/images/deliverables_drafted.png") %>
           <% elsif deliverable.get_grade_status == :ungraded %>
               <%= image_tag("/images/deliverables_ungraded.png") %>
           <% end %>
         </div>
       </div>
       <div class="deliverable_detail" style="display: none">
         aaaaaaaaaaaaaa
       </div>
     </div>
    </div>
<% end %>