<input id="deliverables-search" type="text" placeholder="Search">

<div id="filters">
    <div id="individual-team-filters">
        <div id="show-individual" class="filter active">
            Show Individual
        </div>
        <div id="show-team" class="filter active">
            Show Team
        </div>
    </div>

    <div id="assignment-status-filters">
        <div id="show-ungraded" class="filter active">
            Show Ungraded
        </div>
        <div id="show-graded" class="filter">
            Show Graded
        </div>
        <div id="show-draft" class="filter active">
            Show Draft
        </div>
    </div>
</div>

<div id="deliverable-header">
    <div class="name">Name</div><div class="assignment">Assignment</div><div class="status">Status</div>
</div>
<ul id="deliverables">
    <% deliverables.each do |deliverable| %>
        <li class="deliverable" id="deliverable-<%= deliverable.id %>">
            <div class="summary">
                <div class="name">
                    <%= 'Team' if deliverable.is_team_deliverable? %>
                    <%= deliverable.owner_name %>
                </div><div class="assignment">
                    <% if deliverable.assignment.task_number %>
                        <%= deliverable.assignment.task_number %>:
                    <% end %>

                    <% latest_attachment = deliverable.attachment_versions.first %>
                    <% unless latest_attachment.attachment_file_name.nil? %>
                        <%= deliverable.assignment_name%> (<% link_to 'download', latest_attachment.attachment.url %>)
                    <% else %>
                        <%= deliverable.assignment_name %>
                    <% end %>
                </div><div class="status <%= deliverable.get_grade_status.to_s %>">
                    <% if deliverable.get_grade_status == :ungraded %>
                        Ungraded
                    <% elsif deliverable.get_grade_status == :drafted %>
                        Drafted
                    <% else %>
                        Graded
                    <% end %>
                </div>
            </div>
            <div class="dropdown-loader" style="display: none;">
                <img src="/images/ajax-loader2.gif" alt="">
            </div>
            <div class="dropdown">
            </div>
        </li>
    <% end %>
</ul>

<script type="text/javascript">
    var $deliverables = $('.deliverable');


    ////////////////
    // Accordion  //
    ////////////////
    $('#deliverables').on('click', '.deliverable .summary', function () {
        var $deliverable = $(this).parent();
        var $deliverableDropdown = $deliverable.find('.dropdown');
        var $dropdownLoader = $deliverable.find('.dropdown-loader');
        var deliverableId = $deliverable.attr('id').split('-')[1];

        if ($deliverable.data('expanded')) {
            $deliverable.data('expanded', false);
            $deliverableDropdown.animate({
                height: 0
            });
        } else {
            $dropdownLoader.show();
            $.ajax({
                url: '/deliverables/' + deliverableId + '/dropdown',
                type: 'GET',
                success: function (data) {
                    $deliverableDropdown.html(data);
                    var $dropdownMain = $deliverableDropdown.find('.dropdown-main');
                    $deliverableDropdown.animate({
                        height: $dropdownMain.height() + 50
                    });
                    $deliverable.data('expanded', true);
                    $dropdownLoader.hide();
                }
            });
        }
    });

    function strcmp(a, b) {
        if (a > b) {
            return 1;
        }
        if (a < b) {
            return -1;
        }
        return 0;
    }

    /////////////
    // Sorters //
    /////////////
    $('#deliverable-header').on('click', 'div', function () {
        var $header = $(this);
        var orderBy = $header.attr('class');
        var order;

        $('#deliverable-header>div').each(function () {
            var $this = $(this);
            var text = $this.text();
            var endChar = text.substr(-1);
            if (endChar === '▲' || endChar === '▼') {
                $this.text(text.slice(0, -2));
            }
        });

        var text = $header.text();
        // 1 for ascending, -1 for descending
        switch ($header.data('order')) {
            case 1:
                order = -1;
                $header.text(text + ' ▲');
                break;
            case -1:
                order = 1;
                $header.text(text + ' ▼');
                break;
            default:
                order = 1;
                $header.text(text + ' ▼');
        }
        $header.data('order', order);

        $deliverables.sort(function (a, b) {
            var $a = $(a);
            var $b = $(b);
            var textA = $a.find('.' + orderBy).text();
            var textB = $b.find('.' + orderBy).text();
            return strcmp(textA, textB) * order;
        });
        $('#deliverables').empty().html($deliverables);

        return false;
    });

        
    /////////////
    // Filters //
    /////////////
    function filter() {

        var showIndividual = $('#show-individual').hasClass('active');
        var showTeam = $('#show-team').hasClass('active');
        var showUngraded = $('#show-ungraded').hasClass('active');
        var showGraded = $('#show-graded').hasClass('active');
        var showDraft = $('#show-draft').hasClass('active');

        var selectedStatuses = [];
        if (showUngraded) selectedStatuses.push('Ungraded');
        if (showGraded) selectedStatuses.push('Graded');
        if (showDraft) selectedStatuses.push('Drafted');

        $deliverables.hide().each(function () {
            var $this = $(this);
            var show = false;

            var name = $.trim($this.find('.name').text());
            var status = $.trim($this.find('.status').text());

            if (showIndividual && name.substr(0, 4) !== 'Team') {
                show = true;
            }
            if (showTeam && name.substr(0, 4) === 'Team') {
                show = true;
            }

            show = show && (selectedStatuses.indexOf(status) >= 0);

            if (show) {
                $this.show();
            }
        });
    }

    filter();

    $('.filter').click(function () {
        var $this = $(this);
        $this.toggleClass('active');
        filter();
    });


    ///////////////
    // SearchBox //
    ///////////////
    $('#deliverables-search').on('keyup', function () {
        var $this = $(this);
        var keyword = $this.val();
        var matcher = new RegExp(keyword, 'i');

        filter();

        if (keyword.length === 0) {
            return;
        }

        $deliverables.filter(':visible').each(function () {
            var $this = $(this);
            var name = $.trim($this.find('.name').text());
            var assignment = $.trim($this.find('.assignment').text());
            if (!matcher.test(name) && !matcher.test(assignment)) {
                $this.hide();
            }
        });
    });

    ////////////////
    // Team Grade //
    ////////////////
    $deliverables.on('keyup', '.team-grade-box', function () {
        var $this = $(this);
        var $grades = $this.closest('.student_scores').find('.team_member_photo input');
        $grades.val($this.val());
    });
    
</script>
