<style>
    .dropdown {
        display: none;
        background: white;
        position: absolute;
        overflow: hidden;
        margin-left: 1px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
        padding: 10px;
    }

    .dropdown textarea {
        width: 99%;
    }
</style>

<table id="sortable" style="width: 668px;">
  <thead>
  <tr>
    <th>Name</th>
    <th><%= nomenclature_assignment_or_deliverable %></th>
    <th>Grade</th>
  </tr>
  </thead>
  <tbody>
  <% deliverables.each do |deliverable| %>
      <tr class="<%= deliverable.is_team_deliverable ? 'team-deliverable' : 'individual-deliverable' %>"
          id="deliverable-<%= deliverable.id %>">
        <td>
          <%= 'Team' if deliverable.is_team_deliverable? %>
          <%= deliverable.owner_name %>
          <% if deliverable.get_grade_status==:graded %>
              <% if deliverable.get_grading_date< deliverable.attachment_versions.first.submission_date %>
                  <span style='color:red'>(New Submission)</span>

              <% end %>

          <% end %>
        </td>
        <td>
          <% if deliverable.assignment.task_number %>
              <%= deliverable.assignment.task_number %>:
          <% end %>
          <% latest_attachment = deliverable.attachment_versions.first %>
          <% unless latest_attachment.attachment_file_name.nil? %>
              <%= deliverable.assignment_name%> (<% link_to 'download', latest_attachment.attachment.url %>)
          <% else %>
              <%= deliverable.assignment_name %>
          <% end %>
        </td>
        <td>
          <% if deliverable.get_grade_status == :ungraded %>
              Give Grade
          <% else %>
              Review Grade
          <% end %>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>

<div id="dropdowns"></div>

<div id="dropdown-copy">
</div>

<script type="text/javascript">
    $('#sortable').tablesorter();

    function update() {

        function updateShowTeamAndOrIndividual() {
            $('tr.team-deliverable').toggle($('#show_team').is(':checked'));
            $('tr.individual-deliverable').toggle($('#show_individual').is(':checked'));
        }

        function updateColor() {
            $('tr').filter(function () {
                return $(this).is(':visible');
            }).each(function (i) {
                        var $this = $(this);
                        if (i % 2) {
                            $this.css({
                                backgroundColor: '#ddd'
                            });
                        }
                    });
        }

        if ($('#show_graded').is(':checked')) {
            $('tr').show();
            updateShowTeamAndOrIndividual();
            updateColor();
        } else {
            updateShowTeamAndOrIndividual();
            $('tr:contains("Review Grade")').hide();
            updateColor();
        }
    }
    $('#show_graded').click(update);
    update();

    $('#show_team, #show_individual').click(update);
    function updateAllAssignments() {
        $('#allAssignments').show();
        $('#show_all_assignments').hide();
    }
    $(document).on('click', '#show_all_assignments', updateAllAssignments);

    var $dropdownCopy = $('#dropdown-copy');
    var $expandedRow = null;
    var $dropdowns = {};

    $('tbody tr').click(function () {
        var $this = $(this);
        var id = $this.attr('id').split('-')[1];
        var width = $this.width();
        if ($this.data('expanded')) {
            // shrink
            $this.find('td').stop().animate({
                paddingBottom: 4
            });
            $this.data('expanded', false);

            $dropdowns[id].animate({
                height: 0
            }, function () {
                $dropdowns[id].hide();
            });
        } else {
            // expand
            $.ajax({
                url: '/deliverables/' + id + '/dropdown',
                type: 'GET',
                success: function (data) {
                    $dropdownCopy.html(data);
                    var height = $dropdownCopy.height();

                    var $dropdown = $('<div>').addClass('dropdown').html(data).appendTo('#dropdowns');
                    $dropdowns[id] = $dropdown;

                    $this.find('td').stop().animate({
                        paddingBottom: height + 6
                    });
                    $this.data('expanded', true);
                    $dropdown.show().css({
                        width: width - 2,
                        left: $this.position().left,
                        top: $this.position().top + 30,
                        height: 0
                    }).animate({
                                height: height
                            });
                }
            });
        }
    });


    //    function toggleClassAndColor() {
    //        console.log("Inside Toggle");
    ////        $(this)
    ////        .toggleClass($(this).hasClass() == 'active' ? 'inactive' : 'active')
    //        if ($(this).hasClass('active'))
    //            $(this).css({"background-color": "#7F0E00"});
    //        else
    //            $(this).css({"background-color": "#EFEFEF"});
    //    }

    // Action on "Graded Deliverables" button
    $("#graded_del").on("click", function(event){
        event.stopPropagation();
        $(this)
                .text($(this).text() == 'Show Graded' ? 'Hide Graded' : 'Show Graded')
                .toggleClass($(this).hasClass() == 'active' ? 'inactive' : 'active');
        if ($(this).hasClass('active'))
            $(this).css({"background-color": "#7F0E00"});
        else
            $(this).css({"background-color": "#EFEFEF"});
    });

    // Action on "Ungraded Deliverables" button
    $("#ungraded_del").on("click", function(){
        $(this)
                .text($(this).text() == 'Show Ungraded' ? 'Hide Ungraded' : 'Show Ungraded')
                .toggleClass($(this).hasClass() == 'active' ? 'inactive' : 'active');
        if ($(this).hasClass('active'))
            $(this).css({"background-color": "#7F0E00"});
        else
            $(this).css({"background-color": "#EFEFEF"});
    });

    // Action on "Drafted Deliverables" button
    $("#drafted_del").on("click", function(){
        $(this)
                .text($(this).text() == 'Show Drafted' ? 'Hide Drafted' : 'Show Drafted')
                .toggleClass($(this).hasClass() == 'active' ? 'inactive' : 'active');
        if ($(this).hasClass('active'))
            $(this).css({"background-color": "#7F0E00"});
        else
            $(this).css({"background-color": "#EFEFEF"});
    });

    // Action on "Individual Deliverables" button
    $("#ind_del").on("click", function(){
        $(this)
                .text($(this).text() == 'Show Individuals' ? 'Hide Individuals' : 'Show Individuals')
                .toggleClass($(this).hasClass() == 'active' ? 'inactive' : 'active');
        if ($(this).hasClass('active'))
            $(this).css({"background-color": "#7F0E00"});
        else
            $(this).css({"background-color": "#EFEFEF"});
    });

    // Action on "Team Deliverables" button
    $("#team_del").on("click", function(){
        $(this)
                .text($(this).text() == 'Show Teams' ? 'Hide Teams' : 'Show Teams')
                .toggleClass($(this).hasClass() == 'active' ? 'inactive' : 'active');
        if ($(this).hasClass('active'))
            $(this).css({"background-color": "#7F0E00"});
        else
            $(this).css({"background-color": "#EFEFEF"});
    });

    // Mouse-over event for all buttons
    $("span").on("mouseenter",function(){
        if ($(this).hasClass('active'))
            $(this).css({"background-color": "#8F1E33"});
        else
            $(this).css({"background-color": "#E1E1E1"});
    }).on("mouseleave",function(){
                if ($(this).hasClass('active'))
                    $(this).css({"background-color": "#7F0E00"});
                else
                    $(this).css({"background-color": "#EFEFEF"});
            });

</script>

<style>
    .dropdown {
        overflow-y: scroll;
        background-color: white;
    }
    tbody tr {
        cursor: pointer;
    }
    tr:hover td {
        background-color: #ddd;
    }
    #dropdown-copy {
        visibility: hidden;
        position: absolute;
        left: -9999999;
        top: -9999999;
    }
</style>