<% reset_cycle %>
<%= javascript_include_tag "tablesorter" %>
<script>
    $(document).ready(function(){
        $(".sortable").tablesorter({
            sortList: [[0,0],[1,0]] ,
            headers: {
                1: { sorter: "digit", empty: "top" }
            } // non-numeric content is treated as a MAX value
        });
    });
</script>
<% if user.nil? %>
    <% user = current_user %>
<% end %>
<table class="twikiTable sortable cmu_table" cellpadding="0" cellspacing="0" width="685">
  <thead>
  <tr>
    <% unless skip_course_column %>
        <th>Course</th>
    <% end %>
    <th>Task</th>
    <th>Name</th>
    <th>Due Date <br/>(Pacific)</th>
    <th>Feedback</th>
    <th>Actions</th>
    <th>Grade</th>
  </tr>
  </thead>

  <% assignments.each do |assignment| %>
    <tr class=<%= cycle('twikiTableEven', 'twikiTableOdd') %>>
      <% unless skip_course_column %>
        <% if assignment.course %>
          <td><%= assignment.course.try(:short_name) || assignment.course.name[0..4] %></td>
        <% else %>
          <td>&nbsp;</td>
        <% end %>
      <% end %>
      <td><%= assignment.task_number %></td>
      <td><%= assignment.name_with_type %></td>
      <% deliverable = assignment.get_student_deliverable(current_user.id) %>
      <td>
        <%=(assignment.due_date.blank?)?"":"#{assignment.due_date.to_date} at #{assignment.due_date.strftime("%I:%M%p")}"  %>
      </td>
      <td>
        <% if deliverable && deliverable.get_grade_status == :graded %>
            <%= link_to 'Feedback', deliverable %>
        <% end %>
      </td>
      <td>
        <% if deliverable.nil? && assignment.is_submittable %>
            <%= link_to 'Submit', new_deliverable_path(:course_id => assignment.course.id, :assignment_id => assignment.id) %>
        <% end %>
        <% if deliverable && assignment.is_submittable %>
            <%= link_to 'Resubmit', deliverable %>
        <% end %>
      </td>
      <% grade = assignment.get_student_grade(current_user.id)  %>
      <td>
        <% if !grade.nil? && grade.is_student_visible %>
        <%= "#{grade.score}/#{assignment.maximum_score}" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% if skip_course_column %>
      <tr>
       <td colspan=5 align="right">Earned Grade (Performance)</td>
       <td><%= Grade.get_final_grade(courses[0].id,user.id).presence %></td>
     </tr>
      <tr>
       <td colspan=5 align="right">Earned Grade Letter</td>
       <td><%= Grade.get_final_grade(courses[0].id,user.id).presence %></td>
     </tr>
     <tr>
      <td colspan=5 align="right">Final Letter Grade</td>
      <td><%= Grade.get_final_grade(courses[0].id,user.id).presence %></td>
    </tr>
  <% end %>
</table>

<% if skip_course_column %>
<br/>
Note: In the middle of a course, earned grade will only calculate the grade based upon submitted deliverables to date.
<% end %>