<style>
.panel-default .panel-body {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}
.panel-default .panel-body:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.loading_indicator {
    margin-top: 18px;
    margin-left: 4px;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px; /* -1 * image width/2 */
    margin-top: -16px;  /* -1 * image height/2 */
    display: block;
}
#loading_ajax_request {
    position:fixed;
    top:40%;  /* 50% - height/2 */
    left:42%; /* 50% - width/2 */
    width:15%;
    height:20%;
    z-index:1000;
    background-color: white;
    opacity: .7;
}

</style>

<div id="grading_queue">
<% reset_cycle %>
<% customised_name= nomenclature_assignment_or_deliverable %>
<% if deliverables.empty? %>
  <p style="text-align: center;">Hurray, nothing to do here!</p>
<% end %>
<% deliverables.each do |deliverable| %>
    <div>
     <div class="panel panel-default">
       <div class="panel-body deliverable ajax" id="deliverable_<%= deliverable.id %>">
         <div class="col-md-10">
           <% latest_version = deliverable.attachment_versions.first %>
           <p style="margin-bottom: 1px; font-size:18px;">
            <span>Task <%= deliverable.assignment.task_number %>: </span>
            <span style="color:#666">
              <%= (deliverable.is_team_deliverable ? 'Team ' : '') %><%= deliverable.owner_name %>
            </span>
           </p>
           <p style="font-size:16px; margin-bottom: 1px;">
               <% unless latest_version.attachment_file_name.nil? %>
                   <%= link_to deliverable.assignment.name, latest_version.attachment.url %>
               <% end %>
           </p>
           <span style="font-size:11px;"><%= latest_version.submission_date %></span>
           <p id="deliverable_id" style="display: none"><%= deliverable.id %></p>
         </div>

         <!--<div class="col-md-2">
           <div class="loading_indicator">
             <%#= image_tag("/images/ajax-loader.gif", :id => "loading_indicator", :style => "display:none") %>
           </div>
         </div>-->

         <div class="col-md-2">
           <% if deliverable.get_grade_status == :graded %>
             <%= image_tag("/images/deliverables_graded.png") %>
           <% elsif deliverable.get_grade_status == :drafted %>
             <%= image_tag("/images/deliverables_drafted.png") %>
           <% elsif deliverable.get_grade_status == :ungraded %>
               <%= image_tag("/images/deliverables_ungraded.png") %>
           <% end %>
         </div>
       </div>
       <div class="deliverable_detail" id="deliverable_detail_<%= deliverable.id %>" style="display: none">
       </div>
     </div>
    </div>
<% end %>
</div>