<script xmlns="http://www.w3.org/1999/html">
    // Enabling tooltips
    $(document).tooltip();

    function apply_team_grade_to_individuals() {
        var score = $("#team_grade").val();
        $(".student_scores input[type='text']").each(function () {
            $(this).val(score);
        });
    }
</script>

<script>
  $(function() {
    $('#apply_team_grade').bind('click', function() {
        var score = $("#team_grade").val();
        $(".student_scores input[type='text']").each(function(){
              $(this).val(score);
          });
    });
  });

  var update_filter_options = function() {
      var current_filter_options = {
        "ungraded": ($('#filter_options_ungraded').is(':checked') ? '1' : ''),
         "graded" : ($('#filter_options_graded').is(':checked') ? '1' : ''),
         "drafted": ($('#filter_options_drafted').is(':checked') ? '1' : ''),
         "is_my_teams" : ($('#filter_options_is_my_teams_yes').is(':checked') ? 'yes' : ''),
         "assignment_id" : $("#filter_options_assignment_id").val()
      }
      $("#deliverable_current_filter_options").val('');
      $("#deliverable_current_filter_options").val(JSON.stringify(current_filter_options));
  };

  var toggle_slide = function() {
      $('.deliverable_detail').slideUp();
  };
</script>

<div class="container">
  <div class="row" style="padding-top: 20px;"></div>
  <div class="row deliverable_detail_header">
    <div class="col-md-12">
      <h2><strong>Grades</strong></h2>
    </div>
  </div>

  <!-- Grades -->
  <%= form_for @deliverable, :remote => true, :html => {:multipart => true}, :url => {:action => :update_feedback, :id => @deliverable} do |f| %>

     <div class="row" style="padding-top: 10px;"></div>

      <div class="row">
        <div class="col-md-12">
          <% if grade_type_points_or_weights == "Percentage" %>
              <p>
                <%= "Weight: #{@deliverable.assignment.weight}%" %>
              </p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <p>
            <% if @deliverable.is_team_deliverable? %>
                <strong>Team Score: </strong><%= text_field_tag "team_grade", '', :size => 4, :onchange => "apply_team_grade_to_individuals();", :title => "The 'team score' is not saved in the database. This is a convenience so that you can enter the team grade once, and it is immediately applied to each member of the team. You can then set each individual's grade"  %> / <strong><%= display_maximum_score %></strong>
            <% end %>
          </p>
        </div>
        <div class="col-md-6">
          <% graded_by = @deliverable.get_graded_by %>
          <p class="pull-right"><strong>Graded by: </strong>
            <% unless graded_by.nil? %>
                <%= link_to graded_by.human_name, person_path(graded_by.twiki_name), :target=> '_blank'%>
            <% end %>
          </p>
        </div>
      </div>

      <div class="row student_scores">

        <% if @deliverable.is_team_deliverable? %>
            <% for member in @deliverable.team.members %>
                <% grade_obj = Grade.get_grade(@deliverable.course.id, @deliverable.assignment_id, member.id)%>
                <%= render :partial => "fetch_picture_and_grade", :locals => {:grade_obj => grade_obj, :member => member, :deliverable_type => "team"} %>
            <% end %>
        <% else %>
            <% grade_obj = Grade.get_grade(@deliverable.course.id, @deliverable.assignment_id, @deliverable.creator_id)%>
            <%= render :partial => "fetch_picture_and_grade", :locals => {:grade_obj => grade_obj, :member => @deliverable.creator, :deliverable_type => "individual"} %>
        <% end %>

      </div>
      <!-- /Grades -->

      <!-- Feedback -->
      <div class="row" style="padding-top: 10px;"></div>

      <div class="row deliverable_detail_header">
        <div class="col-md-12">
          <h2><strong>Feedback</strong></h2>
        </div>
      </div>

      <% if @deliverable.get_grade_status == :drafted %>
      <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
          <div class="alert alert-warning">
            This is a draft feedback
          </div>
        </div>
      </div>
      <% end %>

      <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <p>
              <%= f.label :feedback, "Upload feedback file" %>
              <%= f.file_field :feedback %>
            </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <%= f.label :feedback_comment, "Feedback Comments" %>
          <%= link_to 'View History and Feedback', @deliverable %>
          <br/>
          <%= f.text_area :feedback_comment, :size => "85x10" %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success">
            <h4 style="color: #900;"><%= professor_image %> Professor&#39;s Notes
              <span class="label label-success" style="font-weight: normal;">Only faculty can see this information</span></h4>
            <p>
              <%= f.text_area :private_note, :size => "80x10" %>
            </p>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 10px;">
        <div class="col-md-12" id="deliverable_submit_draft">
            <%= f.submit "Save as Draft", :name => "draft", :class => "btn btn-default", :onclick => "update_filter_options();" %>
        </div>
      </div>
      <hr>
      <div class="row" style="padding-top: 10px; padding-bottom: 20px;">
        <div class="col-md-12">
          <%= f.submit "Finalize and Email", :name => "submit", :class => "btn btn-primary btn-lg", :style => "color: white; font-size: 14px;", :onclick => "toggle_slide(); update_filter_options();" %>
          <%= check_box_tag(:send_copy_to_myself, value ="1", checked=false) %>
          <%= label_tag(:send_copy_to_myself, "Send a copy to myself") %>
        </div>
      </div>
      <%= f.hidden_field :current_filter_options, { value: '' } %>
  <% end %>
</div> <!-- /.container -->
