

<% form_for @deliverable, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :description, "Deliverable Description" %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :course_id, "Select Course" %>
    <%= f.collection_select(:course_id, @deliverable.creator.get_registered_courses, :id, :name, :include_blank => true) %>
  </p>
  <p>
    <%= f.label :task_number, "Task Number" %>
    <%= f.text_field :task_number %>
  </p>
  <p>
    <%= f.label :is_team_deliverable, "Team Deliverable?" %>
    <%= f.check_box :is_team_deliverable %>
  </p>
  <div class="deliverable_revision">
  <% fields_for :deliverable_revision do |revision_form| -%>
    <p>
      <%= revision_form.label :revision, "Deliverable file to upload" %>
      <%= revision_form.file_field :revision %>
    </p>
    <p>
      <%= revision_form.label :comment, "Comments" %>
      <br>
      <%= revision_form.text_area :comment %>
    </p>
  <% end -%>
  </div>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>
