<script xmlns="http://www.w3.org/1999/html">
    // Enabling tooltips
    $(document).tooltip();

    function apply_team_grade_to_individuals() {
        var score = $("#team_grade").val();
        $(".student_scores input[type='text']").each(function () {
            $(this).val(score);
        });
    }
</script>

<script>
  $(function() {
    $('#apply_team_grade').bind('click', function() {
        var score = $("#team_grade").val();
        $(".student_scores input[type='text']").each(function(){
              $(this).val(score);
          });
    });
  });

  // Team Turing Begin
  var toggle_slide = function() {
      //$(this).parents().find('').slideToggle();
      //console.log($(this.parent().parents('.deliverable_detail')));
      //$(this).parent().siblings().slideToggle();
  };
  // Team Turing End
</script>

<!-- # Beg Del Turing Ira

<%# content_for :title, "Provide Feedback" %>

<h1><#%= @course.display_for_course_page %></h1>
<#%=  render :partial=>"layouts/grade_book_sub_menu" %>

<#% if @deliverable.is_team_deliverable?  %>
<h2>Grade Team <#%= nomenclature_assignment_or_deliverable %>: <#%= @deliverable.assignment.name %></h2>
<#% else %>
<h2>Grade Individual <#%= nomenclature_assignment_or_deliverable %>: <#%= @deliverable.assignment.name %></h2>
<#% end %>

# End Del Turing Ira   -->


<!-- Begin Team Turing -->
<div class="container">
  <div class="row" style="padding-top: 20px;"></div>
  <div class="row deliverable_detail_header">
    <div class="col-md-12">
      <h2><strong>Grades</strong></h2>
    </div>
  </div>

  <!-- Grades -->
  <%= form_for @deliverable, :remote => true, :html => {:multipart => true}, :url => {:action => :update_feedback, :id => @deliverable} do |f| %>

     <div class="row" style="padding-top: 10px;"></div>

      <div class="row">
        <div class="col-md-12">
          <% if grade_type_points_or_weights == "Percentage" %>
              <p>
                <%= "Weight: #{@deliverable.assignment.weight}%" %>
              </p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <p>
            <% if @deliverable.is_team_deliverable? %>
                <strong>Team Score: </strong><%= text_field_tag "team_grade", '', :size => 4, :onchange => "apply_team_grade_to_individuals();", :title => "The 'team score' is not saved in the database. This is a convenience so that you can enter the team grade once, and it is immediately applied to each member of the team. You can then set each individual's grade"  %> / <strong><%= display_maximum_score %></strong>
            <% end %>
          </p>
        </div>
        <div class="col-md-6">
          <% graded_by = @deliverable.get_graded_by %>
          <p class="pull-right"><strong>Last graded by: </strong>
            <% unless graded_by.nil? %>
                <a href='http://<%=@hostname_with_port%>/people/<%= graded_by.twiki_name %>' target='_blank'><%= graded_by.human_name %></a>
            <% end %>
          </p>
        </div>
      </div>

      <div class="row student_scores">

        <% if @deliverable.is_team_deliverable? %>
            <% for member in @deliverable.team.members %>
                <% grade_obj = Grade.get_grade(@deliverable.course.id, @deliverable.assignment_id, member.id)%>
                <%= render :partial => "fetch_picture_and_grade", :locals => {:grade_obj => grade_obj, :member => member, :deliverable_type => "team"} %>
            <% end %>
        <% else %>
            <% grade_obj = Grade.get_grade(@deliverable.course.id, @deliverable.assignment_id, @deliverable.creator_id)%>
            <%= render :partial => "fetch_picture_and_grade", :locals => {:grade_obj => grade_obj, :member => @deliverable.creator, :deliverable_type => "individual"} %>
        <% end %>

      </div>
      <!-- /Grades -->

      <!-- Feedback -->
      <div class="row" style="padding-top: 10px;"></div>

      <div class="row deliverable_detail_header">
        <div class="col-md-12">
          <h2><strong>Feedback</strong></h2>
        </div>
      </div>

      <% if @deliverable.get_grade_status == :drafted %>
      <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
          <div class="alert alert-warning">
            This is a draft feedback
          </div>
        </div>
      </div>
      <% end %>

      <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <p>
              <%= f.label :feedback, "Upload feedback file" %>
              <%= f.file_field :feedback %>
            </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <%= f.label :feedback_comment, "Feedback Comments" %>
          <%= link_to 'View History and Feedback', @deliverable %>
          <br/>
          <%= f.text_area :feedback_comment, :size => "95x10" %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success">
            <h1><%= professor_image %> Professor&#39;s Notes
              <span class="label label-success">Only faculty can see this information</span></h1>
            <p>
              <%= f.text_area :private_note, :size => "90x10" %>
            </p>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <%= f.submit "Save as Draft", :name => "draft", :class => "btn btn-default", :onclick => "toggle_slide();" %>
        </div>
      </div>
      <hr>
      <div class="row" style="padding-top: 10px; padding-bottom: 20px;">
        <div class="col-md-12">
          <%= f.submit "Finalize and Email", :name => "submit", :class => "btn btn-primary btn-lg", :style => "color: white; font-size: 14px;" %>
          <input type="checkbox" value="true" checked="checked"> Send a copy to myself
        </div>
      </div>

  <% end %>
</div> <!-- /.container -->
