

<% form_for @deliverable, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :description, "Deliverable Description" %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :course_id, "Select Course" %>
    <%= f.collection_select(:course_id, @deliverable.submitter.get_registered_courses, :id, :name, :include_blank => true) %>
  </p>
  <p>
    <%= f.label :task_number, "Task Number" %>
    <%= f.text_field :task_number %>
  </p>
  <p>
    <%= f.label :is_team_deliverable, "Team Deliverable?" %>
    <%= f.check_box :is_team_deliverable %>
  </p>
    <p>
      <%= f.label :deliverable, "Deliverable file to upload" %>
      <%= f.file_field :deliverable %>
    </p>
  <p>
    <%= f.label :comment, "Comments" %>
    <br>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>
