<script xmlns="http://www.w3.org/1999/html">
  function change_team_scores(){
      var score = $("#team_scores").val();
      $(".team_scores input[type='text']").each(function(){
          $(this).val(score);
      });
  }

</script>

<% content_for :title, "Provide Feedback" %>

<%= form_for @deliverable, :html => {:multipart => true}, :url => {:action => :update_feedback, :id => @deliverable} do |f| %>
        <% unless @deliverable.is_visible_to_student? %>
        <div class="rounded staff" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"  style="background-color:#dedede;">
          <b>You have saved this information as draft. So this information is not visible to the students</b>
          <%= professor_image %>
        <% end %>
            
        <h1>
          Student Grades
        </h1>
        <div class="content">
          <% if @deliverable.is_team_deliverable? %>

           Team Score: <input type="text" id="team_scores" size="5x1" onchange="change_team_scores();" /> / <%= display_maximum_score %>


           <div class="team_scores">
            <% for member in @deliverable.team.members %>
              <% grade_obj = Grade.get_grade(@deliverable.assignment_id, member.id)%>
              <%= render :partial => "fetch_picture_and_grade", :locals => {:grade_obj => grade_obj, :member => member, :deliverable_type => "team"} %>
            <% end %>
           </div>
          <% else %>
            <% grade_obj = Grade.get_grade(@deliverable.assignment_id, @deliverable.creator_id)%>
            <%= render :partial => "fetch_picture_and_grade", :locals => {:grade_obj => grade_obj, :member => @deliverable.creator, :deliverable_type => "individual"} %>
          <% end %>
        </div>

        <h1>Feedback</h1>
        <p>
        <% unless @deliverable.feedback_file_name.nil? %>
          Current uploaded feedback file  <%= link_to @deliverable.feedback_file_name, @deliverable.feedback.url %>
        <% end %>
        </p>

        <p>
        <%= f.label :feedback, "Feedback file to upload" %>
        <%= f.file_field :feedback %>
        </p>

        <p>
        <%= f.text_area :feedback_comment, :size => "90x10" %>
        </p>

        <% unless @deliverable.is_visible_to_student? %>
        </div>
      <% end %>

      <br />

      <div class="rounded staff">
        <%= professor_image %>
        <span class="instructions">Only faculty can see this information</span>

        <h1>
          Professor's Notes
        </h1>

        <p>
        <%= f.text_area :private_note, :size => "90x10" %>
        </p>
      </div>

      <br /><br /><br />

      <p>
      <div style="float: left; width: auto;">
        <%= f.submit "Save and Email" , :name=>"submit"%>
        <%= f.submit "Save as Draft" , :name=>"draft" %>
        <%= link_to "Back to Pending List", course_deliverables_path(@deliverable.course) %>
      </div><div style='clear:both;'></div>
      </p>
    <% end %>

    <!-- <%= link_to 'Cancel', deliverable_path(@deliverable) %> -->
    <br/>
    <br/>
