<p>Submit team deliverables and individual deliverables separately. Any person on the team can submit your team
  deliverables.</p>
<p>If your deliverable contains more than one file, then create a zip file.</p>
<% courses = @deliverable.creator.registered_for_these_courses_during_current_semester %>

<%= form_for @deliverable, :html => {:multipart => true} do |f| %>
    <% if @deliverable.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@deliverable.errors.count, "error") %> prohibited this deliverable from being saved:</h2>

          <ul>
            <% @deliverable.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :size => "50" %>
    </p>
    <p>
      <%= f.label :course_id, "Select Course" %>
      <%= f.collection_select(:course_id, courses, :id, :name, :include_blank => true) %>
    </p>
    <p>
      <%= f.label :assignment_id, "Select Assignment" %>
      <%= f.collection_select(:assignment_id, [], :id, :name, :include_blank => true) %>
    </p>
    <div class="deliverable_attachment">
      <%= fields_for :deliverable_attachment do |attachment_form| -%>
          <p>
            <%= attachment_form.label :attachment, "Deliverable file to upload" %>
            <%= attachment_form.file_field :attachment %>
          </p>

          <p>
            <%= attachment_form.label :comment, "Comments" %>
            <br>
            <%= attachment_form.text_area :comment, :size => "90x10" %>
          </p>
      <% end -%>
    </div>
    <p>
      <%= f.submit button_name %>
    </p>
<% end %>

<script>
  assignment_options = {};
  <% courses.each do |course| %>
    assignment_options[<%= course.id %>] = "";
    <% course.submittable_assignments.each do |assignment| %>
      assignment_options[<%= course.id %>] += "<option value='<%= assignment.id %>'>Task <%= assignment.task_number %>: <%= assignment.title %></option>";
    <% end %>
  <% end %>

  $('#deliverable_course_id').change(function() {
    $('#deliverable_assignment_id').html(assignment_options[$('#deliverable_course_id').val()]);
  })
</script>