<script>
  function sendAlert(score, max) {
    if (isNaN(parseFloat(score)) || !isFinite(score) || score > max) {
      alert("Invalid score, please check again");
      return false;
    } else {
      edited();
      return true;
    }
  }
</script>

<script>
  function edited(){
    if ($("title").text().search("(Editing)") != -1) return true;

    var new_name = "(Editing)" + $("title").text();
    document.title = new_name;
  }

  function isEdited(){
    if ($("title").text().search("(Editing)") != -1) return true;
    else return false;
  }
</script>

<div class='team_member_photo'>
  <div class="label">
    <%= fields_for :grade do |grade| %>
      Grade <%= grade.text_field :_for_student, :name=>member.id, :value => ((grade_obj.nil?)?"":grade_obj.score), :size=> "3", :tabindex=>member.id, :onchange => "sendAlert($(this).val(), #{display_maximum_score}); edited();" %>
        /<%= display_maximum_score %>
    <% end %>
  </div>
  <div style="text-align: center;">
    <a href='http://<%=@hostname_with_port%>/people/<%= member.twiki_name %>' target='_top'>
      <%= image_tag(member.image_uri, :border => 0, :alt => member.human_name+" image") %></a>
  </div>
  <div class='label'> <%= member.human_name %></div>
  </div>
