<table>
  <thead>
  <tr>
    <th>Course</th>
    <th>Assignment</th>
    <th>Deliverable</th>
    <th>Submitted By</th>
    <th>Time Submitted</th>
    <th>Assign Grade</th>
  </tr>
  </thead>
  <tbody>
  <% @deliverables.each do |deliverable| %>
    <tr>
      <td><%= deliverable.assignment.course.short_name %></td>
      <td><%= deliverable.assignment.task_number.blank? ? "" : "Task #{deliverable.assignment.task_number}: " %><%= deliverable.assignment.title %></td>
      <td><%= link_to deliverable.current_attachment.attachment_file_name, deliverable.current_attachment.attachment.url %></td>
      <td><%= deliverable.team_id.nil? ? deliverable.creator.human_name : deliverable.team.name %></td>
      <td><%= l deliverable.attachment_versions.sort_by(&:submission_date).last.submission_date, format: :chatty %></td>
      <% grade_link_text = deliverable.status.blank? ? 'Grade' : deliverable.status %>
      <td><%= link_to grade_link_text, deliverable_feedback_path(deliverable) %></td>
    </tr>
  <% end %>
  </tbody>
</table>