<h1>Grade Individual Deliverable for <%= @deliverable.creator.human_name %></h1>
<h2><%= @deliverable.assignment.course.nomenclature_title %>: <%= @deliverable.assignment.title %></h2>

<%= render :partial => 'people/twiki_photo_link', :locals => {:person => @deliverable.creator} %>

<%= form_for @deliverable, :html => {:multipart => true}, :url => {:action => :update_feedback, :id => @deliverable} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= render 'deliverables/individual_grading_fields', f: f, deliverable: @deliverable %>
  </div>

  <div>
    <%= f.submit "Save as draft"  %>
    <%= f.submit "Submit" %>
  </div>
<% end %>

<p>
  <%= link_to 'Cancel', deliverable_path(@deliverable) %>
</p>