<h1>Grade <%= @deliverable.assignment.course.grading_nomenclature %>: <%= @deliverable.assignment.title %></h1>

<%= form_for @deliverable.assignment do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <% if @deliverable.assignment.course.grading_criteria == "Percentage" %>
      <p>
        <%= "Weight: #{@deliverable.assignment.weight}%" %>
      </p>
    <% end %>
  </div>

  <p>
    <%= text_field_tag "team_grade", '', :size => 4 %>/<%= @deliverable.assignment.max_score %>
    <%= submit_tag 'Apply grade to everyone', :type => 'button', :id => "apply_team_grade" %>
  </p>

  <%= f.fields_for :deliverables do |builder| %>
    <div>
      <%= render :partial => 'people/twiki_photo_link', :locals => {:person => builder.object.creator} %>
      <div>
        <%= render "deliverables/individual_grading_fields", f: builder, deliverable: builder.object, show_grade_and_feedback_only: true %>
      </div>
      <%= builder.hidden_field :status, value: 'Graded' %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Save as draft"  %>
    <%= f.submit "Submit" %>
  </div>
<% end %>

<p>
  <%= link_to 'Cancel', deliverable_path(@deliverable) %>
</p>

<script>
  $(function() {
    $('#apply_team_grade').bind('click', function() {
      $('.grade_input').each(function() {
        $(this).val($('#team_grade').val());
      });
    });
  });
</script>