<p><b>Date: </b><%= format_timestamp(@deliverable.feedback_updated_at) %></p>

<% unless @deliverable.feedback_file_name.nil? %>
    <p>
      <b>File:</b>
      <%= link_to @deliverable.feedback_file_name, @deliverable.feedback.url %>
    </p>
<% end %>



<% grade_obj = Grade.get_grade(@deliverable.course.id, @deliverable.assignment_id, current_user.id)%>
<% if grade_obj.try(:is_student_visible) || false %>
    <p><b> Score received: </b><%= Grade.get_grade(@deliverable.course.id, @deliverable.assignment_id, current_user.id).try(:score) %> </p>
    <p><% graded_by = @deliverable.get_graded_by %>
      <b> Graded by :</b>
      <% unless graded_by.nil? %>
          <%= graded_by.human_name %>
      <% end %>
    </p>
<% end %>

<b>Comments: </b> </br>
  <% if @deliverable.feedback_comment.blank? %>
      None
  <% else %>
      <%= @deliverable.feedback_comment.gsub("\n", "<br/>").html_safe %></br></br>
  <% end %>
</p>






