<% content_for :title, "Provide Feedback" %>

<% if @deliverable.is_team_deliverable? %>
    <h1>Provide Team Feedback for <%= @deliverable.team.name -%></h1>
<% else %>
    <h1>Provide Individual Feedback for <%= @deliverable.creator.human_name -%></h1>
<% end %>


<%= form_for @deliverable, :html => {:multipart => true}, :url => {:action => :update_feedback, :id => @deliverable} do |f| %>
    <p>
      <%= f.label :feedback, "Feedback file to upload" %>
      <%= f.file_field :feedback %>
    </p>
    <p>
      <%= f.label :feedback_comment, "Feedback Comments" %>
      <br>
      <%= f.text_area :feedback_comment, :size => "90x10" %>
    </p>
    <p>
      <%= f.submit "Submit Feedback" %>
    </p>
<% end %>

<%= link_to 'Cancel', deliverable_path(@deliverable) %>
<br/>
<br/>
