<% content_for :title, "Grade Deliverable" %>

<% if @deliverable.is_team_deliverable? %>
    <h1>Grade Team Deliverable for <%= @deliverable.team.name %></h1>
<% else %>
    <h1>Grade Individual Deliverable for <%= @deliverable.creator.human_name %></h1>
<% end %>
<h2>Assignment: <%= @deliverable.assignment.title %></h2>

<%= form_for @deliverable, :html => {:multipart => true}, :url => {:action => :update_feedback, :id => @deliverable} do |f| %>
  <p>
    <%= f.label :grade %>
    <%= f.text_field :grade, size: 4 %>
  </p>
  <p>
    <%= f.label :feedback, "Feedback file to upload" %>
    <%= f.file_field :feedback %>
  </p>
  <p>
    <%= f.label :feedback_comment, "Feedback Comments" %>
    <br>
    <%= f.text_area :feedback_comment, :size => "100x10" %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>

<%= link_to 'Cancel', deliverable_path(@deliverable) %>
<br/>
<br/>
