<% content_for :title, "Upload Deliverable" %>

<h1>Upload New Deliverable Attachment</h1>

<% form_for @deliverable, :html => { :multipart => true } do |f| %>
    <% fields_for :deliverable_attachment do |attachment_form| -%>
      <p>
        <%= attachment_form.label :attachment, "Deliverable file to upload" %>
        <%= attachment_form.file_field :attachment %>
      </p>
      <p>
        <%= attachment_form.label :comment, "Comments" %>
        <br>
        <%= attachment_form.text_area :comment, :size => "90x10" %>
      </p>
    <% end -%>
    <p>
      <%= f.submit "Upload" %>
    </p>    
<% end %>

<%= link_to 'Cancel', deliverable_path(@deliverable) %>
<br/>
<br/>