<% content_for :title, "Grade Deliverable" %>

<% if @deliverable.is_team_deliverable? %>
    <h1>Grade Team Deliverable for <%= @deliverable.team.name %></h1>
<% else %>
    <h1>Grade Individual Deliverable for <%= @deliverable.creator.human_name %></h1>
<% end %>
<h2>Assignment: <%= @deliverable.assignment.title %></h2>

<% if !@deliverable.is_team_deliverable? %>
  <%= render :partial => 'people/twiki_photo_link', :locals => {:person => @deliverable.creator} %>
<% end %>

<%= form_for @deliverable, :html => {:multipart => true}, :url => {:action => :update_feedback, :id => @deliverable} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <% if !@deliverable.is_team_deliverable? %>
      <p>
        <%= f.fields_for :deliverable_grades do |builder| %>
          <%= builder.label :grade %>
          <%= builder.text_field :grade, size: 4 %>/<%= builder.object.max_score %>
        <% end %>
      </p>
    <% else %>
      <p>
        <%= label_tag "Team members grade" %>
        <%= text_field_tag "team_grade", ' ', :size => 4 %>
      </p>
    <% end %>
    <p>
      <%= f.label :feedback, "Feedback file to upload" %>
      <%= f.file_field :feedback %>
    </p>
    <p>
      <%= f.label :feedback_comment, "Feedback Comments" %>
      <br>
      <%= f.text_area :feedback_comment, :size => "70x10" %>
    </p>
  </div>

  <% if @deliverable.is_team_deliverable? %>
    <table class='layout_table'>
      <tbody>
        <% count = 0 %>
        <%=  f.fields_for :deliverable_grades do |builder| %>
        <% if count == 0 %>
            <tr>
          <% end %>
          <td><%= render :partial => 'people/twiki_photo_link_grading', :locals => {:builder => builder} %></td>
          <% count += 1 %>
          <% if count % 3 == 0 %>
            </tr>
          <% end %>
        <% end %>
        <% if count % 3 %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div>
    <%= f.hidden_field :status, value: 'Graded' %>
    <%= f.submit "Submit" %>
  </div>
<% end %>

<p>
  <%= link_to 'Cancel', deliverable_path(@deliverable) %>
</p>

<script>
  $(function() {
    $('#team_grade').bind('keyup', function() {
      $('.grade_input').each(function() {
        $(this).val($('#team_grade').val());
      });
    });
  });
</script>