<h1><%= @course.display_for_course_page %></h1>
<%= render :partial=>"layouts/grade_book_sub_menu" %>
<!--
<h2>Submitted <%= nomenclature_assignment_or_deliverable%>s</h2>
-->

<!--
<div class="rounded staff">
  <%= image_tag("/images/professor.jpg", :size => "50x50", :border => "0", :alt => "Only faculty can see this information", :title => "Faculty Role") %>
  <span class="instructions">Note: we will be improving this screen during the Spring 2013 semester by integrating in new student code. </span>
</div>
-->


<div>
  <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
  <%= javascript_include_tag 'jquery.quicksearch.js' %>
  <%= javascript_include_tag 'jquery.session' %>

  <!-- Begin Team Turing -->
  <script>

      $(document).ajaxStart(function(){
          $(this).find("#loading_ajax_request").show();
      });
      $(document).ajaxStop(function(){
          $(this).find("#loading_ajax_request").hide();
      });

      $(document).on('click', '.ajax', function() {
          var deliverable = $(this);
          $.get('/deliverables/' + $(this).find('#deliverable_id').text(),
                function(response){
                    deliverable.siblings().html(response);
                }
          )
          $(this).removeClass('ajax');
      });

      $(document).on('click', '.deliverable', function() {
          $(this).siblings().slideToggle();

          // Figure out the toggle state to show + or - sign
          var toggle_state = $(this).parent().find('#toggle_img').attr('src');
          toggle_state = toggle_state.substr(0, 12) == '/images/show' ? '/images/hide_deliverable_detail.png' : '/images/show_deliverable_detail.png';
          $(this).parent().find('#toggle_img').attr('src', toggle_state);
      });

  </script>
  <!-- End Team Turing -->

  <script>
    var assignment = "<%= nomenclature_assignment_or_deliverable %>";
    var name_column_index = 0;
    if (assignment=="Deliverable"){
       name_column_index = 1;
    }

      $(document).ready(function(){
          var $search = $("#filterBoxOne");
          if ($search.prop("disabled") == true) {
            $search.val('');
            $search.removeAttr("disabled");
          }
          $(".sortable").tablesorter();
          $search.quicksearch('.sortable tbody tr');
          // $(".sortable").tablesorter().tablesorterFilter({
          //     filterContainer: '#filterInputBox',
          //     filterClearContainer: '#filterClearOne',
          //     filterColumns:[name_column_index,name_column_index+1]
          // }) ;

          $("#filter_student").change(update_filter);
          $("#filter_assignment").change(update_filter);
          $("#filter_graded").removeAttr("checked", false);

          var statuses = ["graded", "ungraded", "drafted"];
          $.each(["graded", "ungraded", "drafted"], function(index, value){
            if($.session.get(value) == "false"){
              $("#filter_" + value).removeAttr("checked");
              filter(value);
            }
            else
            {
              $("#filter_" + value ).prop("checked", "true");
            }
          });

          $(".filter_status").change(function(){
            var status = $(this).attr("id").replace("filter_", "");
            filter(status);
            $.session.set(status, $("#filter_" + status).is(":checked"));
          });

        });
        function update_filter(){
          var filters = [];
          if($("#filter_student").is(':checked')){
            filters.push(name_column_index);
          }
          if($("#filter_assignment").is(':checked')){
            filters.push(name_column_index+1);
          }
          $(".sortable")[0].config.filter[0].filterColumns=filters;
          $(".sortable").trigger("doFilter");
        }
        function filter(status){
          $("tr."+ status).toggle();
        }
      </script>

  <!-- Begin Team Turing -->
  <script type='text/javascript'>

      // Update drop down menu with the selected text, assign the deliverable assignment_id
      $(document).ready(function() {
          $(".dropdown-menu li a").click(function(){
              var selText = $(this).text();
              var length_limit = 40;
              selText = (selText.length >= length_limit ? selText.substr(0, length_limit-3) + "..." : selText);
              $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
              $("#filter_options_assignment_id").val($(this).attr("id"));
              $('#filter_options_new').submit();
          });

          $('#search_box').keyup(function(){
              $('#filter_options_new').submit();
          });
      });

      var filter_graded = function() {
          $('#filter_options_graded').prop('checked', !$('#filter_options_graded').is(':checked')); // if checked, uncheck it and vice versa
          $('#filter_options_new').submit();
      };
      var filter_ungraded = function() {
          $('#filter_options_ungraded').prop('checked', !$('#filter_options_ungraded').is(':checked')); // if checked, uncheck it and vice versa
          $('#filter_options_new').submit();
      };
      var filter_drafted = function() {
          $('#filter_options_drafted').prop('checked', !$('#filter_options_drafted').is(':checked')); // if checked, uncheck it and vice versa
          $('#filter_options_new').submit();
      };
      var filter_by_my_teams = function() {
          $('#filter_options_is_my_teams_yes').prop('checked', !$('#filter_options_is_my_teams_yes').is(':checked'));
          $('#filter_options_new').submit();
      };


      // TODO David will implement the search box keyup listener
      $('#search_box').keyup(function(){
          $('#filter_options_new').submit();
      });

      // TODO David will implement the function that saves selected options to session
      function setSessionInfo() {

      }
  </script>
  <!-- End Team Turing -->

      <!-- <div style='border-right: solid 3px #7f7f7f;'> -->

<!--
        <h2>Search</h2>
-->

<!--
        <div id='filterBox'>
          <input id='filterInputBox' value='Page is still loading' disabled maxlength='30' size='30' type='text' placeholder="Enter search keywords"/>
          <%= image_tag("/images/tablesorter/cross.png", :width => "16", :height => "16", :id => "filterClearOne", :title => 'Click to clear filter.', :alt => 'Clear Filter Image') %> <br/>
          Search by:
          <input type="checkbox" id="filter_student"  checked="true"/> <label for="filter_student"> Student/Team Name</label>
          <input type="checkbox" id="filter_assignment"  checked="true"><label for="filter_assignment"> <%= nomenclature_assignment_or_deliverable %></label>
        </div></br>
        Filter by <%= nomenclature_assignment_or_deliverable %> status:
  <input id="filter_graded" class="filter_status" type="checkbox" checked="true" /><label for="filter_graded">Graded</label>&nbsp; &nbsp;
        <input id="filter_ungraded" class="filter_status" checked="true" type="checkbox"/><label for="filter_ungraded">Ungraded</label> &nbsp; &nbsp;
        <input id="filter_drafted" class="filter_status" checked="true" type="checkbox"/><label for="filter_drafted">Drafted</label> </br>
      </div>
-->

  <div id="container" class="container">

    <!-- Begin Team Turing -->
    <div id="loading_ajax_request" style="display: none;">
      <%= image_tag("/images/ajax-loader.gif", :class => "ajax-loader") %>
    </div>

    <!-- Filters -->
    <%= form_for @filter_options, :as => :filter_options, :url => {:action => "get_deliverables", :id => params[:id]}, :remote => true do |f| %>
    <%#= form_for @filter_options, :as => :filter_options, :url => {:action => "filter_deliverables", :id => params[:id]}, :remote => true do |f| %>
        <!-- Search -->
        <div class="row">
          <%= f.text_field :search_box, { :id => "search_box", :class => "form-control", :placeholder => "Search for student, team, Andrew ID..." } %>
        </div>
        <!-- /Search -->

        <hr>

        <div class="row">

          <div class="pull-left">

            <div class="btn-group btn-group-sm" data-toggle="buttons" id="filter_buttons">
              <label class="btn btn-default active" onclick="filter_ungraded();">
                <%= f.check_box :ungraded, { checked: true } %> Ungraded
              </label>
              <label class="btn btn-default active" onclick="filter_drafted();">
                <%= f.check_box :drafted, { checked: true } %> Drafted
              </label>
              <label class="btn btn-default" id="filter_options_graded_label" onclick="filter_graded();">
                <%= f.check_box :graded %> Graded
              </label>

              <%= f.hidden_field :assignment_id, { value: '' } %>

              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  All Deliverables
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="list-style: none; margin:0; padding-left:0; padding-right:0; z-index: 200; ">
                  <li><a id="-1" href="">All Deliverables</a></li>
                  <% @assignments.each do |assignment| %>
                      <li>
                        <a id="<%= assignment.id %>" href="#"><%= "Task #{assignment.task_number}: #{assignment.name}" %></a>
                      </li>
                  <% end %>
                </ul>
              </div>
            </div>

          </div> <!-- /pull-left -->

          <div class="pull-right">

            <div class="btn-group btn-group-sm" data-toggle="buttons">
              <label class="btn btn-default active" onclick="filter_by_my_teams();">
                <%= f.radio_button :is_my_teams, "yes", { checked: true }  %> My teams
              </label>
              <label class="btn btn-default" onclick="filter_by_my_teams();">
                <%= f.radio_button :is_my_teams, "no", { checked: false }  %> Everyone
              </label>
            </div>

          </div> <!-- /pull-right -->

        </div> <!-- /row -->
    <% end %>
    <!-- /Filters -->

    </div> <!-- /container -->

    <hr>
    <!-- End Team Turing -->

    <div id="deliverables">
      <%= render :partial => "deliverable_listing_professor", :locals => {:deliverables => @deliverables, :skip_course_column => true} %>
    </div>
</div>
