<h1>Listing Deliverables</h1>

<table>
  <tr>
    <th>Submission Date</th>
    <th>Authors</th>
    <th>Deliverable URL</th>
    <th>Actions</th>
  </tr>

<% @deliverables.each do |deliverable| %>
  <tr>
    <td><%=h deliverable.submission_date %></td>
    <td>
        <% deliverable.people.each do |person| %>
            <%= person.human_name %><br />
        <% end %>
    </td>
    <td>
        <% if deliverable.deliverable_file_name != nil %>
            <%= link_to deliverable.deliverable_file_name, deliverable.deliverable.url %>
        <% end %>
    </td>
    <td><%= link_to 'Show Revisions', deliverable %></td>
    <td><%= link_to 'Edit', edit_deliverable_path(deliverable) %></td>
    <td><%= link_to 'Destroy', deliverable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New deliverable', new_deliverable_path %>