<h1>Listing Deliverables</h1>

<% if current_user.is_staff %>
    <div class="staff"><p>Note that this view is intended for students. To find deliverables submitted for a course,
      first select the course and then pick "deliverabes.
      See" <%= link_to "My courses", my_courses_path(current_user) %></p></div>
<% end %>

<%= link_to 'New deliverable', new_deliverable_path %>

<br/>
<br/>

<% if !@grouped_deliverables.empty? %>
  <div>
    <%= select(:deliverable, :semester, @grouped_deliverables.keys) %>
    <%= select(:deliverable, :course, @grouped_deliverables[@grouped_deliverables.keys.first].keys) %>
  </div>

  <% @grouped_deliverables.each do |semester, courses| %>
    <% courses.each do |course, deliverables| %>
      <div id="<%= "#{semester}_#{course}".gsub(/\s/, '-') %>" class="deliverable_listing" style="display:none;">
        <h2><%= course %></h2>
        <%= render :partial => "deliverable_listing", :locals => {:deliverables => deliverables[:deliverables], :skip_course_column => true} %>
        Course Totals: <%= deliverables[:earned_score] %> / <%= deliverables[:max_score] %><br/>
        Earned Grade: <%= Course.find_by_name(course).number_to_letter_grade(deliverables[:earned_score]) %><br/>
        Final Grade: <%=  CourseUserGrade.find_by_user_id(current_user.id).blank? ? Course.find_by_name(course).number_to_letter_grade(deliverables[:earned_score]) : CourseUserGrade.find_by_user_id(current_user.id).grade%>
      </div>
    <% end %>
  <% end %>
<% end %>

<br/>

<% if !@grouped_deliverables.empty? %>
  <%= link_to 'New deliverable', new_deliverable_path %>
<% end %>

<script>
  function showDeliverables() {
    deliverableDiv = ($('#deliverable_semester').val() + '_' + $('#deliverable_course').val()).replace(/\s/g, '-');
    $('.deliverable_listing').hide();
    $('#' + deliverableDiv).show();
  }
  $(function() {
    $('#deliverable_semester, #deliverable_course').change(showDeliverables);
    showDeliverables();
  });
</script>