<h1>Course: <%= @course.display_name %></h1>
<h2>Submitted <%=get_customised_name%>s</h2>

<div class="rounded staff">
  <%= image_tag("/images/professor.jpg", :size => "50x50", :border => "0", :alt => "Only faculty can see this information", :title => "Faculty Role") %>
  <span class="instructions">Only faculty can see this information.</span>
</div>



<div>
  <%= javascript_include_tag "tablesorter" %>
  <%= javascript_include_tag 'tablesorter_filter' %>
  <script>
      $(document).ready(function(){
          if ($("#filterBoxOne").prop("disabled") == true) {
              $('#filterBoxOne').val('');
              $('#filterBoxOne').removeAttr("disabled");
              $('#filterBoxTwo').val('');
              $('#filterBoxTwo').removeAttr("disabled");

          }

          $(".sortable").tablesorter().tablesorterFilter({
              filterContainer: '#filterBoxOne',
              filterClearContainer: '#filterClearOne',
              filterColumns:[1,2]
          }) ;
          $("#filter_student").change(create_filter);
          $("#filter_assignment").change(create_filter);
          $("#filter_drafted").change(function(){
              filter("drafted");
          });
          $("#filter_graded").change(function(){
              filter("graded");
          });
          $("#filter_ungraded").change(function(){
              filter("ungraded");
          });


      });
      function create_filter(){
          var filters = [];
          if($("#filter_student").is(':checked')){
              filters.push(1);
          }
          if($("#filter_assignment").is(':checked')){
              filters.push(2);
          }
          $(".sortable")[0].config.filter[0].filterColumns=filters;
          $(".sortable").trigger("doFilter");



      }
      function filter(status){
          console.log(status);
          $("tr."+ status).toggle();
      }
  </script>
  <!-- <div style='border-right: solid 3px #7f7f7f;'> -->


  <h2>Search</h2>


  <div id='filterBox'>
    <input id='filterBoxOne' value='Page is still loading' disabled maxlength='30' size='30' type='text'/>
    <%= image_tag("/images/tablesorter/cross.png", :width => "16", :height => "16", :id => "filterClearOne", :title => 'Click to clear filter.', :alt => 'Clear Filter Image') %> <br/>
    <input type="checkbox" id="filter_student"  checked="true"/> Student/Team Name   <input type="checkbox" id="filter_assignment"  checked="true">Assignment
  </div>
  Status: <input id="filter_graded" type="checkbox" checked="true"/ >Graded <input id="filter_ungraded" checked="true" type="checkbox"/>Ungraded <input id="filter_drafted"  checked="true" type="checkbox"/> Drafted </br>
</div>

<% if current_user.is_staff? ||  current_user.is_admin? %>
<%= render :partial => "deliverable_listing_professor", :locals => {:deliverables => @deliverables, :skip_course_column => true} %>
 <% else %>
    <%= render :partial => "deliverable_listing_student", :locals => {:deliverables => @deliverables, :skip_course_column => true} %>
    <% end %>
<br/>
