<h1><%= @course.display_for_course_page %></h1>
<%= render :partial=>"layouts/grade_book_sub_menu" %>
<h2>Submitted <%= nomenclature_assignment_or_deliverable%>s</h2>

<div class="rounded staff">
  <%= image_tag("/images/professor.jpg", :size => "50x50", :border => "0", :alt => "Only faculty can see this information", :title => "Faculty Role") %>
  <span class="instructions">Note: we will be improving this screen during the Spring 2013 semester by integrating in new student code. </span>
</div>


<div>
  <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
  <%= javascript_include_tag 'jquery.quicksearch.js' %>
  <%= javascript_include_tag 'jquery.session' %>

  <script>
    var assignment = "<%= nomenclature_assignment_or_deliverable %>";
    var name_column_index = 0;
    if (assignment=="Deliverable"){
       name_column_index = 1;
    }

      $(document).ready(function(){
          var $search = $("#filterBoxOne");
          if ($search.prop("disabled") == true) {
            $search.val('');
            $search.removeAttr("disabled");
          }
          $(".sortable").tablesorter();
          $search.quicksearch('.sortable tbody tr');
          // $(".sortable").tablesorter().tablesorterFilter({
          //     filterContainer: '#filterInputBox',
          //     filterClearContainer: '#filterClearOne',
          //     filterColumns:[name_column_index,name_column_index+1]
          // }) ;
          
          $("#filter_student").change(update_filter);
          $("#filter_assignment").change(update_filter);
          $("#filter_graded").removeAttr("checked", false);

          var statuses = ["graded", "ungraded", "drafted"];
          $.each(["graded", "ungraded", "drafted"], function(index, value){
            if($.session.get(value) == "false"){
              $("#filter_" + value).removeAttr("checked");
              filter(value);
            }
            else
            {
              $("#filter_" + value ).prop("checked", "true");
            }
          });
          
          $(".filter_status").change(function(){
            var status = $(this).attr("id").replace("filter_", "");
            filter(status);
            $.session.set(status, $("#filter_" + status).is(":checked"));
          });

        });
        function update_filter(){
          var filters = [];
          if($("#filter_student").is(':checked')){
            filters.push(name_column_index);
          }
          if($("#filter_assignment").is(':checked')){
            filters.push(name_column_index+1);
          }
          $(".sortable")[0].config.filter[0].filterColumns=filters;
          $(".sortable").trigger("doFilter");
        }
        function filter(status){
          $("tr."+ status).toggle();
        }
      </script>
      <!-- <div style='border-right: solid 3px #7f7f7f;'> -->


        <h2>Search</h2>


        <div id='filterBox'>
          <input id='filterInputBox' value='Page is still loading' disabled maxlength='30' size='30' type='text' placeholder="Enter search keywords"/>
          <%= image_tag("/images/tablesorter/cross.png", :width => "16", :height => "16", :id => "filterClearOne", :title => 'Click to clear filter.', :alt => 'Clear Filter Image') %> <br/>
          Search by:
          <input type="checkbox" id="filter_student"  checked="true"/> <label for="filter_student"> Student/Team Name</label>
          <input type="checkbox" id="filter_assignment"  checked="true"><label for="filter_assignment"> <%= nomenclature_assignment_or_deliverable %></label>
        </div></br>
        Filter by <%= nomenclature_assignment_or_deliverable %> status:
  <input id="filter_graded" class="filter_status" type="checkbox" checked="true" /><label for="filter_graded">Graded</label>&nbsp; &nbsp;
        <input id="filter_ungraded" class="filter_status" checked="true" type="checkbox"/><label for="filter_ungraded">Ungraded</label> &nbsp; &nbsp;
        <input id="filter_drafted" class="filter_status" checked="true" type="checkbox"/><label for="filter_drafted">Drafted</label> </br>
      </div>

      <% if current_user.is_staff? ||  current_user.is_admin? %>
        <%= render :partial => "deliverable_listing_professor", :locals => {:deliverables => @deliverables, :skip_course_column => true} %>
      <% else %>
        <%= render :partial => "deliverable_listing_student", :locals => {:deliverables => @deliverables, :skip_course_column => true, :user => current_user} %>
      <% end %>
      <br/>
