<h1>Listing Deliverables</h1>

  <% if !@current_deliverables.empty? %>
    <h2><%= @current_semester %> <%= @current_year %>Current Semester Deliverables</h2>
    <%= render :partial => "deliverable_listing", :locals => { :deliverables => @current_deliverables, :skip_course_column => false }%>
    <br>
  <% end %>
  <% if !@past_deliverables.empty? %>
    <h2>Previous Semesters' Deliverables</h2>
    <%= render :partial => "deliverable_listing", :locals => { :deliverables => @past_deliverables, :skip_course_column => false }%>
    <br><br>
  <% end %>

<br />

<%= link_to 'New deliverable', new_deliverable_path %>