<h1>My Deliverables</h1>

<% if !@courses_teaching_as_faculty.empty? %>
  <div id="filters">
    <%= form_for(:filter, remote: true) do |f| %>
      <%= f.label :semester_year %>
      <%= f.select :semester_year, @semester_years, {}, {class: 'deliverable-filter'} %>
      <%= f.label :course_id %>
      <%= f.collection_select(:course_id, @courses_teaching_as_faculty, :id, :name, {:include_blank => 'All'}, {class: 'deliverable-filter'})  %><br />
      <%= f.label :assignment_id %>
      <%= f.collection_select(:assignment_id, @assignments, :id, :title, {:include_blank => 'All'}, {class: 'deliverable-filter'}) %>
      <%= f.label :submitted_by %>
      <%= f.select :submitted_by, @deliverable_users.map {|id, user| [user.human_name, id]}, {:include_blank => 'All'}, {class: 'deliverable-filter'} %>
      <%= f.label :status %>
      <%= f.select :status, ['Ungraded', 'Graded'], {}, {class: 'deliverable-filter'} %><br />
      <%= f.submit hidden: true%>
    <% end %>
  </div>
  <div id='grading_queue'><%= render 'deliverables/grading_queue' %></div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.deliverable-filter').change(function() {
      $('#filters form').submit();
    })
  })
</script>