<div id="contentToGrade_<%=@deliverable.id%>">
  <script>
      $('#allDeliverablesDetails tbody tr').hide();
      $('#title').show();
      $('#version_0').show();
  </script>

  <th><h2><%= nomenclature_assignment_or_deliverable %> details:</h2></th>

  <%= link_to_function "Show All", "if($(this).text().toString()==='Show Latest Version Only'){ $('#allDeliverablesDetails tbody tr').hide(); $('#title').show(); $('#version_0').show(); $(this).text('Show All'); }else{ $('#allDeliverablesDetails tbody tr').hide(); $('#allDeliverablesDetails tbody tr').show(); $(this).text('Show Latest Version Only'); }" %>

  <div id="allDeliverablesDetails">
      <table class="twikiTable" cellpadding="0" cellspacing="0" width="100%">
        <tr id="title">
          <th>Submission Details</th>
        </tr>

        <% if current_user.is_student %>
            <tr class=<%= cycle('twikiTableOdd', 'twikiTableEven') %>>
              <td>
                <% if current_user.is_student %>
                    (<%= link_to 'Upload New Version', edit_deliverable_path(@deliverable) %>)
                <% end %>
              </td>
              <td colspan="2">&nbsp;</td>
            </tr>
        <% end %>

        <% @deliverable.attachment_versions.each_with_index do |version, index| %>
            <tr class=<%= cycle('twikiTableOdd', 'twikiTableEven') %>, id="version_<%= index %>">
              <td>
              Attachment:&nbsp;
              <% unless version.attachment_file_name.nil? %>
                  <%= link_to version.attachment_file_name, version.attachment.url %>
              <% end %>
              <br/>
              Uploaded at:&nbsp;
              <% if index == 0 %>
                  <%= display_timestamp(version.submission_date, :class => "latest") -%>
              <% else %>
                  <%= display_timestamp(version.submission_date) -%>
              <% end %>
              <% if !@deliverable.assignment_due_date.nil? && version.submission_date > @deliverable.assignment_due_date %>
                        <span style='color:red;'>(<%= distance_of_time_in_words(version.submission_date, @deliverable.assignment_due_date) %>
                          Late!)</span>
              <% end %>
              <br/>
              Comment:&nbsp;<%= version.comment %>
              </td>
            </tr>
        <% end %>
      </table>
  </div>

  <br/>

  <% if current_user.is_admin? || @course.faculty.include?(current_user) %>
     <%= render :partial => "edit_student_feedback", :locals => {:button_name => "Submit"} %>
  <% elsif current_user.is_student? %>
    <%= render :partial => "view_feedback_by_professor" %>
  <% end %>
</div>
