<% content_for :title, "Deliverable for " + @deliverable.course.name + " Task " + @deliverable.task_number %>
<h1><%= "Deliverable for " + @deliverable.course.name + ", Task " + @deliverable.task_number -%></h1>

<p>
  <% if @deliverable.is_team_deliverable? %>
    <b>Team Deliverable for team <%= @deliverable.team.name -%></b>
  <% else %>
    <b>Individual Deliverable for <%= @deliverable.creator.human_name -%></b>
  <% end %>
</p>

<p>
  <b>Description:</b>
  <%=h @deliverable.description %>
</p>

<p>
  <b>Current Revision:</b>
  <%= link_to @deliverable.current_revision.revision_file_name, @deliverable.current_revision.revision.url %>
  (<%= link_to 'Upload New Revision', edit_deliverable_path(@deliverable) %>)
</p>

<p>
  <b>Submitted on:</b> <%= @deliverable.current_revision.submission_date %>
</p>

<h1>Revision History</h1>

<table  class="twikiTable" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <th>Submission Date</th>
    <th>Deliverable File</th>
    <th>Comments</th>
  </tr>

  <% for revision in @deliverable.revisions %>

  <tr class=<%= cycle('twikiTableOdd', 'twikiTableEven')%> >
    <td><%=h revision.submission_date %></td>
    <td>
        <% if revision.revision_file_name != nil %>
            <%= link_to revision.revision_file_name, revision.revision.url %>
        <% end %>
    </td>
    <td>
      <%=h revision.comment -%>
    </td>
  </tr>
  <% end %>
</table>


