<% content_for :title, "Deliverable for " + @deliverable.course.name + " Task " + @deliverable.task_number %>
<h1><%= "Deliverable for " + @deliverable.course.name + ", Task " + @deliverable.task_number -%></h1>

<p>
  <b><%=h @deliverable.name %></b>
</p>
<p>
  <% if @deliverable.is_team_deliverable? %>
    Team Deliverable for Team <%= @deliverable.team.name -%>
  <% else %>
    Individual Deliverable for <%= @deliverable.creator.human_name -%>
  <% end %>
 (<%= link_to 'Edit', edit_deliverable_path(@deliverable) %>)
    
</p>



<h1>Feedback</h1>
<table  class="twikiTable" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <th>Date</th>
    <th>File</th>
    <th>Comments</th>
  </tr>

  <% if @current_user.is_staff? %>
  <tr class=<%= cycle('twikiTableOdd', 'twikiTableEven')%> >
        <td>(<%= link_to 'Alter Feedback', deliverable_feedback_path(@deliverable) %>)</td>
        <td colspan="2">&nbsp;</td>
  </tr>
  <% end %>
      
  <tr class=<%= cycle('twikiTableOdd', 'twikiTableEven')%> >
    <td><%= format_timestamp(@deliverable.feedback_updated_at) %></td>
    <td>
      <% unless @deliverable.feedback_file_name.nil? %>
          <%= link_to @deliverable.feedback_file_name, @deliverable.feedback.url %>
      <% else %>
          None
      <% end %>
    </td>
    <td>
      <% if @deliverable.feedback_comment.blank? %>
         None
      <% else %>
          <%=h @deliverable.feedback_comment %>
      <% end %>
    </td>
  </tr>
</table>


<br/>
<h1>Attachment Version History</h1>

<table  class="twikiTable" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <th>Submission Date</th>
    <th>Deliverable File</th>
    <th>Comments</th>
  </tr>

  <tr class=<%= cycle('twikiTableOdd', 'twikiTableEven')%> >
  <td>(<%= link_to 'Upload New Version', edit_deliverable_path(@deliverable) %>)
  </td>
  <td colspan="2">&nbsp;</td>
    </tr>

  <% @deliverable.attachment_versions.each do |version| %>
  <tr class=<%= cycle('twikiTableOdd', 'twikiTableEven')%> >
    <td><%= format_timestamp(version.submission_date) %></td>
    <td>
        <% unless version.attachment_file_name.nil? %>
            <%= link_to version.attachment_file_name, version.attachment.url %>
        <% end %>
    </td>
    <td>
      <%=h version.comment -%>
    </td>
  </tr>
  <% end %>
</table>
<% if current_user.is_staff %>
    <%= link_to 'Back to Course Deliverables', course_deliverables_path(@deliverable.course) %>
<% end %>
<% if current_user.is_student %>
    <%= link_to 'Back to My Deliverables', my_deliverables_path(current_user) %>
<% end %>
<br/>
<br/>

