<h1>Listing Deliverable Revisions</h1>

<table  class="twikiTable" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <th>Submission Date</th>
    <th>Team</th>
    <th>Deliverable URL</th>
    <th>Actions</th>
  </tr>

<% @deliverables.each do |deliverable| %>
  <tr>
    <td><%=h deliverable.submission_date %></td>
    <td><%= deliverable.team.name %></td>
    <td>
        <% if deliverable.deliverable_file_name != nil %>
            <%= link_to deliverable.deliverable_file_name, deliverable.deliverable.url %>
        <% end %>
    </td>
    <td>
        <%= link_to 'Show', deliverable %>
        <%= link_to 'Destroy', deliverable, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_deliverable_path(@deliverables[0].id) %>
<%= link_to 'Back', deliverables_path %>