<% content_for :title, 'All Teams' %>
<h1>Listing teams</h1>






<table class="twikiTable" cellpadding="0" cellspacing="0">
  <tr>
    <th class="twikiFirstCol">Team</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>Course</th>
    <th>Semester</th>
    <th>Mini</th>
    <th>Year</th>
    <th>Primary faculty</th>
    <th>Secondary faculty</th>
    <th>Team members</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

  <% @teams.each do |team| %>
      <tr class=<%= cycle('twikiTableOdd', 'twikiTableEven') %>>
        <% if !team.twiki_space.empty? %>
            <td class="twikiFirstCol"><a href='<%= h team.twiki_space %>'><%= h team.name %></a></td>
        <% else %>
            <td class="twikiFirstCol"><%= h team.name %></td>
        <% end %>
        <% unless (team.email.blank? || team.updating_email) %>
            <td>
              <a href='mailto:<%= h team.email %>'><%= image_tag("/images/email.gif", :width => "12", :height => "9", :border => 0) %></a>
            </td>
        <% else %>
            <td> &nbsp; </td>
        <% end %>
        <% unless team.tigris_space.blank? %>
            <td>
              <a href='<%= h team.tigris_space %>'><%= image_tag("/images/tigris.gif", :width => "16", :height => "16", :border => 0) %></a>
            </td>
        <% else %>
            <td> &nbsp; </td>
        <% end %>

        <td><%= link_to team.course.name, course_path(team.course_id) %></td>
        <td><%= h team.course.semester %></td>
        <td><%= h team.course.mini %></td>
        <td><%= h team.course.year %></td>

        <% if team.primary_faculty %>
            <td><%= link_to team.primary_faculty.human_name, person_path(team.primary_faculty.twiki_name) %></td>
        <% else %>
            <td>&nbsp;</td>
        <% end %>
        <% if team.secondary_faculty %>
            <td><%= link_to team.secondary_faculty.human_name, person_path(team.secondary_faculty.twiki_name) %></td>
        <% else %>
            <td>&nbsp;</td>
        <% end %>
        <td>
          <% team.members.each do |user| %>
              <%= link_to user.human_name, person_path(user.twiki_name) %>
              <% if user.is_adobe_connect_host %><%= image_tag("/images/connect.gif", :width => "16", :height => "16", :alt => "Adobe Connect Host") %>
              <% end %>
          <% end %> </td>
        <td><%= link_to 'Show', course_team_path(team.course_id, team) %></td>
        <td><%= link_to 'Edit', edit_course_team_path(team.course_id, team) %></td>
      </tr>
  <% end %>
</table>

<br/>

