<% content_for :title, "Peer Evaluation Tool" %>
<% content_for :javascript do %>
    <%= javascript_tag do %>
        $(function() {
        $("#team_peer_evaluation_first_email").datepicker({
        showButtonPanel: true,
        dateFormat: 'yy-mm-dd'
        });
        $("#team_peer_evaluation_second_email").datepicker({
        showButtonPanel: true,
        dateFormat: 'yy-mm-dd'
        });
        });
    <% end %>
<% end %>
<h1>Peer Evaluation Tool</h1>

<%= image_tag("peer_evaluation2.jpg", :size => "99x71", :border => "0") %>

<p>
  <b>Name:</b>
  <%= h @team.name %>
</p>

<p>
  <b>Email:</b>
  <%= h @team.email %>
</p>

<% if current_user && !current_user.is_student %>
    <h2>Step 0: See what the student will see</h2>
<% end %>

<p><%= link_to "Complete the peer evaluation", :action => "edit_evaluation", :id => params[:id], :controller => "peer_evaluation" %>
</p>

<% if current_user && (current_user.is_staff || current_user.is_admin) %>
    <h2>Step 1: Input Individual Learning Objectives</h2>
    <p><%= link_to "Input learning objectives", :action => "edit_setup", :id => params[:id], :controller => "peer_evaluation" %></p>

    <h2>Step 2: Generate feedback for these students</h2>
    <p><%= link_to "Edit the peer evaluation reports", :action => "edit_report", :id => params[:id], :controller => "peer_evaluation" %></p>

<% end %>
<br/>

<%= link_to 'Back', peer_evaluations_path(@team.course_id) %>
<br/>