<% content_for :title, "Peer Evaluation Tool" %>
    <link type="text/css" rel="stylesheet" href="/stylesheets/jscal2.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/border-radius.css" />

    <script src="/javascripts/jscal2.js"></script>
    <script src="/javascripts/en.js"></script>


    <p>
  <b>Name:</b>
  <%=h @team.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @team.email %>
</p>

<h1>Peer Evaluation Tool</h1>

<%= image_tag("/images/peer_evaluation2.jpg", :size => "99x71", :border=>"0") %>

<%if current_user && !current_user.is_student %>
<h2>Step 0: See what the student will see</h2>
<%end%>

<p><%= link_to "Complete the peer evaluation", :action => "edit_evaluation", :id => params[:id], :controller => "peer_evaluation" %>
</p>

<%if current_user && (current_user.is_staff || current_user.is_admin)%>
<h2>Step 1: Setup the tool for this team</h2>
<p><%= link_to "Edit each team member's learning objectives", :action => "edit_setup", :id => params[:id], :controller => "peer_evaluation" %></p>

<p>The tool will send out two reminder emails to the students. Select the dates here.</p>
<% form_for @team, :url => {:action => "survey_monkey_update"} do |f| %>

<%= hidden_field_tag("yearFieldOne", @team.peer_evaluation_first_email.year) %>
<%= hidden_field_tag("dayFieldOne", @team.peer_evaluation_first_email.day) %>
<%= hidden_field_tag("monthFieldOne", @team.peer_evaluation_first_email.month) %>

<%= hidden_field_tag("yearFieldTwo", @team.peer_evaluation_second_email.year) %>
<%= hidden_field_tag("dayFieldTwo", @team.peer_evaluation_second_email.day) %>
<%= hidden_field_tag("monthFieldTwo", @team.peer_evaluation_second_email.month) %>

<input type="hidden" name="id" value="<%=params[:id]%>">
<table>
        <tr>
          <td valign="top">First Email Date:<br/>"Heads up" notification</td>
          <td align="left" style="padding-left:1.5em">
            <div id="cont"></div>
          <script type="text/javascript">
            /**
             * createDatePicker creates a datePicker object used to select a calender date in the UI.
             * @param cont The div id to use for the div that the calender is inserted in.
             * @param date The date.
             * @param selection The date to select in the UI.
             * @param yearField The div id of the hidden form tag where the yearField value will be stored.
             * @param dayField The div id of the hidden form tag where the dayField value will be stored.
             * @param monthField The div id of the hidden form tag where the monthField value will be stored.
             */
            function createDatePicker(cont, date, selection, yearField, dayField, monthField) {
              // create the calender object
              var datePicker = Calendar.setup({
                    cont: cont,
                    weekNumbers: false,
                    fdow: 0,
                    date: date,
                    selection: selection
              })

              // add a listener for when the user selects a date
              datePicker.addEventListener("onSelect", function(){
                    document.getElementById(yearField).value = this.selection.print("%Y");
                    document.getElementById(dayField).value = this.selection.print("%d");
                    document.getElementById(monthField).value = this.selection.print("%m");
              });
            }

            // create first date picker for the first email date - heads up notification
            createDatePicker("cont", <%= @first_email_date %>, <%= @first_email_date %>, "yearFieldOne", "dayFieldOne", "monthFieldOne");
          </script>
          </td>
        </tr>
        <tr><td>&nbsp</td><td>&nbsp;</td></tr>
        <tr>
          <td valign="top">Second Email Date:<br/>"Do it today" reminder</td>
          <td align="left" style="padding-left:1.5em">
            <div id="cont2"></div>
          <script type="text/javascript">
            // create second date picker second email date - do it today reminder
            createDatePicker("cont2", <%= @second_email_date %>, <%= @second_email_date %>, "yearFieldTwo", "dayFieldTwo", "monthFieldTwo");
          </script></td></tr>
</table>

<%= submit_tag 'Save Dates' %><br><br>
<% end %>

<h2>Step 2: Generate feedback for thes students</h2>
<p><%= link_to "Edit the peer evaluation reports", :action => "edit_report", :id => params[:id], :controller => "peer_evaluation" %></p>

<%end%>
<br/>

<%= link_to 'Back', course_teams_path(@team.course_id) %>
<br/>