<h1>Editing effort_log_line_item</h1>

<%= form_for(@effort_log_line_item) do |f| %>
  <% if @effort_log_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@effort_log_line_item.errors.count, "error") %> prohibited this effort log line item from being saved:</h2>

      <ul>
      <% @effort_log_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  <p>
    <%= f.label :effort_log_id %><br />
    <%= f.text_field :effort_log_id %>
  </p>
  <p>
    <%= f.label :course_id %><br />
    <%= f.text_field :course_id %>
  </p>
  <p>
    <%= f.label :task_type_id %><br />
    <%= f.text_field :task_type_id %>
  </p>
  <p>
    <%= f.label :day1 %><br />
    <%= f.text_field :day1 %>
  </p>
  <p>
    <%= f.label :day2 %><br />
    <%= f.text_field :day2 %>
  </p>
  <p>
    <%= f.label :day3 %><br />
    <%= f.text_field :day3 %>
  </p>
  <p>
    <%= f.label :day4 %><br />
    <%= f.text_field :day4 %>
  </p>
  <p>
    <%= f.label :day5 %><br />
    <%= f.text_field :day5 %>
  </p>
  <p>
    <%= f.label :day6 %><br />
    <%= f.text_field :day6 %>
  </p>
  <p>
    <%= f.label :day7 %><br />
    <%= f.text_field :day7 %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @effort_log_line_item %> |
<%= link_to 'Back', effort_log_line_items_path %>
