<% content_for :title, 'Page Comment Types' %>
<h1>Listing Page Comment Types</h1>


<% unless @page_comment_types.nil? %>
<table>
    <% @page_comment_types.each do |type| %>
      <tr><td>
        <div class="rounded comment comment_type_<%= h type.name %>" style="padding: 5px; margin-right: 5px; background-color: <%=h type.background_color %>;">
          <%= h type.name %>
          <%= h type.background_color %>
        </div></td>
          <td><%= link_to 'Show', type %></td>
          <% if current_user.is_staff? || current_user.is_admin? %>
              <td><%= link_to 'Edit', edit_page_comment_type_path(type) %></td>
          <% end %>
          <% if current_user.is_admin %>
              <td><%= link_to 'Destroy', type, :confirm => 'Are you sure?', :method => :delete %></td>
          <% end %>
      </tr>
    <% end %>
</table>
<% end %>
<br/>

<%= link_to 'New Curriculum Comment Type', new_page_comment_type_path %>
