<h1><%= @assignment.new_record? ? "Create" : "Edit" %> Assignment</h1>

<%= form_for(@assignment) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <%= form.hidden_field :course_id %>

  <table class='layout_table'>
    <tbody>
      <tr>
        <td><%= form.label :task_number %></td>
        <td><%= form.text_field :task_number, size: 3 %></td>
      </tr>

      <tr>
        <td><%= form.label :title %>*</td>
        <td><%= form.text_field :title %></td>
      </tr>

      <tr>
        <td><%= form.label :weight, @assignment.course.grading_criteria %></td>
        <td>
          <div class="inline_field">
            <%= form.text_field :weight, size: 3 %>
            <%= "%" if @assignment.course.grading_criteria == "Percentage" %>
          </div>
        </td>
      </tr>

      <tr>
        <td><%= form.label :due_date %></td>
        <td><%= form.text_field :due_date, :size => 10 %></td>
      </tr>

      <%#= form.label :can_submit, "Yes" , value: "Yes" do %>
      <%#= form.radio_button :can_submit, "Yes", true, checked: true,  %>
    <% #end %>
      <tr>
        <td>Can students submit deliverables<br/>for this assignment?</td>
        <td>
          <% if @assignment.new_record? %>
            <%= form.radio_button :can_submit, true, checked: true %> <%= form.label :can_submit_true, "Yes" %>
            <br/>
            <%= form.radio_button :can_submit, false %> <%= form.label :can_submit_false, "No" %>
          <% else %>
            <%= form.radio_button :can_submit, true, checked: @assignment.can_submit %> <%= form.label :can_submit_true, "Yes" %>
            <br/>
            <%= form.radio_button :can_submit, false, checked: !@assignment.can_submit %> <%= form.label :can_submit_false, "No" %>
        <% end %>
        </td>
      </tr>

      <tr id="team_radio">
        <td>Deliverable type</td>
        <td>
          <%= form.radio_button :team_deliverable, true, checked: @assignment.new_record? || !@assignment.team_deliverable ? false : true %> <%= form.label :team_deliverable_true, "Team Deliverable" %>
          <br/>
          <%= form.radio_button :team_deliverable, false, checked: !@assignment.team_deliverable ? true : false %> <%= form.label :team_deliverable_false, "Individual Deliverable" %>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <%= form.submit "Save Assignment" %>
  </p>
<% end %>

<script>
  $(function() {
    $("#assignment_due_date").datepicker({
      showButtonPanel: true,
      dateFormat: 'yy-mm-dd'
    });

    $('#assignment_can_submit_true').click(function() {
      $('#team_radio').show();
    });

    $('#assignment_can_submit_false').click(function() {
      $('#assignment_team_deliverable_true').click();
      $('#team_radio').hide();
    });

    if ($("input[name='assignment[can_submit]']:checked").val() == 'false') {
      $('#team_radio').hide();
    }
  });
</script>