<%= javascript_tag do %>
  $(function() {
    $(".datepicker").datepicker({
      showButtonPanel: true,
      dateFormat: 'yy-mm-dd'
    });
  });
<% end %>
<%= form_for([@course,@assignment]) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
        <% @assignment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <% nomenclature = nomenclature_assignment_or_deliverable %>
  <% grade_type = grade_type_points_or_weights %>
  <table class='layout_table'>

    <% if nomenclature == "Deliverable"  %>
        <tr>
          <td style="width: 135px;"><%= f.label(:task_number) %></td>
          <td><%= f.text_field(:task_number, :size=>3) %></td>
        </tr>
    <% end %>
    <tr>
      <td><%= f.label(:name, "Name") %></td>
      <td><%= f.text_field(:name, :size=>60) %></td>
    </tr>
    <tr>
      <td><%= f.label(:short_name, "Abbreviation") %></td>
      <td><%= f.text_field(:short_name, :size=>6, :maxlength=>5) %></td>
    </tr>
    <tr id="team_radio">
      <td>Type</td>
      <td>
        <%= f.radio_button :is_team_deliverable, true, checked: @assignment.is_team_deliverable %> <%= f.label :is_team_deliverable_true, "Team Deliverable" %>
        <br/>
        <%= f.radio_button :is_team_deliverable, false, checked: !@assignment.is_team_deliverable %> <%= f.label :is_team_deliverable_false, "Individual Deliverable" %>
      </td>
    </tr>
    <tr>
      <td>Can students submit<br/> this assignment?</td>
      <td>
          <%= f.radio_button :is_submittable, true, checked: @assignment.is_submittable %> <%= f.label :is_submittable_true, "Yes" %>
          <br/>
          <%= f.radio_button :is_submittable, false, checked: !@assignment.is_submittable %> <%= f.label :is_submittable_false, "No (e.g. class participation, effort log, etc.)" %>
      </td>
    </tr>
    <tr>
      <td><%= f.label(:maximum_score, "Maximum #{grade_type}*")  %> </td>
      <td><%= f.text_field(:maximum_score, :size=>5) %> <%=(grade_type == "Points")?"Pts":"%" %></td>
    </tr>
    <tr>
      <td><%= f.label(:due_date) %></td>
      <td>
        <%= text_field :due_date, :date, :class => "datepicker", :value => (f.object.due_date.blank?)?"":f.object.due_date.strftime("%Y-%m-%d"), :size=>"11", :placeholder=>"YYYY-MM-DD" %>
        &nbsp;&nbsp;&nbsp;<%= text_field :due_date, :hour, :value => (f.object.due_date.blank?)?"":f.object.due_date.strftime("%H"), :size=>2,:placeholder=>"HH" ,:type=>"number", :max=>23, :min=>0%>:
        <%= text_field :due_date, :minute, :value => (f.object.due_date.blank?)?"":f.object.due_date.strftime("%M"), :size=>2, :placeholder=>"MM",:type=>"number", :max=>59, :min=>0 %>
      </td>
      
    </tr>
    <tr>
      <td></td>
      <td class="actions">

        <% if controller.action_name == 'new' %>
            <%= f.submit "Create #{nomenclature}"%>
        <% elsif controller.action_name == 'edit' %>
            <%= f.submit "Update #{nomenclature}"%>
         <% else %>
            <%= f.submit%>
        <% end %>

      </td>
    </tr>


  </table>

<% end %>
