<%= form_for(@assignment) do |form| %>
  <%= form.hidden_field :course_id %>
  <p>
    <%= form.label :task_number %>
    <%= form.text_field :task_number, size: 4 %>
  </p>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </p>

  <p>
    <%= form.label :due_date %>
    <%= form.text_field :due_date %>
  </p>

  <p>
    <%= form.radio_button :team_deliverable, true, checked: true %> <%= form.label :team_deliverable, "Team Deliverable" %>
    <%= form.radio_button :team_deliverable, false %> <%= form.label :team_deliverable, "Individual Deliverable" %>
  </p>

  <p>
    <%= form.label :can_submit %>
    <%= form.check_box :can_submit, checked: @assignment.new_record? ? true : @assignment.can_submit %>
  </p>

  <p>
    <%= form.submit "Save Assignment" %>
  </p>
<% end %>

<%= javascript_tag do %>
  $(function() {
    $("#assignment_due_date").datepicker({
      showButtonPanel: true,
      dateFormat: 'yy-mm-dd'
    });
  });
<% end %>