<h1>Assignments for <%= @course.name %></h1>
<%= link_to "New Assignment", new_course_assignment_path(@course.id) %>

<% if !@assignments.empty? %>
  <table class='cmu_table'>
    <thead>
      <tr>
        <th>Task Number</th>
        <th>Title</th>
        <th>Team<br/>Individual</th>
        <th>Due Date</th>
        <th>Weight</th>
        <th>Can Submit?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.task_number %></td>
        <td><%= assignment.title %></td>
        <td><%= assignment.team_deliverable %></td>
        <td><%= assignment.due_date %></td>
        <td><%= assignment.weight %></td>
        <td><%= assignment.can_submit %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment.id) %>
        <%= link_to 'Delete', assignment, method: :delete, confirm: "Are you sure you want to delete: #{assignment.title}?" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<!--Div that will hold the pie chart-->
<div id="chart_div"></div>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Assignment');
    data.addColumn('number', 'Weight');
    data.addRows([<%= @assignments.map {|assignment| "[\"#{assignment.title}\", #{assignment.weight}],"}.join.html_safe %>]);

    // Set chart options
    var options = {'title':'Assignment Weight Distribution',
      'width':696,
      'height':300,
      'backgroundColor':'transparent'};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>