<h1>Assignments for <%= @course.name %></h1>
<%= link_to "New assignment", new_course_assignment_path(@course.id) %>

<% if !@assignments.empty? %>
  <table class='cmu_table'>
    <thead>
      <tr>
        <th>Task Number</th>
        <th>Title</th>
        <th></th>
        <th>Due Date</th>
        <th><%= @course.grading_criteria %></th>
        <th>Can Submit?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @assignments.each do |assignment| %>
        <tr>
          <td><%= assignment.task_number %></td>
          <td><%= assignment.title %></td>
          <td><%= assignment.team_deliverable ? 'Team' : 'Individual' %></td>
          <td><%= l assignment.due_date, format: :chatty %></td>
          <td><%= assignment.weight %></td>
          <td><%= assignment.can_submit ? 'Yes' : 'No' %></td>
          <td><%= link_to 'Edit', edit_assignment_path(assignment.id) %>
          <%= link_to 'Delete', assignment, method: :delete, confirm: "Are you sure you want to delete: #{assignment.title}?" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!--Div that will hold the pie chart-->
  <div id="chart_div" style='text-align: left;'></div>

  <%
    assignment_array = @assignments.map {|assignment| "[\"#{assignment.title}\", #{assignment.weight}],"}

    if !@assignments.empty? && @assignments[0].course.grading_criteria == "Percentage"
      assignment_sum = @assignments.to_a.sum(&:weight)
      if (100 - assignment_sum) > 0
        assignment_array << "['Unassigned', #{100 - assignment_sum}]"
      end
    end
  %>

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Assignment');
      data.addColumn('number', 'Weight');
      data.addRows([<%= assignment_array.join.html_safe %>]);

      // Set chart options
      var options = {'title':'Assignment Weight Distribution',
        'width':696,
        'height':300,
        'backgroundColor':'transparent'};

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>
<% end %>