<% content_for :title, "Grade Assignment" %>

<% if @assignment.team_deliverable %>
  <% if @assignment.can_submit %>
    <h1>Grade Team <%= @assignment.course.grading_nomenclature %> <%= @team.blank? ? "" : "for #{@team.name}" %></h1>
  <% else %>
    <h1>Grade <%= @assignment.course.grading_nomenclature %></h1>
  <% end %>
<% else %>
  <h1>Grade Individual <%= @assignment.course.grading_nomenclature %> for <%= @user.human_name %></h1>
<% end %>
<h2><%= @assignment.course.grading_nomenclature %>: <%= @assignment.title %></h2>

<% if !@assignment.team_deliverable %>
  <%= render :partial => 'people/twiki_photo_link', :locals => {:person => @user} %>
<% end %>

<%= form_for @assignment, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <% if !@assignment.team_deliverable %>
      <p>
        <div class='inline_field'>
          <% f.fields_for :assignment_grades do |ag_builder| %>
            <% next if @user != ag_builder.object.user %>
            <%= ag_builder.label :given_grade %>
            <%= ag_builder.text_field :given_grade, size:4, class: 'grade_input' %>/<%= @assignment.max_score %>
          <% end %>
        </div>
      </p>
    <% end %>

    <% if @assignment.course.grading_criteria == "Percentage" %>
      <p>
        <%= "Weight: #{@assignment.weight}%" %>
      </p>
    <% end %>
    <p>
      Deliverable: <%= @assignment.can_submit? ? "Not Submitted" : "Unsubmittable" %>
     </p>
   </div>

  <% if @assignment.team_deliverable %>
    <p>
      <%= text_field_tag "team_grade", '', :size => 4 %>/<%= @assignment.max_score %>
      <%= submit_tag 'Apply grade to everyone', :type => 'button', :id => "apply_team_grade" %>
    </p>
    <table class='layout_table'>
      <tbody>
      <% count = 0 %>
        <div class='inline_field'>
          <% f.fields_for :assignment_grades do |ag_builder| %>
            <% next if !@team_members.include?(ag_builder.object.user) %>
            <% if count == 0 %>
              <tr>
            <% end %>
            <td><%= render :partial => 'people/twiki_photo_link_grading', :locals => {:builder => ag_builder} %></td>
            <% count += 1 %>
            <% if count % 3 == 0 %>
              </tr><tr>
            <% end %>
          <% end %>
        </div>
      <% if count % 3 %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <div>
    <%= f.submit "Submit Grades" %>
  </div>
<% end %>

<p>
  <%= link_to 'Cancel', course_gradebook_path(@assignment.course) %>
</p>

<script>
  $(function() {
    $('#apply_team_grade').bind('click', function() {
      $('.grade_input').each(function() {
        $(this).val($('#team_grade').val());
      });
    });
  });
</script>