<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Task Number</th>
    <th>Assignment Order</th>
    <th>Name</th>
    <th>Due Date</th>
    <th>Team Deliverable</th>
    <th>Is Submittable</th>
    <th>Max Score</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @assignments.each do |assignment| %>
<% content_tag_for(:tr, assignment) do %>

    <td><%=assignment.task_number  %> </td>
    <td><%=assignment.assignment_order  %> </td>
    <td><%=assignment.name  %> </td>
    <td><%=assignment.due_date  %> </td>
    <td><%=assignment.is_team_deliverable  %> </td>
    <td><%=assignment.is_submittable  %> </td>
    <td><%=assignment.maximum_score  %> </td>
    <td><%= link_to 'Show',[@course,assignment] %></td>
    <td><%= link_to 'Edit', edit_course_assignment_path(@course,assignment) %></td>
    <td><%= link_to 'Destroy', [@course,assignment], :confirm => 'Are you sure?', :method => :delete, :remote=>true %></td>
  </tr>
 <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_course_assignment_path %>
