<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Task Number</th>
    <th>Name</th>
    <th>Due Date</th>
    <th>Team Deliverable</th>
    <th>Is Submittable</th>
    <th>Max Score</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @assignments.each do |assignment| %>
<% content_tag_for(:tr, assignment) do %>

    <td><%=assignment.task_number  %> </td>
    <td><%=assignment.name  %> </td>

    <td><%=assignment.due_date.to_date %> at <%=assignment.due_date.strftime("%I:%M%p")  %></td>
     <% if assignment.is_team_deliverable==true %>
        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
     <% else%>
        <td><input type="checkbox" disabled="disabled" ></td>
     <% end  %>
     <% if assignment.is_submittable==true %>
        <td><input type="checkbox" disabled="disabled" checked="checked"></td>
     <% else%>
        <td><input type="checkbox" disabled="disabled" ></td>
     <% end  %>
    <td><%=assignment.maximum_score  %> </td>
    <td><%= link_to 'Edit', edit_course_assignment_path(@course,assignment) %></td>
    <td><%= link_to 'Destroy', [@course,assignment], :confirm => 'Are you sure?', :method => :delete, :remote=>true %></td>
  </tr>
 <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_course_assignment_path %>
