<h1>Listing Assignments</h1>

<table class='cmu_table'>
  <tr>
    <th>Task Number</th>
    <th>Name</th>
    <th>Due Date</th>
    <th>Deliverable Type</th>
    <th>Student Can Submit For this Assignment?</th>
    <th>Max Score</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @assignments.each do |assignment| %>
  <%= content_tag_for(:tr, assignment) do %>

    <td><%=assignment.task_number  %> </td>
    <td><%=assignment.name  %> </td>
    <td><%=(assignment.due_date.blank?)?"":"#{assignment.due_date.to_date} at #{assignment.due_date.strftime("%I:%M%p")} (Pacific)"  %></td>
    <td><%=(assignment.is_team_deliverable)?"Team":"Individual"  %> </td>
    <td><%=(assignment.is_submittable)?"Yes":"No"  %> </td>
    <td><%=assignment.maximum_score  %> </td>
    <td><%= link_to 'Edit', edit_course_assignment_path(@course,assignment) %></td>
    <td><%= link_to 'Delete', [@course,assignment], :confirm => 'Are you sure?', :method => :delete, :remote=>true %></td>
  </tr>
 <% end %>
<% end %>
</table>
<br />
<%= link_to 'New Assignment', new_course_assignment_path %>
<br><br>