<script>
  $(window).load(function(){
    calculate();
  });
  function calculate(){
      var total_score = 0, individual_score = 0, team_score = 0;
      $(".max_score").each(function(){
          total_score += parseFloat($(this).text());
          if($.trim($(this).parents("tr").find("td.deliverable_type").text())=="Individual")
              individual_score += parseFloat($(this).text());
          if($.trim($(this).parents("tr").find("td.deliverable_type").text())=="Team")
              team_score += parseFloat($(this).text());
      });
      var unit=" Pts";
      if("<%=grade_type_points_or_weights%>" != "Points") unit = " %";
      $("#total").html("Total <%=grade_type_points_or_weights%>: " + total_score + unit+ "&nbsp;<br/>(Individual: " + individual_score + unit +")<br/>(Team: " + team_score +unit + ")");
  }
</script>
<% customised_name= nomenclature_assignment_or_deliverable %>
<h1>Listing <%= customised_name %></h1>
<%= link_to "New #{customised_name}", new_course_assignment_path %>
<table class='cmu_table'>
  <tr>
  <% if customised_name=="Deliverable" %>
    <th>Task Number</th>
  <% end %>
    <th><%=customised_name  %> Name</th>
    <th>Due Date</th>
    <th>Type</th>
    <th>Submission Required</th>
    <th><%=grade_type_points_or_weights%></th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @assignments.each do |assignment| %>
  <%= content_tag_for(:tr, assignment) do %>
    <% if customised_name=="Deliverable" %>
         <td><%=assignment.task_number  %> </td>
    <% end %>
    <td><%=assignment.name  %> </td>
    <td><%=(assignment.due_date.blank?)?"":"#{assignment.due_date.to_date} at #{assignment.due_date.strftime("%I:%M%p")} (Pacific)"  %></td>
    <td class="deliverable_type"><%=(assignment.is_team_deliverable)?"Team":"Individual"  %> </td>
    <td><%=(assignment.is_submittable)?"Yes":"No"  %> </td>
    <td class="max_score"><%=assignment.maximum_score  %> </td>
    <td><%= link_to 'Edit', edit_course_assignment_path(@course,assignment) %></td>
    <td><%= link_to 'Delete', [@course,assignment], :confirm => 'Are you sure?', :method => :delete, :remote=>true %></td>
  </tr>
 <% end %>
<% end %>
</table>
<br />
<div style="width:97%" >
  <div  style="float:right;text-align: right;" id="total"></div>
</div>
<div style="clear:both"></div>
<br><br>