<div id='filterBoxUserSearch'>
  <!--Filter: -->
    <input id='filterBoxOne' value='Page is still loading' disabled maxlength='30' size='30' type='text' placeholder="Search for people here..." />

    <%= image_tag("/images/tablesorter/cross.png", :width => "16", :height => "16", :id => "filterClearOne", :title => 'Click to clear filter.', :alt => 'Clear Filter Image') %>
    <%= image_tag("/images/loader.gif", :title => 'Loading', :id => "filterBoxOne_loader", :alt => 'Loading') %>
    <div id="filterBoxOne_export_contacts" title="Export Contacts"></div>
    <div id="filterBoxOne_photobook" title="Photobook View"></div>
    <div id="filterBoxOne_filter" title="Advanced Search"></div>
</div>

<div id='advanced_search_filters'>
    <div class="filter_col">
        <table>
            <tr>
                <td>Advanced Search Filters:</td>
                <td>
                    <select id="filter_person_type">
                      <option value="">All</option>
                      <!-- <option value="FT">Faculty & staff</option>
                      <option value="F">Faculty</option> -->
                      <option value="S">Students</option>
                      <option value="SL">Full-Time students</option>
                      <option value="SP">Part-Time students</option>
                      <option value="T">Faculty & staff</option>
                    </select>
                    <p class="clearboth">
                        Search inactive <input id="search_inactive" type="checkbox" value="t" />
                    </p>
                </td>
            </tr>
        </table>

    </div>
    <div class="filter_col">
        <select id="filter_year">
            <option value="">Class of - </option>
        <% User.get_all_years.each do |y| %>
            <option value="<%= y %>">Class of <%= y %></option>
        <% end %>
        </select>

        <select id="filter_program">
            <option value="">All programs</option>
        <% User.get_all_programs.each do |p| %>
            <option value="<%= p %>"><%= p %></option>
        <% end %>
        </select>

        <select id="filter_course">
            <option value="">All courses</option>
        <% Course.all.each do |c| %>
            <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
        </select>
    </div>
</div>
