<% reset_cycle %>
<table class="twikiTable" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <th>Course</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th>Semester</th>
    <th>Year</th>
    <th width="100">Faculty</th>
    <th width="100">Faculty</th>
    <th>&nbsp;</th>
  </tr>
  <% teams.each do |team| %>
      <tr class=<%= cycle('twikiTableOdd', 'twikiTableEven') %>>
        <td><%= h team.course.name %></td>
        <% if !team.twiki_space.nil? && !team.twiki_space.empty? %>
            <td class="twikiFirstCol"><a href='<%= h team.twiki_space %>'><%= h team.name %></a></td>
        <% else %>
            <td class="twikiFirstCol"><%= h team.name %></td>
        <% end %>
        <% if !(team.email.nil? || team.email.empty?) %>
            <td>
              <a href='mailto:<%= h team.email %>'><%= image_tag("/images/email.gif", :width => "12", :height => "9", :border => 0) %></a>
            </td>
        <% else %>
            <td> &nbsp; </td>
        <% end %>
        <% if !team.tigris_space.nil? && team.tigris_space.empty? %>
            <td>
              <a href='<%= h team.tigris_space %>'><%= image_tag("/images/tigris.gif", :width => "16", :height => "16", :border => 0) %></a>
            </td>
        <% else %>
            <td> &nbsp; </td>
        <% end %>
        <td><%= h team.course.semester %></td>
        <td><%= h team.course.year %></td>
        <% if team.primary_faculty %>
            <td><%= link_to team.primary_faculty.human_name, person_path(team.primary_faculty.twiki_name) %></td>
        <% else %>
            <td>&nbsp;</td>
        <% end %>
        <% if team.secondary_faculty %>
            <td><%= link_to team.secondary_faculty.human_name, person_path(team.secondary_faculty.twiki_name) %></td>
        <% else %>
            <td>&nbsp;</td>
        <% end %>
        <td><%= link_to 'Show', course_team_path(team.course_id, team) %></td>
      </tr>
  <% end %>
</table>
