<% content_for :title, 'People' %>

<% content_for :tablesorter do %>
    <%= javascript_include_tag 'tablesorter' %>
    <%= javascript_include_tag 'tablesorter_filter' %>
    <script type="text/javascript">
        $(document).ready(function () {
                    if ($("#filterBoxOne").prop("disabled") == true) {
                        $('#filterBoxOne').val('');
                        $('#filterBoxOne').removeAttr("disabled");
                        $('#filterBoxOne').focus();
                    }
                    $("#people_table").tablesorter({widgets:['zebra'],
                        headers:{2:{sorter:false}  },
                        sortList:[
                            [0, 0],
                            [1, 0]
                        ]})
                            .tablesorterFilter({ filterContainer:$("#filterBoxOne"),
                                filterClearContainer:$("#filterClearOne"),
                                filterColumns:[0, 1, 3, 4, 5],
                                filterCaseSensitive:false
                            });

                    //scroll the message box to the top offset of browser's scrool bar
                    $(window).scroll(function () {
                        $('#image_box').animate({top:$(window).scrollTop() + "px" }, {queue:false, duration:350});
                    });
                    //when the close button at right corner of the message box is clicked
                    $('#close_image_box').click(function () {
                        //the messagebox gets scroll down with top property and gets hidden with zero opacity
                        $('#image_box').animate({ top:"+=15px", opacity:0 }, "slow");
                        $('#image_box').hide();
                    });

                    //hovering over a line selects it
                    $("tr").hover(
                            function () {
                                $(this).addClass("hover");
                            },
                            function () {
                                $(this).removeClass("hover");
                            });
                }
        );

        function toggleStudents() {
            /* we don't use .toggle since the state may be inaccurate from a page reload */
            if ($('#student_checkbox').is(':checked')) {
                $(".student").show();
            } else {
                $(".student").hide();
            }
            $("#filterBoxOne").trigger("keyup");
        }

        function toggleStaff() {
            if ($('#staff_checkbox').is(':checked')) {
                $(".staff").show();
            } else {
                $(".staff").hide();
            }
            $("#filterBoxOne").trigger("keyup");
        }

        function updateImage(uri, label) {
            $('#image_box_image').prop("src", uri);

            $('#image_box_label').text(label);
        }

    </script>
<% end %>

<h1>Listing people</h1>
<div class="right_link"><%= link_to 'See users book', :action => 'index' %>
  <br/><%= link_to 'See photo book', :action => 'photo_book' %></div>
<div style="float:none"><%= render :partial => "tablesorter_filter_box" %>
  <label>Show Students</label>
  <input type="checkbox" id="student_checkbox" onchange="toggleStudents()" value="1" checked="checked"/>
  <label>Show
    Staff</label><input type="checkbox" id="staff_checkbox" onchange="toggleStaff()" value="1" checked="checked"/>
</div>

<div id="image_box">
  <%= image_tag("/images/mascot.jpg", :width => "150", :alt => "Temporary Picture", :id => "image_box_image") %><%= image_tag("/images/tablesorter/cross.png", :width => "16", :height => "16", :alt => "Close Me", :style => "float:right;cursor:pointer", :id => "close_image_box") %>
  <div id='image_box_label'></div>
</div>

<% if current_user && (current_user.is_admin? || current_user.is_staff?) %>
    <%= link_to 'New person', new_person_path %>
<% end %>

<table id="people_table" class="tablesorter">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Icons</th>
    <th>Graduation year</th>
    <th>Graduate program</th>
    <th>Graduate track</th>
  </tr>
  </thead>
  <tbody>
  <% for person in @people %>

      <tr class="tablesorter
        <% if person.is_student %>student
        <% end %>
        <% if person.is_staff %>staff
        <% end %>" onmouseover="updateImage('<%= image_path(person.image_uri) %>','<%=person.human_name%>')">
        <td><%= link_to person.first_name, person_path(person.twiki_name) %></td>
        <td><%= link_to person.last_name, person_path(person.twiki_name) %></td>
        <td>
          <a href='http://info.sv.cmu.edu/twiki/bin/view/Main/<%= person.twiki_name %>' target='_top'><%= image_tag('/images/twiki.gif', :width => '16', :height => '16', :border => "0", :alt => "My TWiki page", :title => "My TWiki page") %></a>
          <% if person.is_adobe_connect_host %><%= image_tag("/images/connect.gif", :width => "16", :height => "16", :alt => "Adobe Connect Host", :title => "I am Adobe Connect Host") %>
          <% end %>
          <% if current_user.is_staff? || current_user.is_admin? %>
              <%= link_to image_tag("/images/my_teams2.gif", :width => "16", :height => "16", :alt => "My Teams", :title => "My Teams"), my_teams_path(person.id) %>
          <% end %>
        </td>
        <td><%= h person.graduation_year %></td>
        <td><%= h person.masters_program %></td>
        <td><%= h person.masters_track %></td>
        <td><%= link_to 'Show', person %></td>
        <% if current_user && current_user.is_staff? %>
            <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <% else %>
            <td>&nbsp;</td>
        <% end %>
        <!--
<% if current_user && current_user.is_admin? %>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
<% else %>
    <td>&nbsp;</td>
<% end %>
-->
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<% if current_user && (current_user.is_admin? || current_user.is_staff?) %>
    <%= link_to 'New person', new_person_path %>
<% end %>
