<% content_for :title, "Editing " + @person.human_name %>


<% content_for :javascript do %>

    <%= javascript_tag do %>
        $(function() {
        $("#user_expires_at").datepicker({
        showButtonPanel: true,
        dateFormat: 'yy-mm-dd'
        });
        });
    <% end %>

    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
    <%= javascript_include_tag 'ckeditor/adapters/jquery.js' %>

    <script type="text/javascript">

        // Enabling tooltips
        $(document).tooltip();

        // jQuery script to show an upload button when hovering over the user profile picture
        $(function() {
            $(".user_profile_photo_imgHover").hover(
                function() {
                    $(this).children("img").fadeTo(200, 0.5).end().children(".user_profile_photo_hover").show();
                },
                function() {
                    $(this).children("img").fadeTo(200, 1).end().children(".user_profile_photo_hover").hide();
                });
            CKEDITOR.replace( 'user_biography',
            {
                skin : 'kama',
                toolbar: 'CMUSV_SIMPLE',
                removePlugins: 'elementspath',
                width: "93%",
                height: "300px"
            });
            CKEDITOR.replace( 'user_user_text',
            {
                skin : 'kama',
                toolbar: 'CMUSV_SIMPLE',
                removePlugins: 'elementspath',
                width: "93%",
                height: "300px"
            });
        });

    </script>
<% end %>

<!-- start modified user profile edit -->
<%= form_for @person, :html => {:multipart => true} do |f| %>
    <% if @person.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

          <ul>
            <% @person.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="user_profile_content edit_user_profile">
        <div class="user_profile_photo_social">


            <% if can? :upload_photo, User %>
              </fieldset>
              <div class="user_profile_photo_imgHover">
                <div class="user_profile_photo_hover">
                    <div class="user_profile_photo_upload">
                      <%= f.label :upload_photo, "Upload new photo" %>
                      <%= f.file_field :photo %>
                    </div>
                </div>
                <%= image_tag(@person.image_uri,:class=>"user_profile_photo") %>
            </div>
            <% else %>
                <%= image_tag(@person.image_uri,:class=>"user_profile_photo") %>
            <% end %>

            <div class="user_profile_social clearboth">
                <table>
                    <tr>
                        <td  class="user_profile_social_edit"><%= image_tag("/images/icon_LinkedIn_gray.png", :id => "icon", :width => "24", :alt => "Linked in`", :title => "Linked In account") %></td>
                        <td  class="user_profile_social_edit"><%= f.text_field :linked_in, :placeholder => "LinkedIn URL", :size => "16", :title => "Go to the \"View Profile Page\" on LinkedIn and paste the url you see there besides the icon. If you've setup a LinkedIn username enter that instead. " %></td>
                    </tr>
                    <tr>
                        <td  class="user_profile_social_edit"><%= image_tag("/images/icon_Facebook_gray.png", :id => "icon", :width => "24", :alt => "Facebook", :title => "Facebook account") %></td>
                        <td  class="user_profile_social_edit"><%= f.text_field :facebook, :placeholder => "Facebook handle", :size => "16", :title => "Enter your facebook username directly or your profile homepage url" %></td>
                    </tr>
                    <tr>
                        <td  class="user_profile_social_edit"><%= image_tag("/images/icon_Twitter_gray.png", :id => "icon", :width => "24", :alt => "Twitter", :title => "Twitter account") %></td>
                        <td  class="user_profile_social_edit"><%= f.text_field :twitter, :placeholder => "Twitter handle", :size => "16", :title => "Enter your twitter handle or  homepage url." %></td>
                    </tr>
                    <tr>
                        <td  class="user_profile_social_edit"><%= image_tag("/images/icon_Google_gray.png", :id => "icon", :width => "24", :alt => "Google +", :title => "google+ account") %></td>
                        <td  class="user_profile_social_edit"><%= f.text_field :google_plus, :placeholder => "Google+ URL", :size => "16", :title => "Unfortunately G+ doesn't allow usernames directly. Go to plus.google.com, hit the profile tab/button on the left, then copy the convoluted url you see at the top. Paste the url here (remove the trailing /posts if you want to keep it clean)" %></td>
                    </tr>
                    <tr>
                        <td  class="user_profile_social_edit"><%= image_tag("/images/icon_github.png", :id => "icon", :width => "24", :alt => "github", :title => "github account") %></td>
                        <td  class="user_profile_social_edit"><%= f.text_field :github, :placeholder => "github handle", :size => "16", :title => "Enter your github username or github homepage url." %></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="user_profile_title">
            <div class="user_profile_action">
                <%= link_to 'Back', @person %> |
                <%= f.submit "Update" %>
            </div>
            <h1 id="user_profile_name">
                <%= f.text_field :first_name, :placeholder => "Preferred First Name" %>
                <%= f.text_field :last_name, :placeholder => "Last Name" %>
                <%= f.text_field :pronunciation, :placeholder => "Enter Pronounciation of your name" %>
            </h1>
        </div> <!-- user_profile_title -->



        <div class="user_profile_content_body">
            <table class="cmu_table">
                <tr class="">
                    <td>Personal Email</td>
                    <td><%= f.text_field :personal_email, :placeholder => "Enter your personal email" %></td>

                    </td>
                </tr>
                <tr>
                    <td><%= f.select :telephone1_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice"] %></td>
                    <td><%= f.text_field :telephone1 , :placeholder => "Enter telephone number" %>
                </tr>
                <tr class="">
                    <td><%= f.select :telephone2_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice"] %></td>
                    <td><%= f.text_field :telephone2, :placeholder => "Enter telephone number" %></td>
                </tr>
                <tr>
                    <td><%= f.select :telephone3_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice"] %></td>
                    <td><%= f.text_field :telephone3 , :placeholder => "Enter telephone number" %></td>
                </tr>
                <tr class="">
                    <td><%= f.select :telephone4_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice"] %></td>
                    <td><%= f.text_field :telephone4 , :placeholder => "Enter telephone number" %></td>
                </tr>
                <tr>
                    <td>Skype</td>
                    <td><%= f.text_field :skype, :placeholder => "Enter your skype id" %></td>
                </tr>
            </table>
        </div>
        <div class="user_profile_content_body">
            <table class="cmu_table">
                <tr class="">
                    <td>Organization</td>
                    <td>
                        <%= f.text_field :title, :placeholder => "Title" %>
                        <%= f.text_field :organization_name, :placeholder => "Company" %>
                    </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>
                        <%= f.text_field :work_country, :placeholder => "Work Country" %>
                        <%= f.text_field :work_state, :placeholder => "Work State" %>
                        <%= f.text_field :work_city, :placeholder => "Work City" %>
                    </td>
                </tr>
            </table>
        </div>

        <% if @person.is_student %>
        <div class="user_profile_campus_proximity user_profile_content_body">
            <table class="cmu_table">
                <tr>
                    <td>Unknown<input type="radio" name="user[local_near_remote]" value="Unknown" <% if @person.local_near_remote.blank? || @person.local_near_remote=="Unknown" %> checked <% end %> ></td>
                    <td>Not really sure.</td>
                </tr>
                <tr>
                    <td>Local<input type="radio" name="user[local_near_remote]" value="Local" <% if @person.local_near_remote=="Local" %>checked<% end %> ></td>
                    <td>I'm able to come to campus once or twice a week. </td>
                </tr>
                <tr>
                    <td>Near<input type="radio" name="user[local_near_remote]" value="Near" <% if @person.local_near_remote=="Near" %>checked<% end %> ></td>
                    <td>I live near Silicon Valley. I can drive in for final presentations or weekend events.</td>
                </tr>
                <tr>
                    <td>Remote<input type="radio" name="user[local_near_remote]" value="Remote" <% if @person.local_near_remote=="Remote" %>checked<% end %> ></td>
                    <td>I live out of the area. I can fly in for Orientation, The Gatherings, and Graduation.</td>
                </tr>
            </table>

        </div> <!-- user_profile_campus_proximity -->
        <% end %>

        <div class="clearboth">
            <h2><%= f.label :biography %>:</h2>
            <div class="user_profile_bio_edit_content">
                <div class="formItem">
                  <%= f.text_area :biography %>
                </div>
            </div>
        </div>

        <div style="display:none">
            <fieldset>
              <legend>Strength Finders</legend>
              For more information about Clifton's Strength Finders, visit
              <a href="http://www.strengthquest.com">Strength Quest</a>

              <div class="formItem">
                <%= f.label :strength1, "Strength 1" %>
                <%= f.collection_select :strength1_id, @strength_themes, :id, :theme, :include_blank => true %>
              </div>
              <div class="formItem">
                <%= f.label :strength2, "Strength 2" %>
                <%= f.collection_select :strength2_id, @strength_themes, :id, :theme, :include_blank => true %>
              </div>
              <div class="formItem">
                <%= f.label :strength3, "Strength 3" %>
                <%= f.collection_select :strength3_id, @strength_themes, :id, :theme, :include_blank => true %>
              </div>
              <div class="formItem">
                <%= f.label :strength4, "Strength 4" %>
                <%= f.collection_select :strength4_id, @strength_themes, :id, :theme, :include_blank => true %>
              </div>
              <div class="formItem">
                <%= f.label :strength5, "Strength 5" %>
                <%= f.collection_select :strength5_id, @strength_themes, :id, :theme, :include_blank => true %>
              </div>
            </fieldset>
        </div>

        <%= render :partial => 'show_faculty_fields', :locals => {:f => f, :person => @person} %>
        <%= render :partial => 'show_admin_fields', :locals => {:f => f, :person => @person} %>

    </div> <!-- user_profile_content div ends -->

    <div class="user_profile_action">
        <%= link_to 'Back', @person %> |
        <%= f.submit "Update" %>
    </div>

    <div class="user_profile_debugging clearboth">
        <h4>Versions</h4>
        <% for version in @person.versions.reverse %>
            Version <%= version.version %>
            <%= link_to '(revert)', {:action => 'revert_to_version', :version_id => version.version, :id => @person}, {:confirm => "Are you sure?"} %>
            <% if @person.version == version.version %>
                (currently on page)
            <% else %>
                <%= link_to '(preview)', :action => 'show', :version_id => version.version, :id => @person %>
            <% end %>
            <% updated_by = Person.find(:first, :conditions => ["id = ?", version.updated_by_user_id]) %>
            <% if !updated_by.nil? %>by <%= h updated_by.human_name %>
            <% end %>
            on <%= l version.updated_at, :format => :detailed %>
            <br/>
        <% end %>
        <br/><br/>
    </div>


<% end %> <!-- form end script -->





<!-- end -->


<!-- Checkbox can be done with this html character code: &#x2714; -->
