<% content_for :title, "Editing " + @person.human_name %>


<% content_for :javascript do %>

    <%= javascript_tag do %>
        $(function() {
        $("#user_expires_at").datepicker({
        showButtonPanel: true,
        dateFormat: 'yy-mm-dd'
        });
        });
    <% end %>

    <%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>

    <script type="text/javascript">
        tinyMCE.init({
            // General options
            mode:"textareas",
            theme:"advanced",
            //plugins : "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
            plugins:"table,advhr,searchreplace,contextmenu,safari,fullscreen,inlinepopups,paste,codeprotect",

            // Theme options
            theme_advanced_buttons1:"charmap,|,sub,sup,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect",
            theme_advanced_buttons2:"pasteword,|,replace,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,anchor,image,advhr, table, cleanup,removeformat,|,code,visualaid,fullscreen",
            theme_advanced_buttons3:"",

//    theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
//	theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
//	theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
//	theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
            theme_advanced_toolbar_location:"top",
            theme_advanced_toolbar_align:"left",
            theme_advanced_statusbar_location:"bottom",
            theme_advanced_resizing:true,

            // Example content CSS (should be your site CSS)
            content_css:"css/example.css",

            // Drop lists for link/image/media/template dialogs
            template_external_list_url:"js/template_list.js",
            external_link_list_url:"js/link_list.js",
            external_image_list_url:"js/image_list.js",
            media_external_list_url:"js/media_list.js",

            // Replace values for the template plugin
            template_replace_values:{
                username:"Some User",
                staffid:"991234"
            }
        });
    </script>
<% end %>

<!-- start modified user profile edit -->
<%= form_for @person, :html => {:multipart => true} do |f| %>
    <% if @person.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

          <ul>
            <% @person.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="user_profile_content">
        <div class="user_profile_photo_social">
            <%= image_tag(@person.image_uri,:class=>"user_profile_photo") %>
            <div class="user_profile_social clearboth">
                <table>
                    <tr>
                        <td  class="user_profile_social_edit"><%= image_tag("/images/icon_LinkedIn_gray.png", :id => "icon", :width => "24", :alt => "Linked in`", :title => "Linked In account") %></td>
                        <td  class="user_profile_social_edit"></td>
                    </tr>
                    <tr>
                        <td  class="user_profile_social_edit"><%= image_tag("/images/icon_Facebook_gray.png", :id => "icon", :width => "24", :alt => "Facebook", :title => "Facebook account") %></td>
                        <td  class="user_profile_social_edit"></td>
                    </tr>
                    <tr>
                        <td  class="user_profile_social_edit"><%= image_tag("/images/icon_Twitter_gray.png", :id => "icon", :width => "24", :alt => "Twitter", :title => "Twitter account") %></td>
                        <td  class="user_profile_social_edit"></td>
                    </tr>
                    <tr>
                        <td  class="user_profile_social_edit"><%= image_tag("/images/icon_Google_gray.png", :id => "icon", :width => "24", :alt => "Google +", :title => "google+ account") %></td>
                        <td  class="user_profile_social_edit"></td>
                    </tr>
                    <tr>
                        <td  class="user_profile_social_edit"><%= image_tag("/images/icon_github.png", :id => "icon", :width => "24", :alt => "github", :title => "github account") %></td>
                        <td  class="user_profile_social_edit"><%= f.text_field :github, :placeholder => "Enter your LinkedIn URL page", :size => "16" %></td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="user_profile_title">
            <div class="user_profile_action">
                <%= link_to 'Back', @person %> | 
                <%= f.submit "Update" %>
            </div>
            <h1 id="user_profile_name">
                <%= f.text_field :first_name, :placeholder => "Preferred First Name" %>
                <%= f.text_field :last_name, :placeholder => "Last Name" %>
                <%= f.text_field :pronunciation, :placeholder => "Enter Pronounciation of your name" %>
            </h1>
        </div> <!-- user_profile_title -->


        <div class="user_profile_org_edit">
            <table class="cmu_table">
                <tr class="">
                    <td>Organization</td>
                    <td>
                        <%= f.text_field :title, :placeholder => "Title" %>
                        <%= f.text_field :organization_name, :placeholder => "Company" %>
                    </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>
                        <%= f.text_field :work_country, :placeholder => "Work Country" %>
                        <%= f.text_field :work_state, :placeholder => "Work State" %>
                        <%= f.text_field :work_city, :placeholder => "Work City" %>
                    </td>
                </tr>
            </table>
        </div>

        <div class="user_profile_contact_details_edit">
            <div class="user_profile_contact_details_content_edit">
                <table class="cmu_table">
                    <tr class="">
                        <td>Personal Email</td>
                        <td><%= f.text_field :personal_email, :placeholder => "Enter your personal email" %></td>

                        </td>
                    </tr>
                    <tr>
                        <td><%= f.select :telephone1_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice"] %></td>
                        <td><%= f.text_field :telephone1 , :placeholder => "Enter telephone number" %>
                    </tr>
                    <tr class="">
                        <td><%= f.select :telephone2_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice"] %></td>
                        <td><%= f.text_field :telephone2, :placeholder => "Enter telephone number" %></td>
                    </tr>
                    <tr>
                        <td><%= f.select :telephone3_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice"] %></td>
                        <td><%= f.text_field :telephone3 , :placeholder => "Enter telephone number" %></td>
                    </tr>
                    <tr class="">
                        <td><%= f.select :telephone4_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice"] %></td>
                        <td><%= f.text_field :telephone4 , :placeholder => "Enter telephone number" %></td>
                    </tr>
                </table>
            </div>
        </div>

        <% if @person.is_student %>
        <div class="user_profile_campus_proximity clearboth">
            <table class="cmu_table">
                <tr>
                    <td><%= f.select :local_near_remote, %w{ Unknown Local Near Remote } %></td>
                    <td>
                        <table>
                            <tr>
                                <td>Local: </td>
                                <td>I'm able to come to campus once or twice a week. </td>
                            </tr>
                            <tr>
                                <td>Near: </td>
                                <td>I live near Silicon Valley. I can drive in for final presentations or weekend events.</td>
                            </tr>
                            <tr>
                                <td>Remote: </td>
                                <td>I live out of the area. I can fly in for Orientation, The Gatherings, and Graduation.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            

        </div>
        <% end %>
    
    </div> <!-- use_profile_content div ends -->

<% end %>





<!-- end -->


<!-- Checkbox can be done with this html character code: &#x2714; -->
