<% content_for :title, "Editing " + @person.human_name %>


<% content_for :javascript do %>
    <%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>

  <script type="text/javascript">
  tinyMCE.init({
      // General options
      mode : "textareas",
      theme : "advanced",
       //plugins : "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
      plugins : "table,advhr,searchreplace,contextmenu,safari,fullscreen,inlinepopups,paste,codeprotect",

      // Theme options
      theme_advanced_buttons1 : "charmap,|,sub,sup,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect",
      theme_advanced_buttons2 : "pasteword,|,replace,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,anchor,image,advhr, table, cleanup,removeformat,|,code,visualaid,fullscreen",
      theme_advanced_buttons3 : "",

//    theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
//	theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
//	theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
//	theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
      theme_advanced_toolbar_location : "top",
      theme_advanced_toolbar_align : "left",
      theme_advanced_statusbar_location : "bottom",
      theme_advanced_resizing : true,

      // Example content CSS (should be your site CSS)
      content_css : "css/example.css",

      // Drop lists for link/image/media/template dialogs
      template_external_list_url : "js/template_list.js",
      external_link_list_url : "js/link_list.js",
      external_image_list_url : "js/image_list.js",
      media_external_list_url : "js/media_list.js",

      // Replace values for the template plugin
      template_replace_values : {
          username : "Some User",
          staffid : "991234"
      }
  });
  </script>
<% end %>



<h1>Editing <%=h @person.human_name %> </h1>

This account was last updated on <%=h @person.updated_at.to_s(:chatty)  %>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

<table><tr valign="top"><td>
  <div class="user_photo"><%= image_tag(@person.image_uri) %></div>
  </td><td>&nbsp;</td><td>

    <div align="right" valign="top" style="position:absolute;top:280px;left:890px;font-size:11px;" >
    <%= link_to 'Back', @person %>
  </div>

<table border="1" cellspacing="0" cellpadding="0" style="border-width: 1px;" class="cmu_table ">
<tr class="cmu_table_odd"><td class="field_label"><%= f.label "Preferred first name" %>:</td>
    <td>
        <%= f.text_field :first_name %>
    </td>
</tr>
<tr class="cmu_table_even"><td class="field_label"><%= f.label :legal_first_name %>:</td>
    <td>
        <%= f.text_field :legal_first_name %><br />
        <span class="help_text">Ok to leave blank</span>
    </td>
</tr>
<tr class="cmu_table_odd"><td class="field_label"><%= f.label :last_name %>:</td>
    <td>
        <%= f.text_field :last_name %>
    </td>
</tr>
<tr class="cmu_table_even"><td class="field_label"><%= f.label :pronunciation %>:</td>
    <td>
        <%= f.text_field :pronunciation %>
    </td>
</tr>
<tr class="cmu_table_odd"><td class="field_label">Organization:</td>
    <td>
        <%= f.label :title %>:
        <%= f.text_field :title %>
        <br />
        <%= f.label :organization_name %>:
        <%= f.text_field :organization_name %>
    </td>
</tr>
<tr class="cmu_table_even"><td>Location:</td>
    <td>
        <%= f.label :work_city %>:
        <%= f.text_field :work_city %>
        <br />
        <%= f.label :work_state %>:
        <%= f.text_field :work_state %>
        <br />
        <%= f.label :work_country %>:
        <%= f.text_field :work_country %>
        </div>
    </td>
</tr>
<tr class="cmu_table_odd"><td class="field_label"><p>Telephone:</p></td>
    <td>
        <span class="label"><%= f.select :telephone1_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice" ]  %></span>
        <%= f.text_field :telephone1 %>
        <br />
        <span class="label"><%= f.select :telephone2_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice" ]  %></span>
        <%= f.text_field :telephone2 %>
        <br />
        <span class="label"><%= f.select :telephone3_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice" ]  %></span>
        <%= f.text_field :telephone3 %>
        <br />
        <span class="label"><%= f.select :telephone4_label, ["", "Work", "Mobile", "Home", "Fax", "Google Voice" ]  %></span>
        <%= f.text_field :telephone4 %>
    </td>
</tr>
<tr class="cmu_table_even"><td class="field_label"><%= f.label :email, "CMU-SV email address" %>:</td>
    <td>
        <%= f.text_field :email %>
    </td>
</tr>

<% if @person.is_student %>
<tr class="cmu_table_odd"><td class="field_label"><%= f.label :local_near_remote %>:</td>
    <td>
        <%= f.select :local_near_remote, %w{ Unknown Local Near Remote }  %><br />
        <span class="help_text">Local - I'm able to come to campus once or twice a week. </span><br />
        <span class="help_text">Near - I live near Silicon Valley. I can drive in for final presentations or weekend events. </span><br />
        <span class="help_text">Remote - I live out of the area. I can fly in for Orientation, The Gatherings, and Graduation. </span>
    </td>
</tr>
<% end %>
<tr class="cmu_table_even"><td class="field_label">&nbsp;</td>
  <td>
    <% if @person.papers.count > 0 %>
       <%= link_to 'My papers', "/papers/by/#{@person.twiki_name}" %><br/>
    <% else %>
       <%= link_to 'Add a published paper', "/papers/new" %><br/>
    <% end %>
    <% if (current_user.is_staff? || current_user.is_admin?) && @person.teams.count > 0 %>
        <%= link_to "My teams", my_teams_path(@person) %>
        <%= link_to image_tag("/images/my_teams2.gif", :id => "icon", :width=>"16", :height=>"16", :alt=>"My Teams", :title=>"My Teams"), my_teams_path(@person) %>
    <% end %>
  </td></tr>

</table>



</td></tr></table>


<div class="formItem">
    <%= f.label :biography %>
    <%= f.text_area :biography, :size=>"80x30", :class=>"tinymce"  %>
</div>

<h2>Helpful info</h2>
<%= f.label :skype %>: <%= f.text_field :skype %><br />
<%= f.label :tigris %>: <%= f.text_field :tigris %><br />
<%= f.label :personal_email %>: <%= f.text_field :personal_email %><br />
<%= f.label :twiki_name, "TWiki name" %>: <%= f.text_field :twiki_name %>

<div class="formItem">
    <%= f.label :user_text %>
    <%= f.text_area :user_text, :size=>"80x30", :class=>"tinymce" %>
</div>

  <div class="rounded staff">
<%= image_tag("/images/professor.jpg", :size => "50x50", :border=>"0", :alt=>"These fields can be edited by a faculty role") %>
  <span class="instructions">These fields can be edited by faculty.</span>

  <% if !(current_user.is_admin? || current_user.is_staff?)  %>
  <%= render :partial => 'show_faculty_fields', :locals=>{:f => f, :person => @person} %>
  <% else %>
  <fieldset>
    <legend>Student information</legend>
  <div class="formItem">
    <%= f.label :graduation_year, "Graduation year (or class identifier)" %>
    <%= f.text_field :graduation_year %><br/>
    <span class="help_text">ie 2020, MSIT-28</span>
  </div>
  <div class="formItem">
    <%= f.label :masters_program, "Graduate program" %>
    <%= f.text_field :masters_program %>
  </div>
  <div class="formItem">
    <%= f.label :masters_track, "Graduate track" %>
    <%= f.text_field :masters_track %>
  </div>
  <div class="formItem">
    <%= f.label :is_part_time, "Is part time student?" %>
    <%= f.check_box :is_part_time %>
  </div>
  </fieldset>
  <fieldset>
    <legend>Faculty information</legend>
  <div class="formItem">
    <%= f.label :office, "Office number" %>
    <%= f.text_field :office %>
  </div>
  <div class="formItem">
    <%= f.label :office_hours %>
    <%= f.text_field :office_hours %>
  </div>
  </fieldset>
<% end %>

  </div>
  <div class="rounded admin">
  <%= image_tag("/images/admin.jpg", :size => "50x50", :border=>"0", :alt=>"These fields can be edited by an admin role") %>
  <span class="instructions">These fields can be edited by admin.</span>
  <% if !(current_user.is_admin?)  %>
  <%= render :partial => 'show_admin_fields', :locals=>{:f => f, :person => @person} %>
  <% else %>

  <fieldset>
    <legend>User Roles</legend>
  <div class="formItem">
    <%= f.label :is_student %>
    <%= f.check_box :is_student %>
  </div>
  <div class="formItem">
    <%= f.label :is_alumnus %>
    <%= f.check_box :is_alumnus %>
  </div>
  <div class="formItem">
    <%= f.label :is_staff %>
    <%= f.check_box :is_staff %>
  </div>
  <div class="formItem">
    <%= f.label :is_teacher %>
    <%= f.check_box :is_teacher %><br />
    <span class="help_text">If checked, user will show up on the team page's drop down box of instructors.</span>
  </div>
  <div class="formItem">
    <%= f.label :is_active %>
    <%= f.check_box :is_active %>
  </div>
  <div class="formItem">
    <%= f.label :is_admin %><%= f.check_box :is_admin, :disabled=>'disabled' %><br />
    <span class="help_text">Admin accounts can only be granted through SQL</span>
  </div>
  </fieldset>
  <fieldset>
    <legend>Account information</legend>
  <div class="formItem">
    <%= f.label :is_adobe_connect_host %>
    <%= f.check_box :is_adobe_connect_host %>
  </div>
  <div class="formItem">
    <%= f.label :image_uri %>
    <%= f.text_field :image_uri %>
  </div>
  <div class="formItem">
    <%= f.label :email, "CMU-SV email address" %>
    <%= f.text_field :email %>
  </div>
  <div class="formItem">
    <%= f.label :webiso_account %>
    <%= f.text_field :webiso_account %>
  </div>
  <div class="formItem">
    <%= f.label :twiki_name, "TWiki name" %>
    <%= f.text_field :twiki_name %>
  </div>
  <div class="formItem">
    <%= f.label "Display name" %>
    <%= f.text_field :human_name %>
  </div>
  </fieldset>
  <% end %>
  </div>
  <p>
    <%= f.submit "Update" %>
  </p>


<% end %>

<%= link_to 'Back', @person %>

<!-- Checkbox can be done with this html character code: &#x2714; -->
