<% content_for :title, 'People - Phone book' %>
<% content_for :tablesorter do %>
    <%= javascript_include_tag 'tablesorter' %>
    <%= javascript_include_tag 'tablesorter_filter' %>
    <%= javascript_include_tag 'people_search' %>

<% end %>


<% if can? :create, User %>
    <%= link_to 'New person', new_person_path %>
<% end %>

<div>

  <%= render :partial => "tablesorter_filter_box" %>

</div>


<!-- conference room url
http://info.sv.cmu.edu/twiki/bin/view/Main/CarnegieMellonSiliconValley
-->

<% if !@results.blank? %>
    <table id="key_contacts_table" class="tablesorter">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>

        <th>Contact Details</th>
      </tr>
      </thead>
      <tbody>
      <%if @user_override %>
          <%
                user_description = "#{@user.human_name} | UserID: #{@user.id} | "
                user_description << (@user.is_student ? "Student" : "Staff")
                user_description << " | #{@user.masters_program}"  unless @user.masters_program.blank?
                user_description << " #{@user.masters_track}"  unless @user.masters_track.blank?
          %>
          <%= "You are showing results for:  #{user_description}" %>
      <% end %>
         <% @results.each do |person| %>
            <tr>
              <td class="photobook-img"><%= image_tag(person[:image_uri], :style => "width: 60px") %></td>
              <td>
                <%= link_to(person[:human_name], person[:path]) %><br />
                <%= person[:title] %>
              </td>
              <td>
                <% person[:contact_dtls].each do |k, v| %>
                    <% if !k.include? "Fax" %>
                        <%= "#{k}: #{v}" %>  <br />
                    <%end %>
                <%end %>
                <%= mail_to person[:email] %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
<% end %>
<table id="people_table" class="tablesorter" hidden="true" >
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Contact Details</th>
    <th>Program</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
    <tfoot>
        <tr>
          <td colspan="5">
              <!-- <input type="button" id="show_box" value="Export List" onclick="show_box();" style="float: right" /> -->
          </td>
      </tr>
  </tfoot>
</table>
<input type="button" id="show_box" value="Export List" onclick="show_box();" style="float: right" />

<div id="photobook_results" hidden="true" class="clearboth" >
</div>

<br/>

<% if can? :create, User %>
    <%= link_to 'New person', new_person_path %>
<% end %>

<input type="hidden" id="hidden_field" value="off">
