<% content_for :title, 'People - Phone book' %>
<% content_for :tablesorter do %>
    <%= javascript_include_tag 'tablesorter' %>
    <%= javascript_include_tag 'tablesorter_filter' %>
    <script type="text/javascript" >
      var image_array = new Array();
        setInterval(function(){
              if(document.getElementById("hidden_field").value == "on"){
                  console.log("turn off");
                  document.getElementById("hidden_field").value = "off";

                  var rows_list = document.getElementById("people_table").getElementsByTagName("TR");
                  console.log(rows_list.length);
                  if (rows_list.length > 1){

                      var loadImageForRow = function(row) {
                          //var img = $("<img />").attr('src', row.find('.url_cell').value);
                          var img = new Image();
                          img.width = 40;
                          img.height = 55;

                          console.log(typeof row);
                          console.log(typeof img);
                          //console.log(row.find('.url_cell').value);

                          img.onload = function() {
                                      //console.log(row.find('.url_cell').value);
                                      if (!this.complete || typeof this.naturalWidth == 'undefined' || this.naturalWidth == 0) {
                                          // handle broken image
                                      } else {
                                          row.find('.image_cell').append(img);
                                          //row.getElementsByTagName('td').appendChild(img);
                                      }
                                  }
                          console.log(row.find(".image_cell"));
                          img.src = row.find(".url_cell").html();

                      }

                      var rows = [];
                      //var ary = [];
                      for(var i=1; i<rows_list.length; i++){
                          rows.push(rows_list[i]);
                      }
                      //console.log(rows.length);
                      $.each(rows,function(){
                      //rows.each(function(){
                          if (this.getElementsByTagName('td')[0].childElementCount<1 ){
                                       console.log("each hit");
                            loadImageForRow($(this));
                          }
                      });
                  }
                  //console.log(rows.length.toString());
                  //if (rows.length<1){
                  //    image_array = new Array();
                    //  for(var count=1;count<rows.length;count++){
                      //    if (count<10){
                        //      var row_tds = rows[count].getElementsByTagName("td");
                          //    if (row_tds[0].childElementCount < 1){

                                  //row_tds[0].id = "image"+count.toString();
                            //      console.log("image"+count.toString());
                              //    console.log(row_tds[5].innerText);

                                //  image_array[count] = new Image();

                                //  image_array[count].width = 40;
                                 // image_array[count].height = 55;
                                 // image_array[count].alt = row_tds[5].innerText;

                                  //row_td.innerText = "";
                                  //row_tds[0].appendChild(img);




                                  //var img = $("<img />").attr('src', 'http://localhost:3000'+row_tds[5].innerText)
                                    //      .load(function() {
                                      //        if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                                        //          alert('broken image!');
                                          //    } else {
                                            //      $("#something").append(img);
                                              //}
                                         // });

                                  //image_array[count].src = row_tds[5].innerText;

                                  //var img = $("<img />").attr('src', row_tds[5].innerText)
                                  //        .load(function() {
                                  //            if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                                  //                alert('broken image!');
                                  //            } else {
                                  //                $("image"+count.toString()).append(img);
                                  //                console.log("image"+count.toString());
                                  //            }
                                  //        });
                                  //var img = new Image();

                                  //img.width = 40;
                                  //img.height = 55;
                                  //row_td.innerText = "";
                                  //row_tds[0].appendChild(img);


                                  //img.onload=function(){
                                    //  var image_div = row_tds[0];
                                      //row_tds[0].appendChild(img);
                                      // document.getElementById("image"+count.toString()).appendChild(img);
                                      //image_div.appendChild(img);
                                      //console.log(count.toString());
                                  //}
                                  //img.src = row_tds[5].innerText;
                                  //row_tds[0].removeAttribute("hidden");

                                  // console.log("before image loading");
                                  //console.log(typeof $)
                                  //var img = new Image();

                                  //var img = jQuery("<img />").attr('src', 'http://localhost:3000'+row_tds[5].innerText).load(function() {
                                  //      if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                                  //alert('broken image!');
                                  //        console.log("http://localhost:3000"+row_tds[5].innerText);
                                  //  } else {
                                  //$("#something").append(img);
                                  //        row_tds[0].appendChild(img);
                                  //        console.log("here");
                                  //    }
                                  // });

                             // }

                        //  }
                        //  else{
                        //      rows[count].setAttribute("visible","false");
                        //  }

                          //document.body.appendChild( img );
                          //rows[count].getElementsByTagName("td")[0].removeAttribute("hidden");
                     // }

                      //image_array[1].onload=function(){
                      //    document.getElementById("image1").appendChild(image_array[1]);
                      //    console.log("onload hit");
                      //}

                      //var code_string = "image_array[1].onload=function(){document.getElementById('image1').appendChild(image_array[1]);}";
                      //eval(code_string);
                      //console.log('onload hit');


                      //image_array[1].src = image_array[1].alt;
                      //console.log("image array 1"+image_array[1].alt);

                      // console.log(rows[1].getElementsByTagName("td")[0].innerText);
                //  }


              }
        },1000);
        //$("tr").livequery(function() {
          //  console.log($(this) + " was added");
        //}, function() {
         //   console.log($(this) + " was removed");
        //});

        $(document).ready(function () {
                    if ($("#filterBoxOne").prop("disabled") == true) {
                        $('#filterBoxOne').val('');
                        $('#filterBoxOne').removeAttr("disabled");
                        $('#filterBoxOne').focus();
                    }
                    $("#people_table").tablesorter({widgets:['zebra'],
                        headers:{2:{sorter:false}, 3:{sorter:false}  },
                        sortList:[
                            [0, 0],
                            [1, 0]
                        ]})
                            .tablesorterFilter({ filterContainer:$("#filterBoxOne"),
                                filterClearContainer:$("#filterClearOne"),
                                filterColumns:[0, 1, 2],
                                filterCaseSensitive:false
                            });
                    //scroll the message box to the top offset of browser's scrool bar
                    $(window).scroll(function () {
                        $('#image_box').animate({top:$(window).scrollTop() + "px" }, {queue:false, duration:350});
                    });
                    //when the close button at right corner of the message box is clicked
                    $('#close_image_box').click(function () {
                        //the messagebox gets scrool down with top property and gets hidden with zero opacity
                        $('#image_box').animate({ top:"+=15px", opacity:0 }, "slow");
                    });

                    //hoving over a line selects it
                    $("tr").hover(
                            function () {
                                $(this).addClass("hover");
                            },
                            function () {
                                $(this).removeClass("hover");
                            });

                }
        );

        $(document).load(function(){
            alert("document load");
        });

        function toggleStudents() {
            /* we don't use .toggle since the state may be inaccurate from a page reload */
            if ($('#student_checkbox').is(':checked')) {
                $(".student").show();
            } else {
                $(".student").hide();
            }
            $("#filterBoxOne").trigger("keyup");
        }

        function toggleStaff() {
            if ($('#staff_checkbox').is(':checked')) {
                $(".staff").show();
            } else {
                $(".staff").hide();
            }
            $("#filterBoxOne").trigger("keyup");
        }

        function updateImage(uri, label) {
            $('#image_box_image').prop("src", uri);

            $('#image_box_label').text(label);
        }

        function key_up(){
            console.log("tr_loaded");
        }

    </script>
<% end %>

<h1>Phone book</h1>
<div class="right_link"><%= link_to 'See conference rooms', 'http://info.sv.cmu.edu/do/view/Main/CarnegieMellonSiliconValley' %>
  <br/>
  <%= link_to 'See photo book', :action => 'photo_book' %></div>

<% if can? :create, User %>
    <%= link_to 'New person', new_person_path %>
<% end %>

<div style="float:none"><%= render :partial => "tablesorter_filter_box" %>
  <label>Show Students</label>
  <input type="checkbox" id="student_checkbox" onchange="toggleStudents()" value="1" checked="checked"/>
  <label>Show
    Staff</label><input type="checkbox" id="staff_checkbox" onchange="toggleStaff()" value="1" checked="checked"/>
</div>

<!-- conference room url
http://info.sv.cmu.edu/twiki/bin/view/Main/CarnegieMellonSiliconValley
-->





<table id="people_table" class="tablesorter" hidden="true">
  <thead>
  <tr>
    <th>Pic</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% for person in @people  %>
      <tr class="tablesorter
        <% if person.is_student %>student
        <% end %>
        <% if person.is_staff %>staff
        <% end %>" >
        <td class="image_cell">

          <!--<%= image_tag(person.image_uri, :width => "150", :alt => "Temporary Picture", :id => "image_box_image") %>
          -->


        </td>
        <td><%= twiki_user_link(person.twiki_name, person.first_name) %></td>
        <td><%= twiki_user_link(person.twiki_name, person.last_name) %></td>
        <td>
          <% person.telephones.each { |phone| %><%= h phone %>
              <br/>
          <% } %></td>
        <td><%= link_to 'Show', person_path(person) %></td>
        <td hidden="true" class="url_cell">  <%= person.image_uri %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<% if can? :create, User %>
    <%= link_to 'New person', new_person_path %>
<% end %>

<input type="hidden" id="hidden_field" value="off">
