
<% content_for :title, 'People - Phone book' %>
<% content_for :tablesorter do %>

    <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
    <%= javascript_include_tag 'jquery.quicksearch.js' %>

    <%= javascript_include_tag 'people_search' %>
    <%= javascript_include_tag 'people_search_export' %>
    <%= javascript_include_tag 'jquery.session' %>

<% end %>


<% if can? :create, User %>
    <%= link_to 'New person', new_person_path %>
<% end %>

<div id="people_search">

    <div>
      <%= render :partial => "people_search_box" %>
    </div>


    <!-- conference room url
    http://info.sv.cmu.edu/twiki/bin/view/Main/CarnegieMellonSiliconValley
    -->
    <input type="hidden" id="params_state" value='<%= @parameters_overridden %>'</input>

    <hr>

    <table id="key_contacts_table" class="tablesorter">
      <thead>
      <tr hidden="true">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
        <%if @user_override %>
             <%
                   user_description = "#{@user.human_name} | UserID: #{@user.id} | "
                   user_description << (@user.is_student ? "Student" : "Staff")
                   user_description << " | #{@user.masters_program}"  unless @user.masters_program.blank?
                   user_description << " #{@user.masters_track}"  unless @user.masters_track.blank?
             %>
             <%= "You are showing results for:  #{user_description}" %>
        <% end %>
        <% unless @key_contact_results.blank? %>
          <% @key_contact_results.each do |person| %>
            <tr>
              <td class="photobook-img"><%= image_tag(person[:image_uri], :style => "width: 60px") %></td>
              <td>
                <%= link_to(person[:human_name], person[:path]) %><br />
                <%= person[:title] %>
              </td>
              <td>
                <% person[:contact_dtls].each do |k, v| %>
                    <% if !k.include? "Fax" %>
                        <%= "#{k}: #{v}" %>  <br />
                    <%end %>
                <%end %>
                <%= mail_to person[:email] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
             <input type="button" class="export_button" value="Export List" />
          </td>
      </tr>
      </tfoot>
    </table>

    <table id="people_table" class="tablesorter" hidden="true" >
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Contact Details</th>
        <th>Program</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
        <tfoot>
            <tr>
              <td colspan="5">
                 <input type="button" class="export_button" value="Export List" />
              </td>
          </tr>
      </tfoot>
    </table>

    <div id="key_contacts_photobook" class="clearboth" hidden="true">
        <% unless @key_contact_results.blank? %>
        <div>
        <% @key_contact_results.each do |person| %>
          <a class="photobook_item" href="<%= person[:path] %>">
            <%= image_tag(person[:image_uri]) %>
            <p class="photobook_item_name"><%= person[:human_name] %> </p>
          </a>
        <% end %>
        </div>
        <div class="clearboth">
            <input type="button" class="export_button" value="Export List" />
        </div>

      <% end %>
    </div>

    <div id="photobook_results" hidden="true" class="clearboth" >
      <div id="photobook_results_main" class="clearboth" ></div>
    </div>

    <div id="ajax_loading_notice" hidden="true" class="clearboth"><img src="images/ajax-loader.gif" />Loading Results</div>
    <div id="empty_results" hidden="true" class="clearboth">No results found.</div>

</div>

<br/>

<% if can? :create, User %>
    <%= link_to 'New person', new_person_path %>
<% end %>

<input type="hidden" id="hidden_field" value="off">
