<% content_for :title, 'People' %>

<% content_for :tablesorter do %>
  <%= javascript_include_tag 'tablesorter' %>
  <%= javascript_include_tag 'tablesorter_filter' %>
<script type="text/javascript">
$(document).ready(function() 
    {
       if ($("#filterBoxOne").attr("disabled") == true)
       {
         $('#filterBoxOne').val('');
         $('#filterBoxOne').removeAttr("disabled");
         $('#filterBoxOne').focus();
        }
        if ($("#stateFilterBox").attr("disabled") == true)
       {
         $('#stateFilterBox').val('');
         $('#stateFilterBox').removeAttr("disabled");
        }
        $("#people_table").tablesorter({widgets: ['zebra'],
                                        headers: {2: {sorter: false}  },
                                        sortList: [[0,0], [1,0]]})
            .tablesorterFilter({ filterContainer: $("#filterBoxOne"),
                filterClearContainer: $("#filterClearOne"),
                filterColumns: [0, 1, 3, 4, 5],
                filterCaseSensitive: false
            });        

        //scroll the message box to the top offset of browser's scrool bar
        $(window).scroll(function()
        {
          $('#image_box').animate({top:$(window).scrollTop()+"px" },{queue: false, duration: 350});
        });
        //when the close button at right corner of the message box is clicked
        $('#close_image_box').click(function()
        {
          //the messagebox gets scrool down with top property and gets hidden with zero opacity
          $('#image_box').animate({ top:"+=15px",opacity:0 }, "slow");
        });

        //hoving over a line selects it
        $("tr").hover(
        function () {
          $(this).addClass("hover");
        },
        function () {
          $(this).removeClass("hover");
        });
      }
);

function toggleStudents()
{
  /* we don't use .toggle since the state may be inaccurate from a page reload */
  if ($('#student_checkbox').is(':checked')) {
    $(".student").show();
  } else {
    $(".student").hide();
  }
  $("#filterBoxOne").trigger("keyup");
}

function toggleStaff()
{
  if ($('#staff_checkbox').is(':checked')) {
    $(".staff").show();
  } else {
    $(".staff").hide();
  }
  $("#filterBoxOne").trigger("keyup");
}

function toggleView()
{

  if ($('#table').is(':checked')) {
      var rails_view = true;
    //$(".staff").show();
  } else {
      var rails_view = false;
    //$(".staff").hide();
  }
  $("#filterBoxOne").trigger("keyup");
}

function updateImage(uri,label)
{
 $('#image_box_image').attr("src", uri);

 $('#image_box_label').text(label);
}

</script>
<% end %>

<h1>Listing people</h1>
<div class="right_link" ><%= link_to 'See phone book', :action=>'phone_book' %><br/><%= link_to 'See photo book', :action=>'photo_book' %></div>
<div style="float:none"><%= render :partial => "tablesorter_filter_box" %><label>Show Students</label><input type="checkbox" id="student_checkbox" onchange="toggleStudents()" value="1" checked="checked" />
  <label>Show Staff</label><input type="checkbox" id="staff_checkbox" onchange="toggleStaff()" value="1" checked="checked" /><br/>
</div>

<div id="advancedfilter" style="float:none"> 
  <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Advanced Filter Options</a>
  <%= link_to "Clear Filter", :action => 'index' %>
</div>


<div id="image_box">
  <%= image_tag("/images/mascot.jpg", :width=>"150", :alt=>"Temporary Picture", :id=>"image_box_image")%><%= image_tag("/images/tablesorter/cross.png", :width=>"16", :height=>"16", :alt=>"Close Me", :style=>"float:right;cursor:pointer", :id=>"close_image_box") %>
  <div id='image_box_label'></div>
</div>
<table id="people_table" class="tablesorter">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Icons</th>
    <th>Graduation year</th>
    <th>Graduate program</th>
    <th>Graduate track</th>
  </tr>
</thead>
<tbody>
<% for person in @people %>

<tr class="tablesorter <%if person.is_student %>student<% end %> <% if person.is_staff %>staff<%end%>"  onmouseover="updateImage('<%= image_path(person.image_uri) %>','<%=person.human_name%>')">
    <td><%= twiki_user_link(person.twiki_name, person.first_name) %></td>
    <td><%= twiki_user_link(person.twiki_name, person.last_name) %></td>    
    <td><a href='http://info.sv.cmu.edu/twiki/bin/view/Main/<%= person.twiki_name %>' target='_top'><%= image_tag('/images/twiki.gif', :width=>'16', :height=>'16', :border=>"0", :alt=>"My TWiki page", :title=>"My TWiki page") %></a>
        <% if person.is_adobe_connect_host %><%= image_tag("/images/connect.gif", :width=>"16", :height=>"16", :alt=>"Adobe Connect Host", :title=>"I am Adobe Connect Host") %><% end %>
        <% if current_user.is_staff? || current_user.is_admin? %>
        <%= link_to image_tag("/images/my_teams2.gif", :width=>"16", :height=>"16", :alt=>"My Teams", :title=>"My Teams"), my_teams_path(person.id) %>
        <% end %>
    </td>
    <td><%=h person.graduation_year %></td>
    <td><%=h person.masters_program %></td>
    <td><%=h person.masters_track %></td>
    <td><%= link_to 'Show', person %></td>
<% if current_user && current_user.is_staff? %>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
<% else %>
    <td>&nbsp;</td>
<% end %>


<!--
<% if current_user && current_user.is_admin? %>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
<% else %>
    <td>&nbsp;</td>
<% end %>
-->
  </tr>
<% end %>
</tbody>
</table>
<br />

<% if current_user && (current_user.is_admin? || current_user.is_staff?) %>
<%= link_to 'New person', new_person_path %>
<% end %>




<div id="light" class="white_content">
  <% form_tag search_path :action => 'index', :method => 'get' do %>
    <%= label_tag(:first_name, "First Name:") %><%= text_field_tag(:first_name) %> <%= label_tag(:last_name, "Last Name:") %><%= text_field_tag(:last_name) %><br/>
    <%= label_tag(:graduation_year, "Graduation Year:") %><%= text_field_tag :graduation_year, nil, :size => 5 %> <%= label_tag(:masters_program, "Masters Program:") %><%= text_field_tag :masters_program, nil, :size => 10 %><%= label_tag(:masters_track, "Masters Track:") %><%= text_field_tag :masters_track, nil, :size => 5 %><br/>
    <%= label_tag(:email, "Email:") %><%= text_field_tag :email, nil, :size => 25 %>  <%= label_tag(:personal_email, "Personal Email:") %><%= text_field_tag(:personal_email) %><br/>
    <%= label_tag(:skype, "Skype ID:") %><%= text_field_tag :skype, nil, :size => 20 %><%= label_tag(:tigris, "Tigris ID:") %><%= text_field_tag :tigris, nil, :size => 20 %><br/>
    <%= label_tag(:organization_name, "Organization Name:") %><%= text_field_tag(:organization_name) %> <%= label_tag(:work_city, "Work City:") %><%= text_field_tag(:work_city) %><br/>
    <%= label_tag(:work_state, "Work State:") %><%= text_field_tag :work_state,nil, :size => 2 %><%= label_tag(:work_country, "Work Country:") %><%= text_field_tag :work_country,nil, :size => 15 %><br/>
    <%= label_tag(:is_staff, "Is Staff:") %><%= check_box_tag :is_staff %> <%= label_tag(:is_student, "Is Student:") %><%= check_box_tag :is_student%> <%= label_tag(:is_admin, "Is Admin:") %><%= check_box_tag :is_admin %> <%= label_tag(:is_teacher, "Is Teacher:") %><%= check_box_tag :is_teacher %><br/>
    <%= label_tag(:is_active, "Is Active: ") %>Yes<%= radio_button_tag :is_active, "1", :checked => "checked" %>No<%= radio_button_tag :is_active, "0" %><br/>
    <%= label_tag(:is_part_time, "Is Part Time:") %><%= check_box_tag(:is_part_time)%><%= label_tag(:is_alumnus, "Is Alumnus:") %><%= check_box_tag(:is_alumnus)%><%= label_tag(:is_adobe_connect_host, "Is Adobe Connect Host:") %><%= check_box_tag(:is_adobe_connect_host)%><%= label_tag(:image_uri, "Has Default Image:") %><%= check_box_tag :image_uri%><br/>
    <%= label_tag(:office, "Office:") %><%= text_field_tag(:office) %> <%= label_tag(:telephone1, "Telephone:") %><%= text_field_tag(:telephone1) %><br/>
    <%= label_tag(:local_near_remote, "Student Location Status:") %><%= text_field_tag :local_near_remote,nil, :size => 8 %><br/>
    <!-- Still need filter by class -->
      <%= submit_tag 'Search' %>
    <% end %>
  <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>
<div id="fade" class="black_overlay"></div>