<% content_for :title, @person.human_name + " - My Teams" %>
<% if @person.is_student? %>
    <h1>My Teams - <%= @person.human_name %> is a team member</h1>
    <% if !@current_teams_as_member.empty? %>
        <h2><%= @current_semester %> <%= @current_year %> Teams</h2>
        <%= render :partial => "team_listing", :locals => {:teams => @current_teams_as_member} %>
        <br>
    <% end %>
    <% if !@past_teams_as_member.empty? %>
        <h2>Previous Semesters</h2>
        <%= render :partial => "team_listing", :locals => {:teams => @past_teams_as_member} %>
        <br><br>
    <% end %>
<% end %>

<% if @person.is_staff? %>
    <% unless @teams_map.empty? %>
        <h1>My Teams - <%= @person.human_name %> is teaching the course </h1>

        <% for year in @teams_map.keys.sort.reverse %>
            <% for semester in ["fall", "summer", "spring"] %>
                <% if (semester.capitalize == @current_semester and year == @current_year) or !@teams_map[year][semester].nil? %>
                    <h2><%= semester.capitalize %> <%= year %> Teams</h2>
                    <% unless @teams_map[year][semester].nil? %>
                        <%= render :partial => "teams/twiki_index", :locals => {:teams => @teams_map[year][semester], :show_course => true, :show_student_photos => false, :show_photo_view_link => false, :show_new_teams_link => false} %>
                    <% end %>
                    <% number = @teams_students_map[year][semester] || 0 %>
                    <p><%= @person.first_name %> taught <b><%= number %></b> students
                      in <%= semester.capitalize %> <%= year %></p>
                    <br>
                <% end %>
            <% end %>
        <% end %>
        <br><br>
    <% end %>
<% end %>