<% content_for :title, @person.human_name + " - Contact Information"%>


<% form_for(@person) do |f| %>
  <%= f.error_messages %>



<table><tr valign="top"><td>
  <div class="user_photo"><%= image_tag(@person.image_uri) %></div>
  </td><td>&nbsp;</td><td>
<h1><%=h @person.human_name %></h1>
  <div align="right" valign="top" style="position:absolute;top:280px;left:890px;font-size:11px;" >
    <%= link_to 'Edit', edit_person_path(@person) %> |
    <%= link_to 'Back', people_path %>
  </div>

<% unless @person.pronunciation.blank? %>
<div class="header_subtext">Pronounced <%=h @person.pronunciation %></div>
<% end %>
<table border="1" cellspacing="0" cellpadding="0" style="border-width: 1px;" class="cmu_table ">
<tr class="cmu_table_odd"><td>Organization:</td>
    <td><% if @person.organization_name %><% if @person.title %><%=h @person.title%><br/><%end%><%=h @person.organization_name %><%else%>&nbsp;<%end%></td></tr>
<tr class="cmu_table_even"><td>Location:</td>
    <td><% if display_location(@person) %><%=h display_location(@person) %><%else%>&nbsp;<%end%></td></tr>
<tr class="cmu_table_odd"><td><p>Telephone:</p></td>
    <td><%= render :partial => 'show_telephones' %></td></tr>
<tr class="cmu_table_even"><td>E-mail:</td>
    <td><%=h @person.email %></td></tr>
<% if @person.is_staff %>
<tr class="cmu_table_odd"><td>Office:</td>
    <td><%=h @person.office %></td></tr>
<tr class="cmu_table_even"><td>Office Hours:</td>
    <td><%=h @person.office_hours %></td></tr>
<% end %>

<% if @person.is_student %>
<tr class="cmu_table_odd"><td colspan="2">
    I am a <% if @person.is_part_time %> part time <% else %> full time <% end %> student in the <%=h @person.masters_program %> program<% if !(@person.masters_track.nil? || @person.masters_track.empty?) %> (<%=h @person.masters_track %> Track)<% end %>.
    <% if !(@person.graduation_year.nil? || @person.graduation_year.empty?) %>
  Class of <%=h @person.graduation_year %>.
    <% end %>
<% unless @person.local_near_remote.blank? || @person.local_near_remote=="Unknown" %><br/> I am a  <%=h @person.local_near_remote.downcase %> student.<% end %>
  </td></tr>
<% end %>
<tr class="cmu_table_odd"><td>&nbsp;</td>
  <td>
    <% if @person.papers.count > 0 %>
       <%= link_to 'My papers', "/papers/by/#{@person.twiki_name}" %><br/>
    <% else %>
       <%= link_to 'Add a published paper', "/papers/new" %><br/>    
    <% end %>
    <% if (current_user.is_staff? || current_user.is_admin?) && @person.teams.count > 0 %>        
        <%= link_to "My teams", my_teams_path(@person) %>
        <%= link_to image_tag("/images/my_teams2.gif", :id => "icon", :width=>"16", :height=>"16", :alt=>"My Teams", :title=>"My Teams"), my_teams_path(@person) %>
    <% end %>
  </td></tr>

</table>



</td></tr></table>


  <%= sanitize @person.biography, :tags => %w(table tr td p br span img a h1 h2 h3 ul ol li), :attributes => %w(id class style) %>

<h2>Helpful info</h2>
Skype: <%=h @person.skype %><br />
Tigris: <%=h @person.tigris %><br />
Personal email: <%=h @person.personal_email %><br />
TWiki Page: <%= twiki_user_link(@person.twiki_name, @person.twiki_name) %>    

    <%= sanitize @person.user_text, :tags => %w(table tr td p br span img a h1 h2 h3 ul ol li), :attributes => %w(id class style) %>


<h1><%=h @person.human_name %></h1>    
  <div class="rounded staff">
  <%= image_tag("/images/professor.jpg", :size => "50x50", :border=>"0", :alt=>"These fields can be edited by a faculty role") %>
  <span class="instructions">These fields can be edited by faculty.</span>
  <%= render :partial => 'show_faculty_fields', :locals=>{:f => f, :person => @person} %>
  </div>

  <div class="rounded admin">
  <%= image_tag("/images/admin.jpg", :size => "50x50", :border=>"0", :alt=>"These fields can be edited by an admin role") %>
  <span class="instructions">These fields can be edited by admin.</span>
  <%= render :partial => 'show_admin_fields', :locals=>{:f => f, :person => @person} %>
  </div>


<% end %>

<br/><br/>


<% for version in @person.versions.reverse %>
Version <%= version.version %>
<%= link_to '(revert)', { :action => 'revert_to_version', :version_id => version.version, :id => @person}, {:confirm => "Are you sure?" } %>
<% if @person.version == version.version %>
(currently on page)
<% else %>
<%= link_to '(preview)', :action => 'show', :version_id => version.version, :id => @person %>
<% end %>
<% updated_by = Person.find(:first, :conditions=> ["id = ?", version.updated_by_user_id]) %><% if !updated_by.nil? %>by <%=h updated_by.human_name %><% end %>
on <%=h version.updated_at.to_s(:detailed) %>
 <br/>
<% end %>
<br/><br/>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
