<% content_for :title, @person.human_name + " - Contact Information" %>
<%= javascript_include_tag 'people_search_export' %>

<% content_for :javascript do %>
    <script type="text/javascript">
        $(document).ready(function(){
            var current_sign_in_ip = "<%= @person.current_sign_in_ip if can? :see_current_sign_in_ip, User %>";
            if(current_sign_in_ip != ""){
                $.get("http://api.hostip.info/get_json.php?ip=" + current_sign_in_ip, function(data,status){
                    if(status == 'success')
                        $("#geo_ip").html('<a href="https://maps.google.com/maps?q='+ data.city + '">' + data.city + '</a>');
                });
            }
        });
    </script>
<% end %>

<%= form_for(@person) do |f| %>
    <% if @person.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

          <ul>
            <% @person.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div id="user_profile_show">
        <div class="user_profile_content">
            <div class="user_profile_photo_social">
                <%= image_tag(@person.image_uri, :class=>"user_profile_photo") %>
                <div class="user_profile_social clearboth">

                    <% if !@person.linked_in.blank? %>
                        <%= link_to image_tag("icon_LinkedIn_gray.png", :id => "icon", :width => "24", :alt => "Linked in`", :title => "Linked In account"), linked_in_path(@person) %>
                    <% end %>

                    <% if !@person.facebook.blank? %>
                        <%= link_to image_tag("icon_Facebook_gray.png", :id => "icon", :width => "24", :alt => "Facebook", :title => "Facebook account"), facebook_path(@person) %>
                    <% end %>

                    <% if !@person.twitter.blank? %>
                        <%= link_to image_tag("icon_Twitter_gray.png", :id => "icon", :width => "24", :alt => "Twitter", :title => "Twitter account"), twitter_path(@person) %>
                    <% end %>

                    <% if !@person.google_plus.blank? %>
                        <%= link_to image_tag("icon_Google_gray.png", :id => "icon", :width => "24", :alt => "Google +", :title => "google+ account"), google_plus_path(@person) %>
                    <% end %>

                    <% if !@person.github.blank? %>
                        <%= link_to image_tag("icon_github.png", :id => "icon", :width => "24", :alt => "github", :title => "github account"), github_path(@person) %>
                    <% end %>

                </div>
            </div>

        <div class="user_profile_title">
      <input type="hidden" id="person_id" value="<%= @person.id %>" />
            <h1 id="user_profile_name">
                <%= h @person.first_name %> <%= h @person.last_name %>
                <% if !(@person.pronunciation.blank?) %>
                    <div class="user_profile_pron">Pronounced: <%= h @person.pronunciation %> <br /></div>
                <% end %>
            </h1>
            <div class="user_profile_action">
                <%= link_to 'Back', people_path %>
              <% if can? :update, @person %>
                 | <%= link_to 'Edit', edit_person_path(@person) %>
                <% end %>
            </div>
            <div id="user_profile_dtls">
                <% if @person.is_student %>
                    <%= h @person.masters_program %>
                    <% if !(@person.masters_track.blank?) %>(<%= h @person.masters_track %>)<% end %>
                    <% if @person.is_part_time %>
                        Part Time
                    <% else %>
                        Full Time
                    <% end %>
                    <% if !(@person.graduation_year.blank?) %>
                        (<%= h @person.graduation_year %>)
                    <% end %>
                <% elsif @person.is_staff %>
                    <%= @person.title %>
                <% end %>
                <% if (current_user.is_staff? || current_user.is_admin?) && @person.teams.count > 0 %>
                        <br /><%= link_to "My teams", my_teams_path(@person) %>
                <% end %>
                <br/><a  href="#" class="export_button" >Download contact details</a>
            </div>
        </div>

            <div class="user_profile_contact_details_content">
                <table class="cmu_table">
                    <tr>
                        <td>Email</td>
                        <td><a href='mailto:<%= @person.email %>'><%= h @person.email %></a></td>
                    </tr>
                    <%  @person.telephones_hash.each_with_index do |(key, value), index| %>
                    <tr <% if index.even? %> <% end %> >
                        <td><%= h "#{key}" %></td>
                        <td><%= h "#{value}" %></td>
                    </tr>
                    <%  end %>
                    <% if !(@person.skype.blank?) %>
                    <tr>
                        <td>Skype</td>
                        <td><%= h @person.skype %></td>
                    </tr>
                    <% end %>
                </table>

            <table class="cmu_table">

              <% if (!@person.organization_name.blank?) || (!@person.title.blank?) %>
                <tr>
                    <td>Organization</td>
                    <td>
                        <% if @person.organization_name %>
                            <% if @person.title %>
                                <%= h @person.title %> <br />
                            <% end %>
                            <%= h @person.organization_name %>
                        <% else %>
                            &nbsp;
                        <% end %>
                    </td>
                </tr>
              <% end %>

                <tr>
                    <td>Location</td>
                    <td>
                        <% if display_location(@person) %><%= h display_location(@person) %>
                        <% else %>&nbsp;
                        <% end %>
                    </td>
                </tr>
                <% if can? :see_current_sign_in_ip, User %>
                    <tr>
                        <td>Last signed in</td>
                        <td id="geo_ip">&nbsp;</td>
                    </tr>
                <% end %>
            </table>

            </div><!--  user_profile_contact_details -->



        <div class="clearboth">
          <% if !@person.biography.blank? %>
            <h2>Biography:</h2>
            <div class="user_profile_content_body"><%= sanitize @person.biography, :tags => %w(table tr td p br span img a h1 h2 h3 ul ol li), :attributes => %w(id class style) %></div>
          <% end %>
        </div><!-- user_profile_about -->

        <div class="clearboth ">
            <h2>Other Information:</h2>
            <table class="cmu_table">

              <% if !@person.personal_email.blank? %>
                <tr class="">
                <tr>
                    <td>Personal Email</td>
                    <td><a href='mailto:<%= @person.personal_email %>'><%= h @person.personal_email %></a></td>
                </tr>
              <% end %>
                <tr class="">
                    <td>Andrew Email</td>
                    <td><a href='mailto:<%= @person.webiso_account %>'><%= h @person.webiso_account %></a></td>
                </tr>

                <% if @person.is_staff %>
                <% if !@person.office.blank? %>
                <tr>
                  <td>Office:</td>
                  <td><%= h @person.office %></td>
                </tr>

                <% end %>
                <% if !@person.office_hours.blank? %>
                <tr class="">
                  <td>Office Hours:</td>
                  <td><%= h @person.office_hours %></td>
                </tr>
                <% end %>
                <% elsif @person.is_student %>
                <% unless @person.local_near_remote.blank? || @person.local_near_remote=="Unknown" %>
                <tr>
                  <td>Availability:</td>
                  <td>I am a  <%= h @person.local_near_remote.downcase %> student.</td>
                </tr>
                <% end %>
                <% end %>
            </table>
        </div>



    </div> <!-- user_profile_content -->

    <div class="user_profile_action">
        <%= link_to 'Back', people_path %>
        <%   if @person.id == current_user.id or current_user.is_admin? %>
            | <%= link_to 'Edit', edit_person_path(@person) %>
        <% end %>
    </div>
    </div><!-- user_profile_show -->

<% end %>