<% content_for :title, @person.human_name + " - Contact Information" %>


<%= form_for(@person) do |f| %>
    <% if @person.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

          <ul>
            <% @person.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

 <!-- begin -->

    <div class="user_profile_content">

        <div class="user_profile_photo_social">
            <%= image_tag(@person.image_uri,:class=>"user_profile_photo") %>
            <div class="user_profile_social clearboth">
                <!-- TODO: add social media handles in the edit page for LinkedIn, Facebook, Google+ & Twitter -->
                <%= link_to image_tag("/images/icon_LinkedIn_gray.png", :id => "icon", :width => "24", :alt => "Linked in`", :title => "Linked In account"), ""%>
                <%= link_to image_tag("/images/icon_Facebook_gray.png", :id => "icon", :width => "24", :alt => "Facebook", :title => "Facebook account"), "https://www.facebook.com/"%>
                <%= link_to image_tag("/images/icon_Twitter_gray.png", :id => "icon", :width => "24", :alt => "Twitter", :title => "Twitter account"), "https://twitter.com/"%>
                <%= link_to image_tag("/images/icon_Google_gray.png", :id => "icon", :width => "24", :alt => "Google +", :title => "google+ account"), "https://plus.google.com/"%>
                <%= link_to image_tag("/images/icon_github.png", :id => "icon", :width => "24", :alt => "github", :title => "github account"), "https://github.com/#{@person.github}"%>
            </div>
        </div>

        <div class="user_profile_title">

            <h1 id="user_profile_name" <% if !(@person.pronunciation.blank?) %>title="Pronounced as <%= h @person.pronunciation %>"<% end %>><%= h @person.human_name %></h1>
            <div class="user_profile_action">
                <%= link_to 'Back', people_path %> | 
                <%= link_to 'Edit', edit_person_path(@person) %>
            </div>
            <div id="user_profile_dtls">
                <% if @person.is_student %>
                    <%= h @person.masters_program %>
                    <% if !(@person.masters_track.blank?) %>(<%= h @person.masters_track %>)<% end %><br/>
                    <% if @person.is_part_time %> 
                        Part Time
                    <% else %>
                        Full Time
                    <% end %>
                    <% if !(@person.graduation_year.blank?) %>
                        (<%= h @person.graduation_year %>)
                    <% end %>
                <% elsif @person.is_staff %>
                    Staff
                <% end %>
                <% if (current_user.is_staff? || current_user.is_admin?) && @person.teams.count > 0 %>
                        <br /><%= link_to "My teams", my_teams_path(@person) %>
                <% end %>  
            </div>
        </div>

        <div class="user_profile_bio">
          <%= sanitize @person.biography, :tags => %w(table tr td p br span img a h1 h2 h3 ul ol li), :attributes => %w(id class style) %>
        </div>

        <div class="user_profile_contact_details clearboth">
            <h2 class="user_profile_contact_details_header">Contact Details:</h2>
            
            <div class="user_profile_contact_details_content">
                <table class="cmu_table">
                    <tr class="cmu_table_odd">
                        <td>Email</td>
                        <td><%= h @person.email %></td>
                    </tr>
                    <tr>
                        <td>Personal Email</td>
                        <td><%= h @person.personal_email %></td>
                    </tr>
                    <tr class="cmu_table_odd">
                        <td>Andrew Email</td>
                        <td><%= h @person.webiso_account %></td>
                    </tr>
                    <% if !(@person.skype.blank?) %>
                    <tr>
                        <td>Skype</td>
                        <td><%= h @person.skype %></td>
                    </tr>
                    <% end %>
                </table>
                <br />
                <%= render :partial => 'show_telephones' %>
            </div>
        </div><!--  user_profile_contact_details -->

        <div class="user_profile_about clearboth">
            <h2 class="user_profile_about_header">About Me:</h2>
            <div class="user_profile_org">
                <table class="cmu_table">
                    <tr class="cmu_table_odd">
                        <td>Organization</td>
                        <td>
                            <% if @person.organization_name %>
                                <% if @person.title %>
                                    <%= h @person.title %> <br />
                                <% end %>
                                <%= h @person.organization_name %>
                            <% else %>
                                &nbsp;
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>
                            <% if display_location(@person) %><%= h display_location(@person) %>
                            <% else %>&nbsp;
                            <% end %>
                        </td>
                    </tr>
                </table>
            </div>
            <div  class="user_profile_about_me_text">
                <% if display_location(@person) %>
                <%= sanitize @person.user_text, :tags => %w(table tr td p br span img a h1 h2 h3 ul ol li), :attributes => %w(id class style) %>
                <% end %>
            </div>
        </div><!-- user_profile_about -->



        


    </div> <!-- user_profile_content -->

        <div class="user_profile_action">
            <%= link_to 'Back', people_path %> | 
            <%= link_to 'Edit', edit_person_path(@person) %>
        </div>
    
    <% end %>
