<% content_for :title, 'Effort Logs' %>
<h1>Listing Effort Logs</h1>
<% if logged_in? && current_user.is_admin %>  
<%= link_to 'List your effort log', :controller=>"effort_log_line_items", :action=>"index" %>
<% end %>

<%= link_to 'New effort log', new_effort_log_path %>

<table>
  <tr>
    <th>Person</th>
    <th>Week</th>
    <th>Week number</th>
    <th>Effort</th>
    <th>&nbsp;</th>
  </tr>

<% for effort_log in @effort_logs %>
  <tr>
    <td><%=h effort_log.person_id %></td>
    <td><%=h show_monday_for(effort_log.cwyear, effort_log.week_number) %></td>
    <td class="log_weeknumber"><%=h effort_log.week_number %></td>
    <td class="log_sum"><%=h effort_log.sum %></td>
    <td class="log_action"><%= link_to 'Show', effort_log %></td>
    <td class="log_action"><%= link_to 'Edit', edit_effort_log_path(effort_log) %></td>
    <td class="log_action"><%= link_to 'Destroy', effort_log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New effort log', new_effort_log_path %>

