
<h3>Content</h3>
<% feedbacks.each_with_index do |feedback,index| %>
    <p>
        <%= index+1 %>. <%= PresentationFeedback::GRADE[feedback.content] %>
        <% if !feedback.content_comment.blank? %>
            <%= " -- " + feedback.content_comment %>
        <% end %>
    </p>
<% end %>
<h3>Organization</h3>
<% feedbacks.each_with_index do |feedback,index| %>
    <p>
        <%= index+1 %>. <%= PresentationFeedback::GRADE[feedback.organization] %>
        <% if !feedback.organization_comment.blank? %>
            <%= " -- " + feedback.organization_comment %>
        <% end %>
    </p>
<% end %>
<h3>Visuals</h3>
<% feedbacks.each_with_index do |feedback,index| %>
    <p>
        <%= index+1 %>. <%= PresentationFeedback::GRADE[feedback.visual] %>
        <% if !feedback.visual_comment.blank? %>
            <%= " -- " + feedback.visual_comment %>
        <% end %>
    </p>
<% end %>
<h3>Delivery</h3>
<% feedbacks.each_with_index do |feedback,index| %>
    <p>
        <%= index+1 %>. <%= PresentationFeedback::GRADE[feedback.delivery] %>
        <% if !feedback.delivery_comment.blank? %>
            <%= " -- " + feedback.delivery_comment %>
        <% end %>
    </p>
<% end %>
