<table class="twikiTable" cellpadding="0" cellspacing="0" width="685">
  <% count = 0 %>
  <% avg = 0.0 %>
  <% average = 0.0 %>
  <% values = individual_ratings[q.id] %>
  <% values.each_with_index do |r, n| %>
      <% count = count + r %>
      <% avg += r * (n+1) %>
  <% end %>

  <% if count != 0 %>
      <% factor = 100/count %>
      <% average = avg/count %>

      <tr>
        <td><b> Poor </b></td>
        <td><b> Minimally acceptable </b></td>
        <td><b> Good </b></td>
        <td><b> Outstanding </b></td>
        <td><b> Rating Average</b></td>
        <td><b> Response count</b></td>
      </tr>

      <tr>
        <td> <%= factor * values[0] %>% (<%= values[0] %>)</td>
        <td> <%= factor * values[1] %>% (<%= values[1] %>)</td>
        <td> <%= factor * values[2] %>% (<%= values[2] %>)</td>
        <td> <%= factor * values[3] %>% (<%= values[3] %>)</td>
        <td> <%= number_with_precision average, :precision => 2 %> </td>
        <td> <%= count %> </td>
      </tr>

      </table>

      <table class="twikiTable" cellpadding="0" cellspacing="0" width="685">
        <% comm = "" %>
        <% comments = individual_comments[q.id].split('*') %>
        <tr>
          <td><p>Comments</p></td>
        </tr>

        <% comments.each do |c| %>
            <tr>
              <td><p><%= c %></p></td>
            </tr>
        <% end %>
      </table>
  <% else %>
      <p>No Feedback Available</p>
  <% end %>