<h1><%= link_to @course.display_for_course_page, course_path(@course), :class => "course" %></h1>
<h2>Presentations</h2>
<div class="right_link"><%= link_to "Today's presentations", today_presentations_url %>
  <br/><%= link_to "All presentations", presentations_url %></div>

<%= render :partial => "index", :locals => {:presentations => @presentations, :on_course_page => true} %>
<p><%= link_to "Assign new presentation", new_course_presentation_path(@course.id) %></p>
<br/>
<br/>
