<%= content_for :title, "My Presentations" %>
<% if current_user.is_staff? || current_user.is_admin? %>
    <table class="layout_table" cellspacing="0" width=100%>
      <tr class="staff">
        <td>
          <%= professor_image %>
        </td>
        <td><p>Faculty, to create a new presentation, go to your course page.
          See <%= link_to "My Courses", root_path %></p></td>
      </tr>
    </table>
<% end %>

<h1>Listing Presentations</h1>
<div class="right_link"><%= link_to "My presentations", my_presentations_url(current_user) %>
  <br/><%= link_to "Today's presentations", today_presentations_url %></div>

<%= render :partial => "index", :locals => {:presentations => @presentations, :on_course_page => false} %>

<br/>
<br/>