<% if current_user.is_staff? || current_user.is_admin? %>
    <table class="layout_table" cellspacing="0" width=100%>
      <tr class="staff">
        <td>
          <%= professor_image %>
        </td>
        <td><p>Faculty, to create a new presentation, go to your course page.
          See <%= link_to "My Courses", root_path %></p></td>
      </tr>
    </table>
<% end %>

<h1>My Presentations</h1>
<div class="right_link"><%= link_to "Today's presentations", today_presentations_url %>
  <br/><%= link_to "All presentations", presentations_url %></div>

<%= render :partial => "index", :locals => {:presentations => @presentations, :on_course_page => false} %>

<br/>
<br/>