<%= @person.first_name %>,
<p/>
This message contains important information regarding your CMU Silicon Valley email account.
<p/>
It is a copy (perhaps outdated) of the information at
<a href="http://www.cmu.edu/silicon-valley/information/technology/index.html">http://www.cmu.edu/silicon-valley/information/technology/index.html</a>, except personalized.
<p/>
Please read, complete your email set-up, and save this message for future reference.
<p/>
We ask all community members to check their CMU-SV email every business day because Silicon Valley academic and administrative communications are sent there.
<p/>
<b>
What You Need To Know About Your CMU-SV Email Address
</b>
<ul>
  <li>
    Whenever you have to enter both your CMU-SV email address and password on a page with a URL ending in "google.com" (or, for server settings in an email app),
    <br/>you MUST use: <%= switch_sv_to_west(@person.email) %>
  </li>
  <li>
    BUT, we identify ourselves as "@sv.cmu.edu", and use that form everywhere else.
  </li>
</ul>
<p/>
<b>
Set Up Your Gmail Messages To Be From:  <%= @person.email %>
</b>
<ol>
  <li>
    Log into your CMU-SV Gmail account at <a href="http://gmail.sv.cmu.edu/">http://gmail.sv.cmu.edu/</a>
(a <a href="https://mail.google.com/a/west.cmu.edu/">re-direct</a>).
  </li>
    <ul>
      <li>
        Remember that you need to use <%= switch_sv_to_west(@person.email) %> </li>
      <li>
        Your temporary password:  <%= @password %>
      </li>
      <li>
        If this is your initial log-in, you will be prompted to agree to some terms and to change your password.
      </li>
    </ul>
  <li>
    Choose "Settings" (in the Gmail browser interface) from the Gear Wheel pull-down.
  </li>
  <li>
    Select the "Accounts" tab.
  </li><li>
    In the "Send mail as" section, click "Add another email address you own".
  </li><li>
    For "Email address", use:  <%= @person.email %>
  </li><li>
    Uncheck the "Treat as an alias" checkbox.
  </li><li>
    Click "Next Step".
  </li><li>
    The dialog box should dismiss, and "<%= @person.email %>" should be added to "Send mail as".
  </li><li>
    Click the "make default" link to its right.
  </li>
</ol>
<p/>
In email apps, specify "@<b>west</b>.cmu.edu" for server logons (possibly under advanced settings), but use "@<b>sv</b>.cmu.edu" for user information address and "Reply-To" settings.
<p/>
<b>
Forward Your Andrew Email To CMU-SV
</b></p>
Carnegie Mellon University affiliated members are given an Andrew ID and email account. Main campus communications (including course registration, HUB/Enrollment Services messages, and graduation information) are addressed to your Andrew email account.
<p/>
While at the Silicon Valley campus, we recommend that you forward your Andrew email to CMU-SV to avoid missing important communications from the main campus.
<ol>
  <li>
    Go to:  <a href="http://emailtools.cmu.edu/">http://emailtools.cmu.edu/</a>
  </li><li>
    Log in using your Andrew credentials.
(See:  <a href="http://www.cmu.edu/computing/accounts/passwords/">http://www.cmu.edu/computing/accounts/passwords/</a>)
  </li><li>
    Click "Mail Forwarding" in the left navigation panel.
  </li><li>
    In the "Mail Forwarding" center pane, enter in the "Forwarded To" textbox your address:  <%= @person.email %>
  </li><li>
    Click "Modify".
  </li>
</ol>
<p/>
<b>
Contacts And Other Information
</b>
<ul>
  <li>
    For help with SV technical resources, e.g., email, IT, AV:  help@sv.cmu.edu
  </li><li>
    To report building issues:  facilities@sv.cmu.edu
  </li><li>
    Regarding services provided by the main campus, e.g., Andrew:  it-help@cmu.edu
  </li><li>
Student Affairs:  
    <a href="http://sv.cmu.edu/campus-life/student-affairs/">http://sv.cmu.edu/campus-life/student-affairs/</a>
  </li><li>
Emergency Alert and Other Resources:  
    <a href="http://sv.cmu.edu/information/resources/">
http://sv.cmu.edu/information/resources/</a>
  </li><li>
    General non-technical questions not specific to SV:  Your home department.
  </li>
</ul>
<p/>
Regards,
<br/>
Technical Operations
