<% content_for :title, 'Edit Project Type' %>
<h1>Editing project type</h1>

<%= form_for(@project_type) do |f| %>
  <% if @project_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_type.errors.count, "error") %> prohibited this project type from being saved:</h2>

      <ul>
      <% @project_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p>
<%= link_to 'Show', @project_type %> |
<%= link_to 'Back', project_types_path %>
</p>