<% content_for :title, 'New project type' %>
<h1>New project type</h1>

<% form_for(@project_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p>
<%= link_to 'Back', project_types_path %>
</p>