<div id="job-detail-list-container">
  <h2>Complete Job details</h2>

  <div>
    <% @jobs.each do |job| %>
    <table class="cmu_table" id="project-<%= job.id %>">
      <tr>
	<td colspan="2" class="header-row">
	  <%= job_title_formatted(job).html_safe %>
      </tr>
      <tr>
	  <td colspan="2"><%= sanitize_trusted job.description %></td>
      </tr>
      <tr>
	  <td>Must have skills:</td>
	  <td><%= job.skills_must_haves %></td>
      </tr>
      <% if job.skills_nice_haves %>
      <tr>
	  <td>Nice to have:</td>
	  <td><%= job.skills_nice_haves %></td>
      </tr>
      <% end %>
      <% if job.duration %>
      <tr>
	  <td>Duration:</td>
	  <td><%= job.duration %></td>
      </tr>
      <% end %>
      <tr>
	  <td>Contact People:</td>
	  <td><%= job_person_names(job.job_supervisors).html_safe %></td>
      </tr>
      <tr>
	  <td>Assigned:</td>
	  <td><%= job_person_names(job.job_employees).html_safe %></td>
      </tr>
      <tr>
	  <td>Posted on:</td>
    <td><%= l job.created_at, :format => :detailed %></td>
      </tr>
      <% if can? :see_job_details, Job %>
      <tr class="faculty-visible" title="Only shown to faculty & admin">
	  <td valign="top">Funding:</td>
      <td>
        <% if job.sponsored_project.present? %>
        <%= job.sponsored_project.sponsor.name %> - <%= job.sponsored_project.name %><br/>
        <% end %>
	  <%= job.funding_description %></td>
      </tr>
      <tr class="faculty-visible" title="Only shown to faculty & admin">
      <td valign="top">Log:</td>
      <td><%= sanitize_trusted job.log %></td>
      </tr>
      <% end %>
      <% if can? :update, job %>
      <tr>
	  <td colspan="2"><%= link_to 'Edit', edit_job_path(job) %> </td>
      </tr>
      <% end %>
      <tr>
	  <td colspan="2" class="top" inline-page-link="#job-quick-list-container">Go to quick list</td>
      </tr>
    </table>
    <% end %>
  </div>
</div> <!-- job-detail-list-container -->
