<% content_for :tablesorter do %>
    <%= javascript_include_tag 'jquery_tablesorter_min.js' %>
    <%= javascript_include_tag 'jquery_quicksearch.js' %>
<% end %>

<script type="text/javascript">
  $(function() {
    $("#job-list-match-student").tablesorter({ headers:{3:{sorter:false}} });
    $("#job-list-project-match").tablesorter({ headers:{1:{sorter:false}, 2:{sorter:false}} });
  });
</script>

<h1>Job list Matches</h1>

<div>
  <h2>Student assignments</h2>
  <table class="cmu_table" id="job-list-match-student">
  <thead>
    <tr>
      <th>Student</th>
      <th>&nbsp;</th>
      <th>Project Title</th>
      <th>Supervisor</th>
    </tr>
  </thead>
  <tbody>
    <% @all_employees.each do |employee| %>
    <tr>
      <td><%= job_person_names([employee]).html_safe %></td>
      <td><%= "&#x2713;".html_safe if employee.is_ga_promised %></td>
      <td><%= job_titles_formatted(employee.jobs_as_employee).html_safe %></td>
      <td><%= job_person_names(JobSupervisor.get_supervisors(employee.jobs_as_employee)).html_safe %></td>
    </tr>
    <% end %>
  </tbody>
  </table>

  <br />

  <h2>Project assignments</h2>
  <table class="cmu_table" id="job-list-project-match">
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Supervisors</th>
      <th>Student(s)</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= (job_person_names(job.job_supervisors)).html_safe if job.job_supervisors.present? %> </td>
      <td><%= (job_person_names(job.job_employees)).html_safe if job.job_employees.present? %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>
