<h1>Job listings</h1>


<div id="job-notice-container">
    <table class="cmu_table">
      <tr>
  <td>
      This is an open marketplace process where faculty and students interview each other to find the best match.  Matches are made on a first-come, first-served basis, when both the owner and the student agree on the match.
      <br/><br/>
      When a match has occurred, the owner adds the student to their project. An email will be sent to the student telling them how to fill out the necessary paperwork.
      <br/><br/>
      If a student is taking more than 36 units, we limit the hours to 10 hours per week. If the students is taking 36 or less units,  we limit the hours to 20 hours per
      week. Note that some projects might only have enough funding for 10 hours per week.
      <br/><br/>
  </td>
    </tr>
    <% if can? :see_job_details, Job %>
    <tr class="faculty-visible" title="Only shown to faculty & admin" >
      <td>
  The cost for a 10 hour per week graduate assistant is as follows. (Namely $600 / month)
  <ul>
      <li>Fall - $2,400</li>
      <li>Spring - $2,400</li>
      <li>Summer - $2,400</li>
  </ul>
  Under normal circumstances, we do not expect the students to be working over their breaks.
        <% if can? :create, Job %><br/><br/>
          <%= link_to 'Post a Job', new_job_path %>
        <% end %>
        <% if can? :view_assignments, Job %><br/>
          <%= link_to 'View Assignments', job_assignments_path %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<% unless @jobs.blank? %>
  <%= render partial: "jobs_quick_list", :locals => { jobs: @jobs } %>
  <%= render partial: "jobs_detail_list", :locals => { jobs: @jobs }%>
<% end %>
<br />

<% if can? :create, Job %>
<%= link_to 'Post a job', new_job_path %>
<% end %>

<script type="text/javascript">
  $(function() {
    $(".cmu_table tbody").on('click', "tr", function (event) {
      var $this = $(this);
      $('html, body').stop().animate({
	scrollTop: $($this.children().first().attr("inline-page-link")).offset().top
      }, 500, 'swing');
    });
    $(document).tooltip({
      position: { my: "left+10 center", at: "right center" },
      open: function (event, ui) {
	ui.tooltip.css("max-width", "250px");
      }
    });
  });

</script>
