<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Skills must haves:</b>
  <%= @job.skills_must_haves %>
</p>

<p>
  <b>Skills nice haves:</b>
  <%= @job.skills_nice_haves %>
</p>

<p>
  <b>Duration:</b>
  <%= @job.duration %>
</p>

<p>
  <b>Funding source:</b>
  <%= @job.funding_source %>
</p>

<p>
  <b>Funding oracle string:</b>
  <%= @job.funding_oracle_string %>
</p>

<p>
  <b>Is accepting:</b>
  <%= @job.is_accepting %>
</p>

<p>
  <b>Is closed:</b>
  <%= @job.is_closed %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
