<br/>
<p>"<%= @page_comment.comment %>"</p>
<p>
  <% unless @page_comment.user.nil? %>
      by <%= @page_comment.user.human_name %>
  <% end %>
</p>
<br/>
<p>This comment was <%= @status %> on this <%= link_to "page", page_url(@page_comment.page) %></p>
<br/>
<br/>
<p>Patrolling the campus,</p>
<p>Scotty Dog</p>
<br/>
<%= image_tag("ScottyDogLandscape.jpg", :class => "bevel", :size => "236x69", :alt => "Picture of Scotty Dog") %>

