<% content_for :title, 'Edit Curriculum Comment Type' %>
<h1>Editing curriculum comment type</h1>

<%= form_for(@curriculum_comment_type) do |f| %>
  <% if @curriculum_comment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curriculum_comment_type.errors.count, "error") %> prohibited this comment type from being saved:</h2>

      <ul>
      <% @curriculum_comment_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :background_color %><br />
    <%= f.text_field :background_color %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @curriculum_comment_type %> |
<%= link_to 'Back', curriculum_comment_types_path %>
