<% content_for :title, 'New Curriculum Comment Type' %>
<h1>New curriculum comment type</h1>

<% form_for(@curriculum_comment_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :background_color %><br />
    <%= f.text_field :background_color %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', curriculum_comment_types_path %>
