<% content_for :title, 'Google Mailing Lists' %>

<% content_for :tablesorter do %>

    <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
    <%= javascript_include_tag 'jquery.quicksearch.js' %>

    <script type="text/javascript">
    $(document).ready(function () {
        var $search = $("#filterBoxOne");
        if ($search.prop("disabled") == true) {
            $search.val('');
            $search.removeAttr("disabled");
            $search.focus();
        }
        $("#mailing_list_table").tablesorter({
            headers:{2:{sorter:false}},
            sortList:[
                [0, 0]
            ]
        });
        $search.quicksearch('#mailing_list_table tbody tr');
        //hovering over a line selects it
        $("tr").hover(function () {
            $(this).addClass("hover");
        },function () {
            $(this).removeClass("hover");
        });
    });
    </script>
<% end %>

<h1>Mailing lists</h1>
<div style="float:none"><%= render :partial => "/people/tablesorter_filter_box" %></div>


<table id="mailing_list_table" class="tablesorter">
  <thead>
  <tr>
    <th>Mailing List</th>
    <th>Actions</th>
    <% if current_user.is_admin? %>
        <th>Admin</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @mailing_lists.each do |mailing_list| %>
      <tr class="tablesorter">
        <td><%= mailing_list.sub('@west.cmu.edu', '@sv.cmu.edu') %></td>
        <td><%= link_to 'Show', mailing_list_path(mailing_list) %></td>
        <% if current_user.is_admin? %>
            <% url_mailing_list = mailing_list.gsub(/@/, '%40') %>
            <td><%= link_to 'Edit', "https://www.google.com/a/cpanel/#{ENV['GOOGLE_DOMAIN']}/Group?groupId=#{mailing_list}" %></td>
        <% end %>

      </tr>
  <% end %>
  </tbody>
</table>
<p>There are <%= @mailing_lists.size %> mailing lists.</p>

<br/>
