<% content_for :title, 'CMU-SV Rails Application' %>

<%# render :partial=>'rss_feeds/index', :locals => {:rss_feeds => @rss_feeds} %>

<% if current_user %>
  <h1>My courses</h1>
  <% @courses_registered_as_student.each do |course| %>
    <p><%= link_to course.name, course_path(course) %></p>
    <%# render :partial => "/courses/show_actions" ,:locals => { :course => course } %>
  <% end %>
<% end  %>

<h2>Experimental features</h2>
            <form action="<%= search_index_path %>" id="searchform" method="get" role="search">
<div>
                    <label for="s" class="screen-reader-text">Search for:</label>
    <input type="text" id="query" name="query" value="">
    <input type="submit" value="Search" id="searchsubmit">
    (Note: only searches through curriculum pages saved after Orientation 2011. This will move into the layout once done.)
</div>
            </form>

<% if current_user && (current_user.is_staff || current_user.is_admin) %>
<h2>Faculty views</h2>
<p><a href="/teams">All teams</a></p>
<h2>Admin notes</h2>
<p>The current semester is <%= current_semester() %>. The current time is <%= l Time.now, :format => :chatty %> </p>
<% end %>

<h2>New features</h2>
<p><%= link_to "New Features", new_features_path %></p>
<p><%= link_to "Google Mailing Lists", mailing_lists_path %></p>

<% if current_user && current_user.is_admin %>
<h2>Admin only</h2>
    <p><%= link_to "Config", config_path %></p>
<% end %>