<% content_for :title, 'Course Number' + @course_number.name %>
<p>
  <b>Number:</b>
  <%=h @course_number.number %>
</p>
<p>
  <b>Name:</b>
  <%=h @course_number.name %>
</p>
<p>
  <b>Abbreviation:</b>
  <%=h @course_number.short_name %>
</p>

<%= link_to 'Edit', edit_course_number_path(@course_number) %> |
<%= link_to 'Back', course_numbers_path %>
