<% form_for(@project) do |f| %>
  <%= f.error_messages %>


  <table>
    <tr><td><%= f.label :name %></td><td><%= f.text_field :name %></td></tr>
    <tr><td><%= f.label :sponsor %></td><td><%= f.select :sponsor_id, @sponsors.collect{|item| [item.name, item.id]} %></td></tr>
  </table>

  <br />
  <%= f.submit %>
  <br/>
  <br/>
<% end %>

