<% content_for :title, 'Individual Contributions' %>
<h1>Listing Individual Contributions</h1>

<table>
  <tr>
    <th>Week number</th>
    <th></th>
    <th>Starting on</th>
    <th>&nbsp;</th>
  </tr>

<% if @show_new_link_for_current_week %>
  <tr>
  <td class="log_weeknumber">Week <%= @current_week_number %> of <%= @year %></td>
  <td>starting on</td>
  <td><%=h show_monday_for(@year, @current_week_number) %></td>
  <td class="log_action"><%= link_to 'New Individual Contribution', :controller => "individual_contributions", :action => "new", :prior => nil %></td>
  </tr>
<% end %>



<% if @show_new_link_for_previous_week %>
  <tr>
  <td class="log_weeknumber">Week <%=h @previous_week_number %> of <%= @previous_week_year %></td>
  <td>starting on</td>
  <td><%=h show_monday_for(@previous_week_year, @previous_week_number) %></td>
  <td class="log_action"><%= link_to 'New Individual Contribution', :controller => "individual_contributions", :action => "new", :prior => "true" %></td>
  </tr>
<% end %>

<% for individual_contribution in @individual_contributions %>
  <tr>
    <td class="log_weeknumber">Week <%=h individual_contribution.week_number %> of <%=h individual_contribution.year%></td>
    <td>starting on</td>
    <td><%=h show_monday_for(individual_contribution.year, individual_contribution.week_number) %></td>
    <td class="log_action"><%= link_to 'Show', individual_contribution %></td>
    <% if can? :edit, individual_contribution %>
    <td class="log_action"><%= link_to 'Edit', edit_individual_contribution_path(individual_contribution) %></td>
    <% else %>
    <td>&nbsp;</td>
    <% end %>
    <td>&nbsp;</td>
<% if current_user && current_user.is_admin %>
    <td class="log_action"><%= link_to 'Destroy', individual_contribution, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<p>Note: Every week, you'll be able to create a new Individual Contribution entry. Individual Contributions are due each week on Sunday by midnight (Pacific Time).
  Faculty will be reviewing Individual Contributions Monday morning. You have a 24 hour grace period. You will not be able to
  create or edit after the grace period. We don't remember what we had for lunch yesterday and we don't think you'll remember what you were doing last week.</p>
<br />
<p><%= link_to 'Back', '/' %></p>
<br/>
