<% if @page.editable?(current_user) %>
<div class="right_link">
  <%= link_to 'Edit Page', edit_page_path(@page)%>
</div>
<% end %>

<%= javascript_include_tag 'jquery.cookie' %>

<script type="text/javascript">

  $(function() {
    $('#tabs').tabs();
    $('.selector').tabs({ cookie: { name: 'selected_tab', expires: 30} });
    $("#error").error();
    //$("#highlight").highlight();
    
  });

  $(document).ready(function(){

    //Attach event to tab selection & save selected tab in cookie
    $('#tabs').bind('tabsselect', function(event, tab){
      $.cookie('selected_tab', tab.index);
     });

    $("#tabs").tabs().tabs('select', parseInt($.cookie('selected_tab')));
   });

</script>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
    var url = location.pathname;
    if (url.indexOf("intro_to_se") != -1) {
		$(".courseTitle").text("Introduction to Software Engineering");
		$(".taskHeaderDiv").text("Introduction to Software Engineering");
                document.title = "Introduction to Software Engineering";
                $(".title").text("Introduction to Software Engineering");
		$(".foundations").hide();
	}
    if (url.indexOf("foundations") != -1) {
		$(".intro_se").hide();
	}
});
//]]>
</script>


<% unless @page.is_task? %>
    <p><%= sanitize_trusted(@page.tab_one_contents) %></p>

<% else %>

<div id="tabs">
	<ul class="none">
		<li><a href="#tabs-1">Project Requirements</a></li>
		<li><a href="#tabs-2">Getting help</a></li>
		<li><a href="#tabs-3">Submitting your work</a></li>
        <% if current_user.is_staff || current_user.is_admin %>
        <li><a href="#tabs-4">Faculty notes</a></li>
        <% end %>
	</ul>
	<div id="tabs-1">
     <div id="email_from_header">From:</div><div id="email_from_contents"><%=h @page.tab_one_email_from %></div>
      <div id="email_subject_header">Subject:</div><div id="email_subject_contents"><%=h @page.tab_one_email_subject %></div>
      <div id="email_details">
        <p><%= sanitize_trusted(@page.tab_one_contents) %></p>
      </div>
	</div>
	<div id="tabs-2">
      <p><%= sanitize_trusted(@page.tab_two_contents) %></p>
	</div>
	<div id="tabs-3">   
	   <p>Before submitting your work, take a few minutes to review the checklist of questions below. The checklist will help you determine if your deliverables are complete and ready to be submitted. Remember  <%= link_to "'Tying the Bow'", page_path(:id => "tying_the_bow") %></p>
	   <p>When you are confident that your work on this task is complete,  	         		
          <%= link_to "submit your deliverable", new_deliverable_path(:task_number => @page.task_number, :course_id => @current_semester_course) %></p>
      <p><%= sanitize_trusted(@page.tab_three_contents) %></p>
	</div>
  <% if current_user.is_staff || current_user.is_admin %>
	<div id="tabs-4">
      <p><%= sanitize_trusted(@page.faculty_notes) %></p>
	</div>
  <% end %>
</div>

<% end %>
<div class="modified">Last modified by <% unless @page.updated_by.blank? %><%= @page.updated_by.human_name %><% end %></div>
<div class="modified"><%= time_ago_in_words(@page.updated_at) %> ago</div>
<div class="modified"> <!-- Version <%= @page.version %> | -->
  <% if @page.version > 1 %>
    <%= link_to "Previous version", :version => @page.version-1 %> |
  <% end %>
  <% if params[:version] %>
    <%= link_to "Latest version", :version => nil %> |
  <% end %>
  <%= link_to "History", :history => true  %>
</div>
<br/>

<% if @page.editable?(current_user) %>
Add Attachment | <%= link_to 'Edit', edit_page_path(@page) %> |
<% end %>
<%= link_to 'Back', pages_path %> <br/>
