<% content_for :title, "Listing pages" %>

<h1>Listing pages</h1>

<table class="cmu_table">
  <tr>
    <th>Title</th>
    <th>Course</th>
  </tr>

<% for page in @pages %>
  <tr class="<%= cycle('cmu_table_odd','cmu_table_even')%>">
    <td><%=h page.title %></td>
<% unless page.course_id.blank?  %>
    <td>(<%=h page.course.name %>)</td>
<% else %>
    <td>&nbsp;</td>
<% end %>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>
