<% if @page.course.blank? %>
    <% content_for :title, @page.title %>
<% else %>
    <% content_for :title, @page.course.name + " - " + @page.title %>
<% end %>

<%= render :partial => "left_nav" %>


<% if @page.course.blank? %>
    <h1 name="page">  <%=h @page.title %></h1>
<% else %>
    <h1 name="course"><%=h @page.course.name %></h1>
    <h2 name="page">  <%=h @page.title %></h2>
<% end %>
<% if @page.editable?(current_user) %>
<div class="right_link"><%= link_to 'Edit Page', edit_page_path(@page) %></div>
<% end %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" />
<%= javascript_include_tag 'jquery.cookie' %>


<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
        $( ".selector" ).tabs({ cookie: { expires: 30 } });
        $("#highlight").highlight();
        $("#error").error();
	});

	</script>


<% unless @page.is_task? %>
    <p><%= sanitize_trusted(@page.tab_one_contents) %></p>
    
<% else %>

<div id="tabs">
	<ul class="none">
		<li><a href="#tabs-1">Project Requirements</a></li>
		<li><a href="#tabs-2">Getting help</a></li>
		<li><a href="#tabs-3">Submitting your work</a></li>
        <% if current_user.is_staff || current_user.is_admin %>
        <li><a href="#tabs-4">Faculty notes</a></li>
        <% end %>      
	</ul>
	<div id="tabs-1">
      <div id="email_from_header">From: </div><div id="email_from_contents"><%=h @page.tab_one_email_from %></div>
      <div id="email_subject_header">Subject:</div><div id="email_subject_contents"><%=h @page.tab_one_email_subject %></div>
      <div id="email_details">
        <p><%= sanitize_trusted(@page.tab_one_contents) %></p>
      </div>
	</div>
	<div id="tabs-2">
      <p><%= sanitize_trusted(@page.tab_two_contents) %></p>
	</div>
	<div id="tabs-3">
      <p><%= sanitize_trusted(@page.tab_three_contents) %></p>
	</div>
  <% if current_user.is_staff || current_user.is_admin %>
	<div id="tabs-4">
      <p><%= sanitize_trusted(@page.faculty_notes) %></p>
	</div>
  <% end %>
</div>

<% end %>
<div class="modified">Last modified by <% unless @page.updated_by.blank? %><%= @page.updated_by.human_name %><% end %></div>
<div class="modified"><%= time_ago_in_words(@page.updated_at) %> ago</div>
<br/>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
