<% content_for :title, @page.course.name + " - " + @page.title %>

<%= render :partial => "left_nav" %>

<h1 name="course"><%=h @page.course.name %></h1>
<h2 name="page">  <%=h @page.title %></h2>

<div id="lvl_topnav">

<a href="<%= page_path(@page) %>/email" onclick="showEmail();return false;">Project requirements</a>
<%=  image_spacer(10) %>
|
<%=  image_spacer(10) %>
<a href="<%= page_path(@page) %>/help" onclick="showHelp();return false;">Getting help</a>
<%=  image_spacer(10) %>
|
<%=  image_spacer(10) %>
<a href="<%= page_path(@page) %>/submit" onclick="showSubmit();return false;">Submitting your work</a>
<%=  image_spacer(10) %>
  
</div>

<script type="text/javascript">
        //<![CDATA[
$(document).ready(function(){


    var url = location.pathname;

    if (url.indexOf("email") != -1) {
      showEmail()
      return
    }

    if (url.indexOf("help") != -1) {
      showHelp()
      return
    }
    if (url.indexOf("submit") != -1) {
      showSubmit()
      return
    }

    showEmail()
});

function showEmail()
{
      $("#email").show();
      $("#help").hide();
      $("#submit").hide();
//      location.hash = "#email";
}
function showHelp()
{
      $("#email").hide();
      $("#help").show();
      $("#submit").hide();
      location.hash = "#help";
}
function showSubmit()
{
      $("#email").hide();
      $("#help").hide();
      $("#submit").show();
      location.hash = "#submit";
}

//]]>
</script>

<div class="task_tab" id="email">
  <div id="email_from"><%=h @page.tab_one_email_from %></div>
  <div id="email_subject"><%=h @page.tab_one_email_subject %></div>
  <div id="email_details"><%=h @page.tab_one_contents %></div>
</div>

<div class="task_tab" id="help">
  <%=h @page.tab_two_contents %>
</div>

<div class="task_tab" id="submit">
  <%=h @page.tab_three_contents %>  
</div>

<h3>debug stuff</h3>
<p>
  <b>Sequence number:</b>
  <%=h @page.position %>
</p>



<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
