<% content_for :title, 'Semester view for ' + @semester_panel.semester + ' ' + @semester_panel.year.to_s %>
<div>
  <table><tr><td><a href="<%=url_for :action=>"index", :id => params[:id], :week => nil, :only_path=>true%>">Back to Effort Reports main page</a></td></tr>
  </table>
</div>


<div>
<% form_for :semester_panel, @semester_panel, :url => {:action => "campus_semester", :id=> params[:id]} do |f| %>
  <table width="100%" >
    <colgroup span="3" align="left"></colgroup>
    <colgroup align="right" style="color:#0000FF;"></colgroup>
   <tr>
    <th align="center">Student Population</th>
    <th align="center">Course</th>
    <th align="center">Semester/Year</th>
  </tr>
  <tr>
      <td>
        Program:
        <%= f.select(:program, @programs, :include_blank => true) %>   
      </td>
      <td>
        Course:
        <%= f.collection_select(:course_id, @courses, :id, :name, :include_blank => true) %>
      </td>
      <td>
        Semester:
        <%= f.select(:semester, %w{Summer Spring Fall}) %>
       </td>
  </tr>
   <tr>
      <td>
        Track:
        <%= f.select(:track, @tracks, :include_blank => true) %>
      </td>
      <td>
        Class of
        <%= f.select(:graduation_year, %w{2006 2007 2008 2009 2010 2011}, :include_blank => true) %>
      </td>
        <td>
        Year:
        <%= f.text_field(:year, :size => "4") %>
      </td>
   <tr>
      <td>
        PT/FT:
        <%= f.select(:is_part_time, %w{Both FT PT}) %>
      </td>
     <td>
        Student:
        <%= f.collection_select(:person_id, @students, :id, :human_name, :include_blank => true) %>
      </td>
          <td>
            <%= f.submit "Update" %>
    </td> 

  </tr></table>
  <% end %>

<!--  <img src='http://chart.apis.google.com/chart?cht=p3&chs=450x200&chd=t:2,4,3,1&chl=Phones|Computers|Services|Other&chtt=Company%20Sales&chco=ff0000'>
 -->
<%= image_tag(@chart_url)  %>

</div>

