<%# ziya_chart load_chart_url, :size => "900x600" -%>

<% content_for :title, 'Effort Reports' %>
<h1>Effort Reports</h1>


<h2>Campus View</h2>
<table class="layout_table" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <a href="<%= url_for :action => "campus_semester", :id => params[:id], :week => nil, :only_path => true %>">
        <%= image_tag("effort_report_campus_semester.png", :size => "300x170", :border => "0", :alt => "Campus Semester View") %></a>
    </td>
    <td>
      <a href="<%= url_for :action => "campus_week", :id => params[:id], :week => nil, :only_path => true %>">
        <%= image_tag("effort_report_campus_week.png", :size => "300x170", :border => "0", :alt => "Campus Week View") %></a>
    </td>
  </tr>
  <tr>
    <td align="center">Semester</td>
    <td align="center">Week</td>
  </tr>
</table>
<br/>

<h2>Course View</h2>
<p><%= link_to "Pick a course", current_semester_path %></p>

<br/>
<br/>
