<% content_for :title, 'Effort Reports' %>
<h1>Effort Reports</h1>


<%if current_user.is_staff || current_user.is_admin %>
<h2>Campus View</h2>
  <a href="<%=url_for :action=>"index", :id => params[:id], :week => nil, :only_path=>true%>">Back to Effort Reports main page</a>
<!--
  <a href="<%=url_for :action=>"campus_semester", :id => params[:id], :week => nil, :only_path=>true%>">Campus semester view</a>
  <a href="<%=url_for :action=>"campus_week", :id => params[:id], :week => nil, :only_path=>true%>">Campus week view</a>
-->
<% end %>

<%if current_user.is_staff || current_user.is_admin %>
<h2>Pick a report format</h2>
<a href="<%=url_for :action=>"course_table", :id => params[:id], :only_path=>true%>">
<%= image_tag("/images/effort_report_course_table.jpg", :size => "474x320", :border=>"0", :alt=>"Course Table") %></a>
&nbsp;
<a href="<%=url_for :action=>"course", :id => params[:id], :week => nil, :only_path=>true%>">
<%= image_tag("/images/effort_report_course.png", :size => "474x271", :border=>"0", :alt=>"Course View") %></a>

&nbsp;
<% end %>
<a href="<%=url_for :action=>"show_week", :id => params[:id], :week => @this_week_number, :only_path=>true%>">
<%= image_tag("/images/effort_report.jpg", :size => "373x320", :border=>"0") %></a>

<% if current_user && (current_user.is_staff || current_user.is_admin) then  %>
<h2>Download your own data</h2>
<%= link_to "Download the raw data", :controller => "effort_reports", :action => "raw_data", :id => params[:id] %>
<% end  %>
<br/>



