<% content_for :title, 'Delayed Jobs' %>
<h1>Delayed Jobs</h1>

<table class="twikiTable">
  <tr>
    <th>id</th>
    <th>priority</th>
    <th>attempts</th>
    <th>handler</th>
    <th>last_error</th>
    <th>run_at</th>
    <th>created_at</th>
    <th>&nbsp;</th>
  </tr>
<% for job in @delayed_system_jobs %>
  <tr valign="top">
    <td><%=h job.id %></td>
    <td><%=h job.priority  %></td>
    <td><%=h job.attempts  %></td>
    <td><%=h job.handler  %></td>
    <td><%=h job.last_error  %></td>
    <td><%=h job.run_at  %></td>
    <td><%=h job.created_at  %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br/>
