

<%= stylesheet_link_tag "calendar_date_select/red" %>
<% form_for @paper, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :citation %><br />
    <%= f.text_area :citation, :size => "100x7" %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.calendar_date_select :date, :size => 10 %><br/>
    <span class="help_text">This is used for sorting papers by date.</span>
  </p>
 <div id="authors">
  <p>Carnegie Mellon Silicon Valley authors<br/>
    <span class="help_text">Please add any authors that are in our database</span>
  </p>

  <%= render :partial => 'author', :collection =>@paper.people, :locals => { :paper_form => f } %>

</div>
<div class="formItem indented"><p><%= add_author_link("Add an author") %></p></div>
<p>
</p>
  <p>
    <%= f.label :paper, "Upload paper" %>
    <%= f.file_field :paper %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>
