<% content_for :title, "Published Papers" %>

<h1>Papers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for paper in @papers %>
  <tr>
<% if paper.citation.blank? %>
    <td><p><%=h paper.authors_full_listing %> "<%=h paper.title %>" <%=h paper.conference %> <%=h paper.year %>.
    [<%= link_to 'paper', paper.paper.url %>]</p></td>
<% else %>
        <td><p><%=h paper.citation %>
        [<%= link_to 'paper', paper.paper.url %>]</p></td>

<% end %>

<% if current_user && (current_user.is_staff? || current_user.is_admin?) %>
<td><%= link_to 'Edit', edit_paper_path(paper) %></td>
<% else %>
<td>&nbsp;</td>
<% end %>


<% if current_user && current_user.is_admin? %>
    <td><%= link_to 'Destroy', paper, :confirm => 'Are you sure?', :method => :delete %></td>
<% else %>
<td>&nbsp;</td>
<% end %>

  </tr>
<% end %>
</table>

<br />

<% if current_user && (current_user.is_staff? || current_user.is_admin?) %>
<%= link_to 'New paper', new_paper_path %>
<% end %>
<br/>
<br/>
