<% content_for :title, 'Peer evaluation report for ' + @team.name %>
<h1>Generate Report</h1>

<%if !@incompletes.empty?%>
  <%  @incompletes.each do |person| %>
    <span style="color:red"><%=  person.human_name  %> has not completed the survey.</span> <br />
  <%end%>
   <br /><span style="color:red">Do not press "Save All Reports" until everyone has completed the survey.</span><br />
<%end%><br />

Edit the report here: <br />
<% form_for @report, :url => {:action => "complete_report"} do |f| %>
<input type="hidden" name="id" value="<%=params[:id]%>">
<%personcounter = 0%>

  <%@people.each do |person|%>
    <%= person.human_name %><br />
    <%= f.text_area :feedback, :index => personcounter ,:value => @reportArray[personcounter], :size=>"95x20" %><br />
    <%= f.submit 'Save All Reports' %><br /><br />
    <%personcounter += 1%>
  <% end %>

  <h2>New format</h2>
  <table>
    <tr><td>&nbsp;</td><%@people.each do |person| %><td><%= person.human_name %></td><% end %></tr>
    <%@people.each do |reviewer| %>
    <tr><td><%= reviewer.human_name %> says:</td>
      <%@people.each do |reviewee|%>
        <td><%= @point_allocations[reviewer.human_name][reviewee.human_name] %></td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <h2> Old format (should be same as new format)</h2>
  <table>
  <%@people.each do |person| %>
    <tr><td><%= person.human_name %> says:</td>
    <td><%= @report_allocations[person.human_name] %></td>
    </tr>
  <% end %>
  </table>

  <%= f.submit 'Save And Email All' %>
<% end %>
<br/>