<h1>Allocations</h1>
<table cellpadding="3">
<tr>
  <th>Person</th>
  <th>Sponsor</th>
  <th>Project</th>
  <th>Allocation</th>
  <th></th>
</tr>
<% @allocations.each do |allocation| %>
    <tr>
      <td><%= allocation.person.human_name %></td>
      <td><%= allocation.sponsored_project.sponsor.name %></td>
      <td><%= allocation.sponsored_project.name %></td>
      <td><%= allocation.current_allocation %></td>
      <td><%= link_to 'Edit', edit_sponsored_project_allocation_path(allocation) %></td>
    </tr>
<% end %>
  <tr><td colspan="5"><%= link_to 'New allocation', new_sponsored_project_allocation_path %></td></tr>
</table>

<br/>
<br/>