<tr>
   <td>&nbsp;</td>
<% if current_user && current_user.is_student? %>  
  <td>Course</td><td><%= link_to 'Type', task_types_path %></td><td>&nbsp;</td>
<% else %>
  <td><%= link_to 'Project', projects_path %></td><td><%= link_to 'Type', task_types_path %></td><td>&nbsp;</td>
<% end %>
<%= td_class_is_today(1) %> Mon</td>
<%= td_class_is_today(2) %> Tues</td>
<%= td_class_is_today(3) %> Wed</td>
<%= td_class_is_today(4) %> Thur</td>
<%= td_class_is_today(5) %> Fri</td>
<%= td_class_is_today(6) %> Sat</td>
<%= td_class_is_today(7) %> Sun</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>

<!--
<tr><td colspan=2>&nbsp;</td><td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td><td>Saturday</td><td>Sunday</td></tr>
-->
<tr><td colspan=4>&nbsp;</td>
<% i = 0 %>
<% @day_labels.each  do |label| i=i+1 %>
  <%=td_class_is_today(i)%><%=h label %></td>
<% end %> 
<td>&nbsp;</td><td>&nbsp;</td>
</tr>