<tr class="effort_log_line_item">
  <% new_or_existing = effort_log_line_item_show.new_record? ? 'new' : 'existing' %>
  <% prefix = "effort_log[#{new_or_existing}_effort_log_line_item_attributes][]" %>


  <%= fields_for prefix, effort_log_line_item_show do |effort_log_line_item_form| -%>

      <% if current_user && current_user.is_student? %>
          <td><%= effort_log_line_item_show.position %></td>
          <% if effort_log_line_item_show.course.nil? %>
              <td>&nbsp;</td>
          <% else %>
              <td><%= effort_log_line_item_show.course.name %></td>
          <% end %>
          <% if effort_log_line_item_show.task_type.nil? %>
              <td>&nbsp;</td>
          <% else %>
              <td><%= effort_log_line_item_show.task_type.name %></td>
          <% end %>
          <td>&nbsp;</td>
      <% else %>
          <td><%= effort_log_line_item_show.task_type.name unless effort_log_line_item_show.task_type.nil? %></td>
          <td>&nbsp;</td>
      <% end %>
      <%= td_class_is_today(1) %><%= effort_log_line_item_form.text_field :day1, :size => 4, :readonly => "readonly" %></td>
      <%= td_class_is_today(2) %><%= effort_log_line_item_form.text_field :day2, :size => 4, :readonly => "readonly" %></td>
      <%= td_class_is_today(3) %><%= effort_log_line_item_form.text_field :day3, :size => 4, :readonly => "readonly" %></td>
      <%= td_class_is_today(4) %><%= effort_log_line_item_form.text_field :day4, :size => 4, :readonly => "readonly" %></td>
      <%= td_class_is_today(5) %><%= effort_log_line_item_form.text_field :day5, :size => 4, :readonly => "readonly" %></td>
      <%= td_class_is_today(6) %><%= effort_log_line_item_form.text_field :day6, :size => 4, :readonly => "readonly" %></td>
      <%= td_class_is_today(7) %><%= effort_log_line_item_form.text_field :day7, :size => 4, :readonly => "readonly" %></td>
      <td class="log_sum"><%= effort_log_line_item_show.sum %> hrs</td>
      <td>&nbsp</td>
  <% end -%>
</tr>