<h1>Feedback for <%= @presentation_feedback.presentation.name %></h1>

<p>
  <b>Content</b>
  <table>
    <tr>
    <td>Grade:</td>
    <td><%= PresentationFeedback::GRADE[@presentation_feedback.content] %></td>
    </tr>
    <tr>
    <td>Comments:</td>
    <td><%= @presentation_feedback.content_comment %></td>
    </tr>
  </table>
</p>

<p>
  <b>Organization</b>
  <table>
    <tr>
    <td>Grade:</td>
    <td><%= PresentationFeedback::GRADE[@presentation_feedback.organization] %></td>
    </tr>
    <tr>
    <td>Comments:</td>
    <td><%= @presentation_feedback.organization_comment %></td>
    </tr>
  </table>
</p>

<p>
  <b>Visuals</b>
  <table>
    <tr>
    <td>Grade:</td>
    <td><%= PresentationFeedback::GRADE[@presentation_feedback.visual] %></td>
    </tr>
    <tr>
    <td>Comments:</td>
    <td><%= @presentation_feedback.visual_comment %></td>
    </tr>
  </table>
</p>

<p>
  <b>Delivery</b>
  <table>
    <tr>
    <td>Grade:</td>
    <td><%= PresentationFeedback::GRADE[@presentation_feedback.delivery] %></td>
    </tr>
    <tr>
    <td>Comments:</td>
    <td><%= @presentation_feedback.delivery_comment %></td>
    </tr>
  </table>
</p>


<p>
  <b>General comment:</b><br />
  <%= @presentation_feedback.general_comment %>
</p>


<%= link_to 'Edit', edit_presentation_feedback_path(@presentation_feedback) %> |
<%= link_to 'Back', presentation_index_for_feedback_path %>
