<% content_for :tablesorter do %>
  <%= javascript_include_tag 'tablesorter' %>
  <%= javascript_include_tag 'tablesorter_filter' %>
<script type="text/javascript">
$(document).ready(function()
    {
       if ($("#filterBoxOne").prop("disabled") == true)
       {
         $('#filterBoxOne').val('');
         $('#filterBoxOne').removeAttr("disabled");
         $('#filterBoxOne').focus();
        }
        
        $("#effort_table").tablesorter({widgets: ['zebra'],
                                        headers: {6: {sorter: false}  },
                                        sortList: [[0,0], [1,0]]})
            .tablesorterFilter({ filterContainer: $("#filterBoxOne"),
                filterClearContainer: $("#filterClearOne"),
                filterColumns: [0, 1, 2, 3],
                filterCaseSensitive: false
            });


        //hovering over a line selects it
        $("tr").hover(
            function () {
              $(this).addClass("hover");
            },
            function () {
              $(this).removeClass("hover");
        });
      }
);
</script>
<% end %>



<h1>Efforts for <%= monthname(@month) %> <%= @year %></h1>
<%= form_tag(sponsored_project_efforts_path, :method => "get") do %>
<%= select_month @month %>
<%= text_field_tag('year', @year, :size=> '4', :maxlength => '4') %>
<%= submit_tag 'Go' %>
<% end %>
<div class="right_link" ><%= link_to 'Allocations', sponsored_project_allocations_url %><br/>
  <%= link_to "Projects", sponsored_projects_url %></div>
<div style="float:none"><%= render :partial => "/people/tablesorter_filter_box" %></div>
<br/>
<table id="effort_table" class="tablesorter" cellpadding="3">
  <thead>
<tr>
  <th>Person</th>
  <th>Sponsor</th>
  <th>Project</th>
  <th>Current Allocation</th>
  <th>Actual Allocation</th>
  <th>Confirmed</th>
</tr>
</thead>
<tbody>
<% @efforts.each do |effort| %>
    <tr class="tablesorter">
      <td><%= effort.sponsored_project_allocation.person.human_name %></td>
      <td><%= effort.sponsored_project_allocation.sponsored_project.sponsor.name %></td>
      <td><%= effort.sponsored_project_allocation.sponsored_project.name %></td>
      <td><%= effort.current_allocation %> % <%= link_to 'Edit', edit_sponsored_project_allocation_path(effort.sponsored_project_allocation) %>
      </td>
      <td><%= effort.actual_allocation %> % <%= link_to 'Edit', edit_sponsored_project_effort_path(effort.sponsored_project_allocation.person.twiki_name) %>
      </td>
      <td><%= effort.confirmed %></td>
    </tr>
<% end %>
</tbody>
</table>

<br/>
<br/>