<%= form_for(@sponsor) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <table>
    <tr><td><%= f.label :name %></td><td><%= f.text_field :name %></td></tr>
  </table>

  <br />
  <%= f.submit button_name %>
  <br/>
  <br/>
<% end %>

