<% content_for :javascript do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#course_configure_course_twiki').change(function () {
                if ($(this).is(':checked')) {
                    $('#course_curriculum_url').val("<%= @course.auto_generated_twiki_url %>");
                    $('#course_curriculum_url_notice').text("Because you want a twiki course web, we assume you want your students to start there in accessing your materials. If you don't agree, feel free to alter this default value.");
                }
                else {
                    $('#course_curriculum_url_notice').text("");
                }
            });

            $('#course_configure_peer_evaluation').change(function () {
                if ($(this).is(':checked')) {
                    $('#course_peer_evaluation_first_email').val("<%= @course.auto_generated_peer_evaluation_date_start.to_s %>");
                    $('#course_peer_evaluation_second_email').val("<%= @course.auto_generated_peer_evaluation_date_end.to_s %>")
                }
            });

            $( "#tabs" ).tabs();
        });
    </script>

<% end %>

<div class="rounded staff">
  <%= image_tag("/images/professor.jpg", :size => "50x50", :border => "0", :alt => "Only faculty can see this information", :title => "Faculty Role") %>
  <span class="instructions">Only faculty can see this information.</span>


  <% unless @course.configured_by_user_id.blank? %>
      <p>This information was configured last by <%= @course.configured_by.human_name %></p>
  <% end %>

  <div id="tabs">
    <ul>
      <li><a href="#tabs-course-home">Course Home</a></li>
      <li><a href="#tabs-grading-criteria">Grading Criteria</a></li>
      <li><a href="#tabs-assignment">Assignments</a></li>
    </ul>

    <div id="tabs-course-home" class="tab-element">
      <%= render :partial => "courses/form_preferences", :locals => {:button_name => button_name} %>
    </div>

    <div id="tabs-grading-criteria" class="tab-element">
      <%= render "courses/form_grading_criteria" %>
    </div>

    <div id="tabs-assignment" class="tab-element">
      <div id="add_deliverable">
        <%= link_to "Add Deliverable", "#" %>
      </div>
      <% if !@course.assignments.count %>
        <table id="assignment_page">
          <thead>
            <tr>
              <th>Task</th>
              <th>Task Title</th>
              <th><%= @course.grading_criteria %></th>
              <th>Due Date</th>
              <th>Actions</th>
              <th>Team/ Individual</th>
              <th>Can student submit?</th>
            </tr>
          </thead>
          <tbody>
            <% @course.assignments.each do |assignment| %>
              <tr>
                <td><%= assignment.task_number %></td>
                <td><%= assignment.title %></td>
                <td><%= assignment.weight %></td>
                <td><%= assignment.due_date %></td>
                <td><%= "Actions" %></td>
                <td><%= assignment.team_deliverable ? "Team" : "Individual"%></td>
                <td><%= assignment.can_submit ? "Yes" : "No" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <div id="add_new_deliverable">
        <%= render 'assignments/form_create' %>
      </div>
    </div>
  </div>
</div>

