<%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
            <% @course.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :number %><br/>
      <%= f.text_field :number, :size => "7" %>
    </p>
    <p>
      <%= f.label :short_name, "Abbreviation" %><br/>
      <%= f.text_field :short_name, :size => "7" %>
    </p>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name, :size => "60" %>
    </p>
    <p>
      <%= f.label :semester %><br/>
      <%= f.select(:semester, ['Fall', 'Spring', 'Summer']) %>
    </p>
    <p>
      <%= f.label :mini %><br/>
      <%= f.select(:mini, ['Both', 'A', 'B']) %>
    </p>
    <p>
      <%= f.label :year %><br/>
      <%= f.text_field :year, :size => 4 %>
    </p>

    <div id="people_in_a_collection">
      <p>Instructors for this course<br/>
        <span class="help_text">(Eventually) they will be notified to configure their course</span>
      </p>
      <% if @course.faculty_assignments_override.nil? %>
          <%= render :partial => '/people/person_in_a_collection', :collection => @course.faculty.map(&:human_name), :as => :person, :locals => {:collection_form => f, :member_label => "Teacher"} %>
      <% else %>
          <%= render :partial => '/people/person_in_a_collection', :collection => @course.faculty_assignments_override, :as => :person, :locals => {:collection_form => f, :member_label => "Teacher"} %>
      <% end %>
    </div>

    <div class="formItem indented"><p><%= link_to "Add a teacher", "#", :id => "add_person" %></p></div>

<%# content_for :javascript do %>
    <%# javascript_tag do %>
    <script type="text/javascript">
        $(function () {
            $("#add_person").click(function () {
                $("#people_in_a_collection").append("<%= escape_javascript(render(:partial => '/people/person_in_a_collection', :object => Person.new, :locals => { :member_label => "Teacher"} )) %>");
            });

        });
    </script>
    <%# end %>
<%# end %>




    <p>
      <%= f.submit button_name %>
    </p>
<% end %>
