<div>
  <b style="font-size:11px;">SEMESTER:</b>
  <%= l AcademicCalendar.date_for_semester_start(@semester, @year), :format => :month_day %>
  - <%= l AcademicCalendar.date_for_semester_end(@semester, @year), :format => :month_day %>
  (<%= AcademicCalendar.term_length(@semester, "Both") %> weeks)
  &nbsp;
  <% if state == "semester" %>
      <a href="#" id="course_tools_view" data-view-state="semester">Show courses by minis</a>
  <% else %>
      <a href="#" id="course_tools_view" data-view-state="length">Show course listing</a>
  <% end %>
</div>

<div id="courses_by_length">
  <br/><br/>

  <div class="right_link"><%# link_to image_tag("/images/curriculum_website.png", :class => "icon", :size=>"108x75", :alt=>"Curriculum website", :title=>"Curriculum website"), "url" %></div>
  <div id="semester_length_courses" style="<%= style %>">
    <table id="semester_length_courses_table" class="cmu_table">
      <tbody>
      <% for course in @semester_length_courses %>
          <tr class="tablesorter">
            <% if course.curriculum_url.blank? %>
                <td><%= course.name %></td>
            <% else %>
                <td><%= link_to course.name, course.curriculum_url %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br/>
  </div>
  <div id="mini_length_courses">
    <div id="mini_b_courses">
      <b style="font-size:11px;">MINI B:</b>
      <%= l AcademicCalendar.date_for_mini_start(@semester, "B", @year), :format => :month_day %>
      - <%= l AcademicCalendar.date_for_mini_end(@semester, "B", @year), :format => :month_day %>
      (<%= AcademicCalendar.term_length(@semester, "B") %> weeks)
      <table id="mini_b_courses_table" class="cmu_table" style="<%= style %>">
        <tbody>
        <% for course in @mini_b_courses %>
            <tr class="tablesorter">
              <% if course.curriculum_url.blank? %>
                  <td><%= course.name %></td>
              <% else %>
                  <td><%= link_to course.name, course.curriculum_url %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div id="mini_a_courses">
      <b style="font-size:11px;">MINI A:</b>
      <%= l AcademicCalendar.date_for_mini_start(@semester, "A", @year), :format => :month_day %>
      - <%= l AcademicCalendar.date_for_mini_end(@semester, "A", @year), :format => :month_day %>
      (<%= AcademicCalendar.term_length(@semester, "A") %> weeks)
      <table id="mini_a_courses_table" class="cmu_table" style="<%= style %>">
        <tbody>
        <% for course in @mini_a_courses %>
            <tr class="tablesorter">
              <% if course.curriculum_url.blank? %>
                  <td><%= course.name %></td>
              <% else %>
                  <td><%= link_to course.name, course.curriculum_url %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>

</div>
