<div id="courses_for_a_semester" style="<%= style %>">
  <%= render :partial => "/people/tablesorter_filter_box" %>
  <table id="courses_table" class="tablesorter2">
    <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th class="all_courses">Semester</th>
      <th>Mini</th>
      <th class="all_courses">Year</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% for course in @courses %>
        <tr class="tablesorter">
          <td><%= course.number %></td>
          <% if course.curriculum_url.blank? %>
              <td><%= course.display_name %></td>
          <% else %>
              <td><%= link_to course.display_name, course_path(course) %></td>
          <% end %>
          <td class="all_courses"><%= h course.semester %></td>
          <td><%= course.mini %></td>
          <td class="all_courses"><%= h course.year %></td>
          <td><%= link_to 'Course Tools', course_path(course) %></td>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>