<div class="rounded student">
  <fieldset>
    <legend>Course tools</legend>

    <table cellpadding="2" cellspacing="2" border=1 style="border-width: 1px;" class="layout_table">
      <tr class="course_tools">
        <td>
          <%= link_to image_tag("/images/curriculum_website.png", :class => "icon", :size => "108x75", :alt => "Curriculum website", :title => "Curriculum website"), course.curriculum_url %>
          <br/>

          <p><%= link_to "Course website", course.curriculum_url %> </p>

        </td>
        <td valign="bottom">
          <%= link_to image_tag("/images/teams_webpage.png", :class => "icon", :width => "75", :height => "75", :alt => "My Teams", :title => "My Teams"), "/courses/#{course.id}/teams_photos" %>
          <br/>

          <p><a href="/courses/<%= course.id %>/teams_photos">Teams</a></p>
        </td>
        <td valign="bottom">
          <%= link_to image_tag("/images/teams_webpage.png", :class => "icon", :width => "75", :height => "75", :alt => "Photo Roster", :title => "Photo Roster"), "/people?course_id=#{course.id}&photobook=true" %>
          <br/>

          <p><a href="/people?course_id=<%= course.id %>&photobook=true">Photo Roster</a></p>
        </td>
        <td>
          <%= link_to image_tag("/images/presentations.png", :class => "icon", :size => "90x75", :alt => "Presentations", :title => "Presentations"), course_presentations_path(@course) %>
          <br/>

          <p><%= link_to "Presentations", course_presentations_path(@course) %> </p>
        </td>
        <% if can? :see_student_grades, @course %>
        <td>
          <%= link_to image_tag("/images/gradebook_icon.png", :class => "icon", :size => "108x75", :alt => "#{nomenclature_assignment_or_deliverable}s and grades", :title => "Grade Book"), course_student_grades_path(course) %>
          <p><%= link_to "#{nomenclature_assignment_or_deliverable}s and Grade", course_student_grades_path(@course) %> </p>
        </td>
        <% end %>
      </tr>
    </table>
  </fieldset>
</div>

<% if can? :teach, @course %>
    <div class="rounded staff">
      <%= image_tag("/images/professor.jpg", :size => "50x50", :border => "0", :alt => "Only faculty and course instructors can see this information", :title => "Faculty Role") %>
      <span class="instructions">Only faculty and course instructors can see this information.</span>
      <fieldset>
        <legend>Faculty tools</legend>
        <table cellpadding="2" cellspacing="2" border=1 style="border-width: 1px;" class="layout_table">
          <tr class="course_tools">
            <td>
              <%= link_to image_tag("/images/deliverables.png", :class => "icon", :size => "75x75", :alt => "Grading Deliverables", :title => "Grading Deliverables"), course_deliverables_path(course) %>
              <br/>

              <p><%= link_to "Grading #{nomenclature_assignment_or_deliverable}s", course_deliverables_path(course) %></p>
            </td>
            <td>
              <%= link_to image_tag("/images/gradebook_icon.png", :class => "icon", :size => "108x75", :alt => "Curriculum website", :title => "Grade Book"), course_grades_path(course) %>
              <p><%= link_to "Grade Book", course_grades_path(@course) %> </p>
            </td>
            <td>
              <%= link_to image_tag("/images/peer_evaluation2.jpg", :class => "icon", :size => "90x70", :alt => "Peer evaluation", :title => "Peer evaluation"), peer_evaluations_path(course) %>
              <br/>

              <p><%= link_to 'Peer evaluations', peer_evaluations_path(course) %></p>
            </td>
          </tr>
        </table>
      </fieldset>
      <fieldset>
        <legend>Initial Course Configuration</legend>
        <table cellpadding="2" cellspacing="2" border=1 style="border-width: 1px;" class="layout_table">
          <tr class="course_tools">
            <td width=140>
              <%= link_to image_tag("/images/cmu_seal.jpg", :class => "icon", :size => "75x75", :alt => "Configure course", :title => "Configure course"), configure_course_path(course) %>
              <br/>

              <p><%= link_to 'Configure course', configure_course_path(course) %></p>
            </td>
            <td>
              <%= link_to image_tag("/images/assignment_icon.jpeg", :class => "icon", :size => "108x75", :alt => "Curriculum website", :title => "Manage #{@course.nomenclature_assignment_or_deliverable.capitalize}s"), course_assignments_path(course) %>
              <p><%= link_to "Manage #{nomenclature_assignment_or_deliverable}s", course_assignments_path(@course) %> </p>
            </td>
            <td>
              <%= link_to image_tag("/images/cmu_seal.jpg", :class => "icon", :size => "75x75", :alt => "Team formation", :title => "Team formation"), team_formation_tool_path(course) %>
              <br/>

              <p><%= link_to 'Team Formation', team_formation_tool_path(course) %></p>
            </td>
            <td>
              <%= link_to image_tag("/images/curriculum_navigation.png", :class => "icon", :size => "75x75", :alt => "Edit curriculum pages", :title => "Edit curriculum pages"), course_navigation_path(Course.first_offering_for_course_name(course.name)) %>
              <br/>

              <p><%= link_to "Curriculum Navigation", course_navigation_path(Course.first_offering_for_course_name(course.name)) %></p>
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
<% end %>
