<div class="rounded student">
  <fieldset>
    <legend>Course tools</legend>
    <p><%= link_to "Course website", course.curriculum_url %> </p>
    <p><a href="/courses/<%= course.id %>/teams_photos">Teams</a></p>
    <p><a href="/people?course_id=<%= course.id %>&photobook=true">Photo Roster</a></p>
    <p><%= link_to "Presentations", course_presentations_path(@course) %> </p>
    <% if can? :see_student_grades, @course %>
       <p><%= link_to "#{nomenclature_assignment_or_deliverable}s and Grade", course_student_grades_path(@course) %> </p>
    <% end %>
  </fieldset>
</div>
<% if can? :teach, @course %>
    <div class="rounded staff">
      <%= image_tag("/images/professor.jpg", :size => "50x50", :border => "0", :alt => "Only faculty and course instructors can see this information", :title => "Faculty Role") %>
      <span class="instructions">Only faculty and course instructors can see this information.</span>
      <fieldset>
        <legend>Faculty tools</legend>
        <p><%= link_to "Grading #{nomenclature_assignment_or_deliverable}s", course_deliverables_path(course) %></p>
        <p><%= link_to "Grade Book", course_grades_path(@course) %> </p>
        <p><%= link_to 'Peer evaluations', peer_evaluations_path(course) %></p>
      </fieldset>
      <fieldset>
        <legend>Initial Course Configuration</legend>
        <p><%= link_to 'Configure course', configure_course_path(course) %></p>
        <p><%= link_to "Manage #{nomenclature_assignment_or_deliverable}s", course_assignments_path(@course) %> </p>
        <p><%= link_to 'Team Formation', past_teams_list_path(course) %></p>

        <p><%= link_to "Edit Curriculum Navigation", course_navigation_path(Course.first_offering_for_course_name(course.name)) %></p>
      </fieldset>
    </div>
<% end %>
