<% content_for :title, 'Configure Course - ' + @course.name %>
<h1>Configure your course, <%= @course.name %> (<%=h @course.display_semester %>)</h1>

<%= render :partial => "form_configure", :locals => { :button_name => "Update" } %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
