<h1>Gradebook: <%= @course.name %></h1>

<table class="cmu_table inner_border">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <% @course.assignments.each do |assignment| %>
        <th><%= assignment.formatted_title %><br/>(Max: <%= assignment.weight %>)</th>
      <% end %>
      <th>Earned Total</th>
      <th>Final Score</th>
      <th>Earned Letter Grade</th>
      <th>Final Letter Grade</th>
    </tr>
  </thead>
  <tbody>
    <% @course.teams.each do |team| %>
      <% team.members.each do |member| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= member.human_name %></td>
          <% total_score = 0 %>
          <% @course.assignments.each do |assignment| %>
            <td>
              <% if assignment.can_submit? %>
                <% deliverable_grade = assignment.find_deliverable_grade(member) %>
                <% if deliverable_grade.blank? %>
                  Unsubmitted
                <% else %>
                  <% total_score += deliverable_grade.grade %>
                  <% link_text = (deliverable_grade.deliverable.status == 'Graded') ? deliverable_grade.grade : "#{deliverable_grade.grade} (#{deliverable_grade.deliverable.status})"%>
                  <%= link_to link_text, deliverable_feedback_path(deliverable_grade.deliverable) %>
                <% end %>
               <% else %>

              <% end %>
            </td>
          <% end %>
          <td><%= total_score %></td>
          <td><%= total_score %></td>
          <td><%= @course.number_to_letter_grade(total_score) %></td>
          <td><%= @course.number_to_letter_grade(total_score) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>