<h1>Gradebook: <%= @course.name %></h1>

<%= link_to "Back", course_path(@course) %> |
<%= link_to "Grading Deliverables", professor_deliverables_path(current_user) %> |
<%= link_to "Assignments", course_assignments_path(@course) %>
<table class="cmu_table inner_border">
  <thead>
    <tr>
      <th>Team</th>
      <th>Student</th>
      <% @course.assignments.each do |assignment| %>
        <th><%= assignment.formatted_title %><br/>(Max: <%= assignment.weight %>)</th>
      <% end %>
      <th>EarnedTotal<br/>(Max: <%= @course.total_assignment_weight %>)</th>
      <th>Earned<br/>Letter Grade</th>
      <th>Final<br/>Letter Grade</th>
    </tr>
  </thead>
  <tbody>
    <% @course.teams.each do |team| %>
      <% team.members.each do |member| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= member.human_name %></td>
          <% total_score = 0 %>
          <% @course.assignments.each do |assignment| %>
            <td>
              <% deliverable_grade = assignment.find_deliverable_grade(member) %>
              <% if assignment.can_submit? && deliverable_grade.blank? %>
                Unsubmitted
              <% else %>
                <% total_score += deliverable_grade.grade if !deliverable_grade.blank? %>
                <%
                   if deliverable_grade.blank?
                     link_text = "0 (Ungraded)"
                   else
                    link_text = (deliverable_grade.deliverable.status == 'Graded') ? deliverable_grade.grade : "#{deliverable_grade.grade} (#{deliverable_grade.deliverable.status})"
                   end
                %>
                <% deliverable = deliverable_grade.blank? ? assignment.deliverables.first : deliverable_grade.deliverable %>
                <%= link_to link_text, deliverable_feedback_path(deliverable) %>
              <% end %>
            </td>
          <% end %>
          <td><%= total_score %></td>
          <td id="earned_<%= member.id %>"><%= @course.number_to_letter_grade(total_score) %></td>
          <td>
            <% user_grade = @course.course_user_grades.select {|course_grade| course_grade.user_id == member.id}.first %>
            <%= form_for(:course_user_grade, url: course_user_grades_path, remote: true) do |f| %>
              <% if !user_grade.blank? %>
                <%= f.hidden_field :id, value: user_grade.id %>
              <% end %>
              <%= f.hidden_field :user_id, value: member.id %>
              <%= f.hidden_field :course_id, value: @course.id %>
              <%= f.select :grade, @course.grading_ranges.map {|range| range.grade}, {:selected => user_grade.blank? ? @course.number_to_letter_grade(total_score) : user_grade.grade}, {:class => 'grade_select'} %>
              <%= f.submit hidden: true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
  function decorateEarnedGrade(userId, finalGrade) {
    var earned_grade = $('#earned_' + userId).html();
    if (earned_grade != finalGrade) {
      $('#earned_' + userId).css({textDecoration: 'line-through'});
    } else {
      $('#earned_' + userId).css({textDecoration: 'none'});
    }
  }

  $(function() {
    $('.grade_select').change(function() {
      $(this).closest('form').submit();
    });

    $('.grade_select').each(function() {
      var finalGrade = $(this).val();
      var userId = $(this).closest('td').prev('td').attr('id').split('_')[1];
      decorateEarnedGrade(userId, finalGrade);
    });
  });
</script>