  <% content_for :title, "Gradebook" %>

<h1>Gradebook: <%= @course.name %></h1>

<% form_for(:import_spreadsheet, url: course_import_gradebook_path(@course), html: {multipart: true}) do |f| %>
  <%= link_to "Back", course_path(@course) %> |
  <%= link_to "Grading Deliverables", professor_deliverables_path(current_user) %> |
  <%= link_to @course.nomenclature_title, course_assignments_path(@course) %> |
  <%= link_to "Export as xls", course_export_gradebook_path(@course) %> |
  <%= link_to "Import xls", "", {id: "import-xls"} %>
  <%= f.file_field :import_spreadsheet, hidden: true %>
<% end %>

<table class="cmu_table inner_border tablesorter">
  <thead>
    <tr>
      <th>Team</th>
      <th>Student</th>
      <% @course.assignments.each do |assignment| %>
        <th><%= assignment.formatted_title %><br/>(<%= @course.grading_criteria == "Percentage" ? "#{assignment.weight}%" : "Max: #{assignment.weight}" %>)</th>
      <% end %>
      <th>Earned<br/>Total <br/><%= @course.grading_criteria == "Percentage" ? "" : "(Max: #{@course.total_assignment_weight})"%></th>
      <th>Earned<br/>Letter Grade</th>
      <th>Final<br/>Letter Grade</th>
      <th>Final Grade Notification<br/>
        <%= form_for(:course_user_grade, url: course_user_grade_notify_final_grade_all_path, remote: true) do |f| %>
          <%= f.hidden_field :course_id, value: @course.id %>
          <%= f.submit "Notify All Students", id: "notify-all-button" %>
        <% end %>
        <%= image_tag 'ajax-loader-small.gif', class: "notify-loader", id: "notify-loader-all" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @course.gradebook_values.each do |gradebook_value| %>
      <tr>
        <% team = gradebook_value[:team] %>
        <% student = gradebook_value[:student] %>
        <% deliverable_grades = gradebook_value[:deliverable_grades] %>

        <td><%= team.blank? ? "N/A" : team.name %></td>
        <td><%= student.human_name %></td>

        <% @course.assignments.each do |assignment| %>
          <% deliverable_grade = deliverable_grades[assignment.id] %>
          <% if assignment.can_submit? %>
            <% if deliverable_grade.blank? %>
              <td><%= link_to "Not Submitted", assignment_deliverable_create_path(assignment, student) %></td>
            <% else %>
              <td><%= link_to deliverable_grade.link_text, deliverable_feedback_path(deliverable_grade.deliverable) %></td>
            <% end %>
          <% else %>
            <% if deliverable_grade.blank? %>
              <td><%= link_to "Grade", assignment_deliverable_create_path(assignment, student) %></td>
            <% else %>
              <td><%= link_to deliverable_grade.grade, deliverable_feedback_path(deliverable_grade.deliverable) %></td>
            <% end %>
          <% end %>
        <% end %>

        <% final_letter_grade = gradebook_value[:final_letter_grade] %>
        <% earned_letter_grade = gradebook_value[:earned_letter_grade] %>

        <td><%= gradebook_value[:earned_number_grade] %></td>
        <td id="earned_<%= student.id %>"><%= earned_letter_grade %></td>
        <td>
          <%= render partial: "course_user_grades/select_final_grade_form", locals: {course: @course, user: student, user_grade: final_letter_grade, earned_letter_grade: earned_letter_grade }%>
          <%= image_tag 'ajax-loader-small.gif', class: "grade-loader", id: "grade-loader-#{student.id}" %>
        </td>

        <td id="notify_<%= student.id %>">
          <% if (!final_letter_grade.blank? && !final_letter_grade.notified_at.blank?) %>
            Notified
          <% else %>
            <%= render partial: 'course_user_grades/notify_final_grade_form', locals: {course: @course, member: student} %>
            <%= image_tag 'ajax-loader-small.gif', class: "notify-loader", id: "notify-loader-#{student.id}" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  function decorateEarnedGrade(userId, finalGrade) {
    var earned_grade = $('#earned_' + userId).html();
    if (earned_grade != finalGrade) {
      $('#earned_' + userId).css({textDecoration: 'line-through'});
    } else {
      $('#earned_' + userId).css({textDecoration: 'none'});
    }
  }

  $(function() {
    $('.tablesorter').tablesorter({
      headers: {
        <% assignment_index = 1; @course.assignments.each do |assignment| %>
          <%= assignment_index += 1 %>: { sorter: false },
        <% end %>
        <%= assignment_index += 2 %>: { sorter: false },
        <%= assignment_index += 1 %>: { sorter: false },
        <%= assignment_index += 1 %>: { sorter: false },
      }
    });

    $('.grade_select').change(function() {
      $(this).closest('form').submit();
      $(this).closest('form').next('.grade-loader').show();
    });

    $('.notify-button, #notify-all-button').click(function() {
      $(this).closest('form').next('.notify-loader').show();
    });

    $('.grade_select').each(function() {
      var finalGrade = $(this).val();
      var userId = $(this).closest('td').prev('td').attr('id').split('_')[1];
      decorateEarnedGrade(userId, finalGrade);
    });

    $('#import_spreadsheet_import_spreadsheet').val('');

    $('#import_spreadsheet_import_spreadsheet').change(function() {
      if (confirm('Are you sure?')) {
        $(this).closest('form').submit();
      } else {
        $('#import_spreadsheet_import_spreadsheet').val();
      }
    });

    $('#import-xls').click(function() {
      $('#import_spreadsheet_import_spreadsheet').click();
    });

    $('.grade-loader').hide();
    $('.notify-loader').hide();
  });
</script>