<% content_for :title, 'New Course' %>
<h1>New course</h1>

<% form_for(@course) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :short_name, "Abbreviation" %><br />
      <%= f.text_field :short_name %>
    </p>
    <p>
      <%= f.label :name%><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :number %><br />
      <%= f.text_field :number %>
    </p>
  <p>
    <%= f.label :semester %><br />
    <%= f.select(:semester, ['Fall', 'Spring', 'Summer'], :include_blank => true) %>
  </p>
  <p>
    <%= f.label :mini %><br />
    <%= f.select(:mini, ['Both', 'A', 'B'], :include_blank => true) %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year, :size => 4 %>
  </p>
  <p>
    <%= f.label :primary_faculty_label %><br />
    <%= f.text_field(:primary_faculty_label, :size => 40)%>
  </p>
  <p>
    <%= f.label :secondary_faculty_label %><br />
    <%= f.text_field(:secondary_faculty_label, :size => 40)%>
  </p>
  <p>
    <%= f.label :remind_about_effort, "Send out emails about effort logs and effort reports?" %><br />
    <%= f.check_box(:remind_about_effort)%>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', courses_path %>

