<% content_for :title, @course.name %>

<h1><%= link_to @course.display_for_course_page, course_path(@course), :class => "course" %></h1>
<div align="right" valign="top" style="position:absolute;top:280px;left:890px;font-size:11px;">
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', :back %>
</div>

<% if @whiteboard_curriculum_page %>
<%= render :partial => "pages/left_nav", :locals => {:current_semester_course => @course, :page => @whiteboard_curriculum_page} %>
<% end %>

<table border="1" cellspacing="0" cellpadding="0" style="border-width: 1px;" class="cmu_table ">
  <tr class="cmu_table_odd">
    <td>Semester:</td>
    <td><%= @course.display_semester %></td>
  </tr>
  <tr class="cmu_table_even">
    <td>Instructors:</td>
    <td>
      <% @course.faculty.each do |faculty| %>
          <p><%= link_to faculty.human_name, user_path(faculty) %></p>
      <% end %>
    </td>
  </tr>
  <tr class="cmu_table_odd">
    <td>Email:</td>
    <td>
      <%= @course.email %>
      <% if @course.updating_email %> (...updating...)
      <% else %>
          <%= link_to '(Who is on it?) ', mailing_list_path(@course.email) %>
      <% end %>
    </td>
  </tr>
</table>
<br/>

<div align="right"><a href="#" id="course_tools_view" data-view-state="<%= current_user.course_tools_view %>">&nbsp;</a></div>
<div id="course_tools">
  <div class="rounded student">
  <fieldset>
    <legend>Course tools</legend>
    
    <div class="item-wrapper">
      <div class="item-icon"><%= link_to image_tag("curriculum_website.png", :size => "108x75", :alt => "Curriculum website", :title => "Curriculum website"), @course.curriculum_url %>
          </div>
      <div class="item-link"><%= link_to "Course website", @course.curriculum_url %> </div>
    </div>

    <div class="item-wrapper">
      <div class="item-icon"><%= link_to image_tag("teams_webpage.png", :width => "75", :height => "75", :alt => "My Teams", :title => "My Teams"), "/courses/#{@course.id}/teams_photos" %></div>
      <div class="item-link"><a href="/courses/<%= @course.id %>/teams_photos">Teams</a></div>
    </div>
    <div class="item-wrapper">
      <div class="item-icon"><%= link_to image_tag("teams_webpage.png", :width => "75", :height => "75", :alt => "Photo Roster", :title => "Photo Roster"), "/people?course_id=#{@course.id}&photobook=true" %></div>
      <div class="item-link"><a href="/people?course_id=<%= @course.id %>&photobook=true">Photo Roster</a></div>
    </div>
    <div class="item-wrapper">
      <div class="item-icon"><%= link_to image_tag("presentations.png", :size => "90x75", :alt => "Presentations", :title => "Presentations"), course_presentations_path(@course) %></div>
      <div class="item-link"><%= link_to "Presentations", course_presentations_path(@course) %></div>
    </div>
    <% if can? :see_student_grades, @course %>
    <div class="item-wrapper">
      <div class="item-icon"><%= link_to image_tag("gradebook_icon.png", :size => "108x75", :alt => "#{nomenclature_assignment_or_deliverable}s and grades", :title => "Grade Book"), course_student_grades_path(@course) %></div>
      <div class="item-link"><%= link_to "#{nomenclature_assignment_or_deliverable}s and Grade", course_student_grades_path(@course) %></div>
    </div>
    <% end %>
  </fieldset>
  </div>
  <% if can? :teach, @course %>
  <div class="rounded staff">
    <%= image_tag("professor.jpg", :size => "50x50", :border => "0", :alt => "Only faculty and course instructors can see this information", :title => "Faculty Role") %>
    <span class="instructions">Only faculty and course instructors can see this information.</span>
    
    <fieldset>
      <legend>Faculty tools</legend>
      <div class="item-wrapper">
        <div class="item-icon"><%= link_to image_tag("deliverables.png", :size => "75x75", :alt => "Grading Deliverables", :title => "Grading Deliverables"), course_deliverables_path(@course) %></div>
        <div class="item-link"><%= link_to "Grading #{nomenclature_assignment_or_deliverable}s", course_deliverables_path(@course) %></div>
      </div>
      <div class="item-wrapper">
        <div class="item-icon"><%= link_to image_tag("gradebook_icon.png", :size => "108x75", :alt => "Curriculum website", :title => "Grade Book"), course_grades_path(@course) %></div>
        <div class="item-link"><%= link_to "Grade Book", course_grades_path(@course) %></div>
      </div>
      <div class="item-wrapper">
        <div class="item-icon"><%= link_to image_tag("peer_evaluation2.jpg", :size => "90x70", :alt => "Peer evaluation", :title => "Peer evaluation"), peer_evaluations_path(@course) %></div>
        <div class="item-link"><%= link_to 'Peer evaluations', peer_evaluations_path(@course) %></div>
      </div>
    </fieldset>
    

    <fieldset>
      <legend>Initial Course Configuration</legend>
      <div class="item-wrapper">
        <div class="item-icon"><%= link_to image_tag("cmu_seal.jpg", :size => "75x75", :alt => "Configure course", :title => "Configure course"), configure_course_path(@course) %></div>
        <div class="item-link"><%= link_to 'Configure course', configure_course_path(@course) %></div>
      </div>
      <div class="item-wrapper">
        <div class="item-icon"><%= link_to image_tag("assignment_icon.jpeg", :size => "108x75", :alt => "Curriculum website", :title => "Manage #{@course.nomenclature_assignment_or_deliverable.capitalize}s"), course_assignments_path(@course) %></div>
        <div class="item-link"><%= link_to "Manage #{nomenclature_assignment_or_deliverable}s", course_assignments_path(@course) %></div>
      </div>
      <div class="item-wrapper">
        <div class="item-icon"><%= link_to image_tag("cmu_seal.jpg", :size => "75x75", :alt => "Team formation", :title => "Team formation"), team_formation_tool_path(@course) %></div>
        <div class="item-link"><%= link_to 'Team Formation', past_teams_list_path(@course) %></div>
      </div>
      <div class="item-wrapper">
        <div class="item-icon"><%= link_to image_tag("curriculum_navigation.png", :size => "75x75", :alt => "Edit curriculum pages", :title => "Edit curriculum pages"), course_navigation_path(Course.first_offering_for_course_name(@course.name)) %></div>
        <div class="item-link"><%= link_to "Curriculum Navigation", course_navigation_path(Course.first_offering_for_course_name(@course.name)) %></div>
      </div>
    </fieldset>
  </div>
  <% end %>
</div>

<script>
    $(document).ready(function () {
        var $course_tools_view = $('#course_tools_view');

        set_course_tools_view($course_tools_view, $course_tools_view.attr('data-view-state'));
        $course_tools_view.click( function() {
            old_state = $(this).attr('data-view-state');
            if(old_state == "links"){
              new_state = "icons";
            } 
            else {
              new_state = "links";
            }
            set_course_tools_view ($course_tools_view, new_state)
            $.ajax({
                type:'post',
                data:"model=User&id=<%=current_user.id%>&attribute=course_tools_view&value=" + new_state,
                dataType:'script',
                url:'/generic_ajax/update_model_with_value'});
        });
    });

    function set_course_tools_view ($ctv_obj, state) {
      $ctv_obj.attr('data-view-state', state);
      var $item_wrapper = $(".item-wrapper");
      if (state == "links") {
        $item_wrapper.addClass('links');
        $ctv_obj.html("Show as icons");
      }else{
        $item_wrapper.removeClass('links');
        $ctv_obj.html("Show as links");
      }
    }

</script>

<br style="clear:both;"/>


<% if can? :teach, @course %>
    <div class="rounded staff">
      <%= professor_image %>
      <span class="instructions">Only faculty and course instructors can see this information.</span>

      <h2>Experimental feature</h2>

      <p>Official course registration information is found at FIO (https://acis.as.cmu.edu/grades/). The HUB does not provide us with registration information. Periodically, Gerry can upload HUB registrations so
        that
        we can compare HUB registrations with our student records. This is particularly useful if someone is registered
        for a
        course but hasn't been assigned a team. </p>

      <table class="cmu_table">
        <thead>
        <tr>
          <th>Cached HUB registrations</th>
          <th>Team assignments</th>
        </tr>
        </thead>
        <% @students.sort.each do |name, hash| %>
            <tr class="<%= cycle('cmu_table_odd', 'cmu_table_even') %>">
              <% if hash[:hub] %>
                  <td><%= name %></td>
              <% else %>
                  <td>&nbsp;</td>
              <% end %>
              <% if hash[:team] %>
                  <td><%= name %> on <%= hash[:team_name] %></td>
              <% else %>
                  <td>&nbsp;</td>
              <% end %>
            </tr>
        <% end %>
      </table>
    </div>
<% end %>

<% if current_user && (current_user.is_admin) %>
    <div class="rounded admin">
      <%= admin_image %>
      <span class="instructions">Only admin can see this information.</span>

      <h2>Admin Helpers</h2>

      <div class="item-wrapper">
        <div class="item-icon"><%= link_to image_tag("cmu_seal.jpg", :size => "75x75", :alt => "Tool support", :title => "Tool support"), tool_support_course_path(@course) %></div>
        <div class="item-link"><%= link_to 'Tool support', tool_support_course_path(@course) %></div>
      </div>

    </div>
<% end %>

<% if current_user && current_user.is_admin? %>
    <p><%= link_to 'Destroy', @course, :confirm => 'Are you sure?', :method => :delete %></p>
<% end %>

<br><br>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Configure', configure_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

