<% content_for :title, @course.name %>

<h1><%= @course.display_for_course_page %></h1>
<div align="right" valign="top" style="position:absolute;top:280px;left:890px;font-size:11px;">
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', :back %>
</div>



<table border="1" cellspacing="0" cellpadding="0" style="border-width: 1px;" class="cmu_table ">
  <tr class="cmu_table_odd">
    <td>Semester:</td>
    <td><%= @course.display_semester %></td>
  </tr>
  <tr class="cmu_table_even">
    <td>Instructors:</td>
    <td>
      <% @course.faculty.each do |faculty| %>
          <p><%= link_to faculty.human_name, user_path(faculty) %></p>
      <% end %>
    </td>
  </tr>
  <tr class="cmu_table_odd">
    <td>Email:</td>
    <td>
      <%= @course.email %>
      <% if @course.updating_email %> (...updating...)
      <% else %>
          <%= link_to '(Who is on it?) ', mailing_list_path(@course.email) %>
      <% end %>
    </td>
  </tr>
</table>
<br/>

<% if current_user.course_tools_view == "links" %>
    <div align="right"><a href="#" id="course_tools_view" data-view-state="links">Show as icons</a></div>
    <div id="course_tools_icons" style="display:none;"><%= render :partial => "show_actions_icons", :locals => {:course => @course} %></div>
    <div id="course_tools_links"><%= render :partial => "show_actions_links", :locals => {:course => @course} %></div>
<% else %>
    <%# This is the default option for those who have never hit the link %>
    <div align="right"><a href="#" id="course_tools_view" data-view-state="icons">Show as links</a></div>
    <div id="course_tools_icons"><%= render :partial => "show_actions_icons", :locals => {:course => @course} %></div>
    <div id="course_tools_links" style="display:none;"><%= render :partial => "show_actions_links", :locals => {:course => @course} %></div>

<% end %>

<script>
    $(document).ready(function () {
        $('#course_tools_view').click(function () {
            old_state = $(this).attr('data-view-state');
            if (old_state == "links") {
                new_state = "icons";
                $(this).attr('data-view-state', "icons");
                $('#course_tools_view').html("Show as links");
                $('#course_tools_links').hide();
                $('#course_tools_icons').show();
            }
            else {
                new_state = "links";
                $(this).attr('data-view-state', "links");
                $('#course_tools_view').html("Show as icons");
                $('#course_tools_icons').hide();
                $('#course_tools_links').show();
            }
            $.ajax({
                type:'post',
                data:"model=User&id=<%=current_user.id%>&attribute=course_tools_view&value=" + new_state,
                dataType:'script',
                url:'/generic_ajax/update_model_with_value'});

        });
    });
</script>

<br style="clear:both;"/>


<% if can? :teach, @course %>
    <div class="rounded staff">
      <%= professor_image %>
      <span class="instructions">Only faculty and course instructors can see this information.</span>

      <h2>Experimental feature</h2>

      <p>Official course registration information is found at FIO (https://acis.as.cmu.edu/grades/). The HUB does not provide us with registration information. Periodically, Gerry can upload HUB registrations so
        that
        we can compare HUB registrations with our student records. This is particularly useful if someone is registered
        for a
        course but hasn't been assigned a team. </p>

      <table class="cmu_table">
        <thead>
        <tr>
          <th>Cached HUB registrations</th>
          <th>Team assignments</th>
        </tr>
        </thead>
        <% @students.sort.each do |name, hash| %>
            <tr class="<%= cycle('cmu_table_odd', 'cmu_table_even') %>">
              <% if hash[:hub] %>
                  <td><%= name %></td>
              <% else %>
                  <td>&nbsp;</td>
              <% end %>
              <% if hash[:team] %>
                  <td><%= name %> on <%= hash[:team_name] %></td>
              <% else %>
                  <td>&nbsp;</td>
              <% end %>
            </tr>
        <% end %>
      </table>
    </div>
<% end %>

<% if current_user && (current_user.is_admin) %>
    <div class="rounded admin">
      <%= admin_image %>
      <span class="instructions">Only admin can see this information.</span>

      <h2>Admin Helpers</h2>

      <p><b>Google Distribution Lists</b> Here are all the email addresses for the students assigned to teams.
        <% @emails.each do |name| %>
          <div><%= h name %></div>
      <% end %>
      </p>
      <p><b>Pivotal Tracker accounts</b>
        <% @course.teams.each do |team| %>
            <% project_name = "#{@course.semester}-#{@course.year}-#{@course.short_name}-#{team.name.parameterize}" %>
          <div><%= project_name %></div>
          <% team.members.each do |user| %>
              <% person_entry = "#{user.human_name} (#{user.first_name[0]}#{user.last_name[0]}) <#{user.email}>" %>
              <div><%= person_entry %></div>
          <% end %>
          <% person = team.primary_faculty %>
          <% unless person.nil? %>
              <% person_entry = "#{person.human_name} (#{person.first_name[0]}#{person.last_name[0]}) <#{person.email}>" %>
              <div><%= person_entry %></div>
          <% end %>
          <br/>
      <% end %>

      <p><b>Pivotal Tracker accounts V2</b></p>
      <% @course.teams.each do |team| %>
          <% project_name = "#{@course.semester}-#{@course.year}-#{@course.short_name}-#{team.name.parameterize}" %>
          <div><%= project_name %></div>
          <%= render :partial => "pivotal_new_project", :locals => {:project_name => project_name} %>
          <% team.members.each do |user| %>
              <%= render :partial => "pivotal_add_membership", :locals => {:user => user} %>
          <% end %>
          <% user = team.primary_faculty %>
          <% unless user.nil? %>
              <%= render :partial => "pivotal_add_membership", :locals => {:user => user} %>
          <% end %>
          <br/>
      <% end %>



      <p><b>github</b></p>
      <table>
        <% @course.teams.each do |team| %>
            <% project_name = "#{@course.semester}-#{@course.year}-#{@course.short_name}-#{team.name.parameterize}" %>
            <tr>
              <td colspan=3><%= project_name %></td>
            </tr>
            <% team.members.each do |user| %>
                <% if user.github.blank? %>
                    <% style = "style=font-color=red" %>
                <% end %>
                <tr>
                  <td <%= style %>> <%= user.github %></td>
                  <td><%= user.human_name %></td>
                  <td><%= user.email %></td>
                </tr>
            <% end %>
            <tr>
              <td colspan=3>&nbsp;</td>
            </tr>
        <% end %>
      </table>

    </div>
<% end %>

<% if current_user && current_user.is_admin? %>
    <p><%= link_to 'Destroy', @course, :confirm => 'Are you sure?', :method => :delete %></p>
<% end %>

<br><br>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Configure', configure_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

