<% content_for :title, @course.name %>

<h1><%=h @course.number %> <%=h @course.name %> (<%=h @course.short_name %>)</h1>
<div align="right" valign="top" style="position:absolute;top:280px;left:890px;font-size:11px;" >
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', :back %>
</div>



<table border="1" cellspacing="0" cellpadding="0" style="border-width: 1px;" class="cmu_table ">
  <tr class="cmu_table_odd"><td>Semester:</td><td><%= @course.display_semester %></td></tr>
  <tr class="cmu_table_even"><td>Instructors for this course:</td><td>
    <% @course.faculty.each do |faculty| %>
    <p><%= faculty.human_name %></p>
    <% end %>
    </td></tr>
</table>
<br/>

<%= render :partial => "show_actions" ,:locals => { :course => @course } %>

<p><%= link_to "Course website", @course.curriculum_url %> </p>
<p><a href="/courses/<%=@course.id%>/teams_photos">Teams</a></p>
<p><%= link_to 'Effort Reports', :controller=> "effort_reports", :action=>"show", :id => params[:id], :week => nil, :only_path=>true%></p>


<% if current_user && (current_user.is_staff? || current_user.is_admin?) %>
    <p><%= link_to 'Deliverables', course_deliverables_path(@course) %></p>
    <p><%= link_to 'Team Formation Helper', past_teams_list_path(@course) %></p>
    <p><%= link_to 'Configure course', configure_course_path(@course) %></p>
    <p><%= link_to "Edit Curriculum Website", course_navigation_path(Course.first_offering_for_course_name(@course.name)), :class=>"SecondaryNav_Link" %></p>
    <p><%= link_to 'Peer Evaluations', peer_evaluations_path(@course) %></p>
<% end %>




<br style="clear:both;" />
<% if current_user && (current_user.is_admin) %>
  <div class="rounded admin">
  <%= image_tag("/images/admin.jpg", :size => "50x50", :border=>"0", :alt=>"These fields can be edited by an admin role") %>
<h2>Admin Helpers</h2>
<p><b>Google Distribution Lists</b> Here are all the email addresses for the students assigned to teams.
<% @emails.each do |name|  %>
 <div><%=h name %></div>
<% end %>
</p>
 <p><b>Pivotal Tracker accounts</b>
<% @course.teams.each do |team| %>
   <% project_name = "#{@course.semester}-#{@course.year}-#{@course.short_name}-#{team.name.parameterize}" %>
     <div><%= project_name%></div>
     <% team.people.each do |person| %>
        <% person_entry = "#{person.human_name} (#{person.first_name[0]}#{person.last_name[0]}) <#{person.email}>" %>
        <div><%= person_entry %></div>
     <% end %>
        <% person = team.primary_faculty %>
        <% unless person.nil? %>
        <% person_entry = "#{person.human_name} (#{person.first_name[0]}#{person.last_name[0]}) <#{person.email}>" %>
        <div><%= person_entry %></div>
        <% end %>
        <br/>
<% end %>
  </div>
<% end %>

    <% if current_user && current_user.is_admin? %>
    <p><%= link_to 'Destroy', @course, :confirm => 'Are you sure?', :method => :delete %></p>
    <% end %>

<br><br>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Configure', configure_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
