<% content_for :title, @course.name %>
<p>
  <b>Name:</b>
  <%=h @course.name %>
</p>

<p>
  <b>Number:</b>
  <%=h @course.number %>
</p>

<p>
  <b>Course Template: </b>
  <% if !(@course.course_number.nil?) %>
  <%=h @course.course_number.number %> <%=h @course.course_number.name %>
  <% end %>
</p>

<p>
  <b>Semester:</b>
  <%=h @course.semester %>  <%=h @course.year %>  <%=h @course.mini %>
</p>

<p>
  <b>Primary faculty label:</b>
  <%=h @course.primary_faculty_label %> 
</p>

<p>
  <b>Secondary faculty label:</b>
  <%=h @course.secondary_faculty_label %> 
</p>

  <p>
    <b>Send out emails about effort logs and effort reports?</b>
    <%=h @course.remind_about_effort %>
  </p>



<%= link_to 'Teams for the course', course_teams_path(@course) %><br>
<% if current_user && (current_user.is_staff? || current_user.is_admin?) %>
<%= link_to 'Effort Reports for the course', :controller=> "effort_reports", :action=>"show", :id => params[:id], :week => nil, :only_path=>true%>
<% end %>

<br style="clear:both;" />
<% if logged_in? && (current_user.is_admin) %>
  <div class="rounded admin">
  <%= image_tag("/images/admin.jpg", :size => "50x50", :border=>"0", :alt=>"These fields can be edited by an admin role") %>
<h2>Admin Helpers</h2>
<p><b>Google Distribution Lists</b> Here are all the email addresses for the students assigned to teams.
<% @emails.each do |name|  %>
 <div><%=h name %></div>
<% end %>
</p>
  </div>
<% end %>


<br><br>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
