<p>
  <b>Effort log:</b>
  <%=h @effort_log_line_item.effort_log_id %>
</p>

<p>
  <b>Course:</b>
  <%=h @effort_log_line_item.course_id %>
</p>

<p>
  <b>Task type:</b>
  <%=h @effort_log_line_item.task_type_id %>
</p>

<p>
  <b>Day1:</b>
  <%=h @effort_log_line_item.day1 %>
</p>

<p>
  <b>Day2:</b>
  <%=h @effort_log_line_item.day2 %>
</p>

<p>
  <b>Day3:</b>
  <%=h @effort_log_line_item.day3 %>
</p>

<p>
  <b>Day4:</b>
  <%=h @effort_log_line_item.day4 %>
</p>

<p>
  <b>Day5:</b>
  <%=h @effort_log_line_item.day5 %>
</p>

<p>
  <b>Day6:</b>
  <%=h @effort_log_line_item.day6 %>
</p>

<p>
  <b>Day7:</b>
  <%=h @effort_log_line_item.day7 %>
</p>


<%= link_to 'Edit', edit_effort_log_line_item_path(@effort_log_line_item) %> |
<%= link_to 'Back', effort_log_line_items_path %>
