<% content_for :title, 'Edit Project Type' %>
<h1>Editing project type</h1>

<% form_for(@project_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p>
<%= link_to 'Show', @project_type %> |
<%= link_to 'Back', project_types_path %>
</p>