<h1><%=@course.name %></h1>
<div style='width:100%;overflow:scroll'>


  <div id="result"></div>
  <div class="score">
<table>
<tr>
  <th> Name </th>
  <% @assignments.each do |assignment| %>
    <th><%=assignment.name%></th>
  <%end %>
</tr>


   <input type="hidden" id="course_id" value=<%=@course.id%> />
  <% @grade_books.each do |student, gbooks| %>
     <tr>
        <td><%=student.human_name%></td>
        <% @assignments.each do |assignment|%>
          <td><input id="<%= @course.id %>_<%=assignment.id%>_<%=student.id%>" value='<%= (gbooks.has_key?(assignment.id))?(gbooks[assignment.id].score):""%>' type="text"/>
          </td>
        <% end %>
    </tr>
  <%end%>

  <tr>
    <td> <button type="button" id="gradebook_submit">Submit</button></td>
    <td> <button type="button" id="gradebook_save_draft">Save as Draft</button></td>
  </tr>


</table>
</div>
</div>
