<h1><%=@course.name %></h1>
<div style='width:100%;overflow:scroll'>
<table>
<tr>
  <th> Name </th>
  <% @assignments.each do |assignment| %>
    <th><%=assignment.name%></th>
  <%end %>
</tr>
  <% @grade_books.each do |student, gbooks| %>
     <tr>
        <td><%=student.human_name%></td>
        <% gbooks.each do |assignment_id, gbook| %>
          <td><input id='<%=gbook.id%>' value='<%= gbook.score %>'/></td>
        <% end %>
    </tr>
  <%end%>
</table>
</div>
