

<table><tr><td>Comment: </td><td><%=h @scotty_dog_saying.saying %></td></tr>
<tr><td>Created:</td><td><%=h @scotty_dog_saying.created_at.to_s(:long)  %></td></tr>
<tr><td>Updated:</td><td><%=h @scotty_dog_saying.updated_at.to_s(:long)  %></td></tr>

<% if !@scotty_dog_saying.user_id.nil? %>
<tr><td>User Id:</td><td><%=h @scotty_dog_saying.user_id %></td></tr>
<tr><td>User Name:</td><td><%=h User.find(@scotty_dog_saying.user_id).email %></td></tr>
<% end %>

</table>

<p>
<% if @scotty_dog_saying.editable(current_user) %>
    <%= link_to 'Edit', edit_scotty_dog_saying_path(@scotty_dog_saying) %> |
<% end %>
<%= link_to 'Back', scotty_dog_sayings_path %>
</p>


<br /><br /><%= image_tag("/images/ScottyDogLandscape.jpg", :class => "bevel", :size => "236x69") %> 
