<% content_for :title, 'Setup peer evaluation for ' + @team.name %>
<h1> Learning Objective Setup </h1>

<%= form_for @objective, :url => {:action => "complete_setup"} do |f| %>

<input type="hidden" name="id" value="<%=params[:id]%>">

<% personcounter = 0 %>

  <% @people.each do |person| %>
    <%= person.human_name %><br />
    <%= f.text_area :learning_objective, :index => personcounter,  :size=>"80x5", :value=> @objectives[personcounter].learning_objective %><br />
    <% personcounter += 1 %>
    <br/>
  <%end%>
  <%= f.submit 'Create Learning Objectives' %>
<%end%>
<br/>