<link type="text/css" rel="stylesheet" href="/javascripts/jscal2.css" />
<link type="text/css" rel="stylesheet" href="/javascripts/border-radius.css" />

<script src="/javascripts/jscal2.js"></script>
<script src="/javascripts/en.js"></script>

<%= hidden_field_tag("yearFieldOne", 0) %>
<%= hidden_field_tag("dayFieldOne", 0) %>
<%= hidden_field_tag("monthFieldOne", 0) %>

<%= hidden_field_tag("yearFieldTwo", 0) %>
<%= hidden_field_tag("dayFieldTwo", 0) %>
<%= hidden_field_tag("monthFieldTwo", 0) %>

<h1> Learning Objective Setup </h1>

<%#*<table>%>
        <%#*<tr>%>
          <%#*<td>First Email Date:</td>%>
          <%#*<td align="left" style="padding-left:1.5em">%>
            <%#*<div id="cont"></div>%>
          <%#*<script type="text/javascript">%>
            <%#*var LEFT_CAL = Calendar.setup({%>
                    <%#*cont: "cont",%>
                    <%#*weekNumbers: true,%>
                    <%#*selectionType: Calendar.SEL_MULTIPLE,%>
                    <%#*showTime: 12%>
                    <%#*// titleFormat: "%B %Y"%>
            <%#*})%>

            <%#*LEFT_CAL.addEventListener("onSelect", function(){%>
                          <%#*var yearField = document.getElementById("yearFieldOne");%>
                          <%#*var dayField = document.getElementById("dayFieldOne");%>
                          <%#*var monthField = document.getElementById("monthFieldOne");%>

                          <%#*yearField.value = this.selection.print("%Y");%>
                          <%#*monthField.value = this.selection.print("%m");%>
                          <%#*dayField.value = this.selection.print("%d");%>

                  <%#*});%>
          <%#*</script>%>
          <%#*</td>%>
        <%#*</tr>%>
<%#*</table>%>

<%#*<table>%>
        <%#*<tr>%>
          <%#*<td>Second Email Date:</td>%>
          <%#*<td align="left" style="padding-left:1.5em">%>
            <%#*<div id="cont"></div>%>
          <%#*<script type="text/javascript">%>
            <%#*var LEFT_CAL = Calendar.setup({%>
                    <%#*cont: "cont",%>
                    <%#*weekNumbers: true,%>
                    <%#*selectionType: Calendar.SEL_MULTIPLE,%>
                    <%#*showTime: 12%>
                    <%#*// titleFormat: "%B %Y"%>
            <%#*})%>

            <%#*LEFT_CAL.addEventListener("onSelect", function(){%>
                          <%#*var yearField = document.getElementById("yearFieldTwo");%>
                          <%#*var dayField = document.getElementById("dayFieldTwo");%>
                          <%#*var monthField = document.getElementById("monthFieldTwo");%>

                          <%#*yearField.value = this.selection.print("%Y");%>
                          <%#*monthField.value = this.selection.print("%m");%>
                          <%#*dayField.value = this.selection.print("%d");%>

                  <%#*});%>
          <%#*</script></td></tr>%>
<%#*</table>%>

<%= form_for @objectives, :url => {:action => "complete_setup_update"} do |f| %>

<input type="hidden" name="id" value="<%=params[:id]%>">

<% personcounter = 0 %>

  <% @people.each do |person| %>
    <%= person.human_name %>  <br />
    <%= f.text_field :learning_objective, :value => PeerEvaluationLearningObjective.find(:first, :conditions => {:person_id => person.id, :team_id => params[:id]}).learning_objective, :index => personcounter %><br />
    <% personcounter += 1 %>
  <%end%>

  <%= f.submit 'Create Learning Objectives' %>
<%end%>