<% content_for :title, 'Suggestions' %>
<h1>Suggestions</h1>

<table>
<% for suggestion in @suggestions %>
  <tr>
    <td><%=h suggestion.comment %></td>
    <td><%=h suggestion.created_at.to_s(:long)  %></td>
    <td><%= link_to 'Show', suggestion %></td>
    <% if suggestion.editable(current_user) %>
      <td><%= link_to 'Edit', edit_suggestion_path(suggestion) %></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <% if current_user && current_user.is_admin %>
      <td><%= link_to 'Destroy', suggestion, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to 'New suggestion', new_suggestion_path %></p>
