<% content_for :title, 'New Suggestion' %>
<h1>New Suggestion</h1>
<%= form_for(@suggestion) do |f| %>
  <% if @suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>

      <ul>
      <% @suggestion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  <p>
    <%= f.hidden_field :page %>    
  </p>

  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :size => "80x10"  %>
  </p>
  <% if !current_user  %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <% end %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p><%= link_to 'Back', request.env["HTTP_REFERER"] unless request.env["HTTP_REFERER"].nil? %></p>