<!-- In order to make this page easier to use, consider this example:
http://web.archive.org/web/20080605121920/http://last10percent.com/2008/05/26/post-redirects-in-rails/
-->


<h1>Log In</h1>

<%= form_tag(user_session_url) do %>
    <p>
      <label for="openid_identifier">OpenID:</label>
      <%= text_field_tag "openid_identifier", "west.cmu.edu" %>
    </p>

    <p>
      <%= submit_tag 'Sign in', :disable_with => "Signing in&hellip;" %>
    </p>
  <% end %>


<% if Rails.env.development? %>
    <br/>
    There is a bug here.... "Password is not valid"
  <%= form_for @user_session, :url => user_session_path do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user session from being saved:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>     <p><%= f.label :login %><br />
    <%= f.text_field :login %></p>
    <p><%= f.label :password %><br />
    <%= f.password_field :password %></p>
    <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
    <br />
    <%= f.submit "Login" %>
  <% end %>
<% end %>

