<h1>Log In</h1>

<% form_tag(user_session_url) do %>
    <p>
      <label for="openid_identifier">OpenID:</label>
      <%= text_field_tag "openid_identifier", "west.cmu.edu" %>
    </p>

    <p>
      <%= submit_tag 'Sign in', :disable_with => "Signing in&hellip;" %>
    </p>
  <% end %>


<% if development? %>

<% form_tag user_session_path do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login', @login %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%= submit_tag 'Log in' %></p>
<% end -%>

<% end %> 