<h1>Editing Scotty Dog Saying</h1>

<%= form_for(@scotty_dog_saying) do |f| %>
  <% if @scotty_dog_saying.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scotty_dog_saying.errors.count, "error") %> prohibited this scotty dog saying from being saved:</h2>

      <ul>
      <% @scotty_dog_saying.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  <p>
    <%= f.label :saying, "Please put words in my mouth," %><br />
    <%= f.text_field :saying, :size => 80 %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @scotty_dog_saying %> |
<%= link_to 'Back', scotty_dog_sayings_path %>

<br /><br /><%= image_tag("/images/ScottyDogLandscape.jpg", :class => "bevel", :size => "236x69") %> 
