<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
              	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta content="Carnegie Mellon University" name="author">
	
        
	<meta content="index,follow" name="robots">
	<meta content="31 days" name="revisit-after">
<!--
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'site' %>
  <%= stylesheet_link_tag 'twiki' %>
-->
  <%= stylesheet_link_tag 'cmu_sv_simple' %>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js",
                             "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js",
                             "jquery_ujs.js",
                              "tablesorter",
                              "tablesorter_filter" %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" />

  <%= yield :tablesorter %>

   <title>Carnegie Mellon Silicon Valley - Carnegie Mellon University</title>  </head><body>

<div id=gbar class="noPrint"><nobr><b class=gb1>Rails</b><a href="http://partnerpage.google.com/west.cmu.edu?tab=oS" class=gb1 target=_blank>Google Apps</a><a href="http://info.sv.cmu.edu" class=gb1 target=_blank>TWiki</a> <a href="http://cmusv.acrobat.com" class=gb1 target=_blank>Adobe Connect</a>  <a href="http://sv.cmu.edu" class=gb1 target=_blank>CMU-SV website</a> </nobr></div><div class=gbh style=left:0></div><div class=gbh style=right:0></div>
<% if current_user %>
<div id="guser" align="right" class="noPrint"><nobr>
<b><%= current_user.email.downcase %></b>
|
<a class="aBlue" id="signOutLink" href="/logout">Log out</a>
&nbsp;
</nobr></div>
<% else %>
<div id="guser" align="right" class="noPrint"><nobr>
<a class="aBlue" id="signOutLink" href="/login_webiso">Log in</a>
&nbsp;
</nobr></div>
<% end %>
<div style="clear:both"></div>


<div id="masthead"><table cellspacing="0" cellpadding="0" class="searchbar" width="100%"><tr><td id="search-options-section"></td></tr>
<tr id="logo-section">
<td valign="top" rowspan="3" width="143" class="searchbar-logo"><div><a href="."><%= image_tag("/cmu_sv_simple/logo.png", :size => "143x59", :border=>"0", :alt=>"CMSV Logo") %></a></div></td>
<td valign="top" align="right"></td></tr>
<tr id="search-section"><td valign="top"><div><table width="100%" cellspacing="0" cellpadding="0"><tr><td valign="bottom">
</td>
</tr></table></div></td></tr>
</table>

<!-- <div class="note_top"></div><div class="note_body"><%= yield %><br/><br/></div><div class="note_bottom"></div> -->

<table cellpadding="0" cellspacing="0"><tr valign="top"><td>

<table cellspacing="0" cellpadding="0"><tr><td class="left_nav rounded">
<div class="left_nav rounded">
<div class="left_nav_line"><a href="/effort_logs">Effort Logs</a></div>
<div class="left_nav_line"><a href="/effort_logs">Effort Reports</a></div>
<div class="left_nav_line"><a href="/people">Users</a></div>
<div class="left_nav_line"><a href="/effort_logs">My Teams</a></div>
<div class="Lv1Nav"><a class="Lv1NavLink" href="/courses/current_semester"><%= AcademicCalendar.current_semester() %> <%= Date.today.year %> Courses</a></div>
<% if AcademicCalendar.next_semester_is_soon %>
<div class="Lv1Nav"><a class="Lv1NavLink" href="/courses/next_semester"><%= AcademicCalendar.next_semester() %> <%= AcademicCalendar.next_semester_year %> Courses</a></div>
<% end %>
<div class="left_nav_line" />
</div>
</td></tr></table>

<table cellspacing="0" cellpadding="0"><tr><td class="course rounded_left">
<div class="course rounded_left">
<div class="course_line"><a href="/effort_logs"><b>Foundations of Software Engineering</b></a></div>
<div class="course_line"><a href="/effort_logs">Syllabus</a></div>
<div class="course_line"><a href="/people">Calendar</a></div>
<div class="course_line"><a href="/effort_logs">Task 1. Preparation</a></div>
<div class="course_line"><a href="/courses/current_semester" class="active">Task 2. Iteration 0: Project Definition</a></div>
<div class="course_line"><a href="/courses/current_semester">Task 3: Develop and Document Requirements</a></div>
<div class="course_line"><a href="/courses/current_semester">Task 4: Product Roadmap and Support Plan</a></div>
</div>
</td></tr></table>

</td><td>



<table cellspacing="0">
<!--  <tr><td class="course_content_top rounded"></td></tr> -->
  <tr><td class="course_content_body rounded">
<div id="admin_2ColLevelContent">
<% if flash[:notice] %><p style="color: green"><%= flash[:notice] %></p><% end %>
<% if flash[:error] %><p style="color: red"><%= flash[:error] %></p><% end %>
<%= yield %>
</div>
  </td></tr>
<!--  <tr><td class="course_content_bottom rounded"></td></tr> -->
</table>




<table cellspacing="0">
  <tr><td class="note_top"></td></tr>
  <tr><td class="note_body">
<div id="admin_2ColLevelContent">
<% if flash[:notice] %><p style="color: green"><%= flash[:notice] %></p><% end %>
<% if flash[:error] %><p style="color: red"><%= flash[:error] %></p><% end %>
<%= yield %>
</div>
  </td></tr>
  <tr><td class="note_bottom"></td></tr>
</table>


<table cellspacing="0">
  <tr><td class="note_top"></td></tr>
  <tr><td class="note_body" id=""><div id="admin_2ColLevelContent"><p style="padding:0" class="suggestion">Do you have a <%= link_to 'suggestion', :controller => 'suggestions', :action => 'new'  %> ?</p></div></td></tr>
  <tr><td class="note_bottom"></td></tr>
</table>


<div class="footer_admin_level_Padding"><div id="footer_admin_level"><p>Carnegie Mellon Silicon Valley | NASA Research Park, Bldg. 23 (MS 23-11), Moffett Field, CA 94035 | (866) 401-9378</p><p><a href="mailto:admissions@sv.cmu.edu">Email</a> | <a href="http://www.cmu.edu/" title="Carnegie Mellon University Website Home Page">Carnegie Mellon Home</a></p></div></div>


</td></tr></table>




</body></html>
