<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="Carnegie Mellon University" name="author">


  <meta content="index,follow" name="robots">
  <meta content="31 days" name="revisit-after">


  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" %>
  <%= stylesheet_link_tag 'simple/simple_print', :media => "print" %>
  <%= javascript_include_tag "application", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" %>

  <%= csrf_meta_tag %>

  <%= yield :tablesorter %>

  <title><%= (title = yield :title) ? title : 'Carnegie Mellon Silicon Valley' %></title>
  <%# yield :javascript %>
  <%= yield :head %>

</head>
<body>

<div id="success_explanation"><p style="color: green"><%= flash[:notice] %></p></div>
<div id="error_explanation"><p style="color: red"><%= flash[:error] %></p></div>

<%= yield %>

</body>
</html>
